body {
  --callout-padding: var(--size-4-3) var(--size-4-6);
}

.callout-icon {
  margin-block: auto;
}

.callout-fold {
  margin: auto 0 !important;
}

body.quote-theme .callout-content blockquote {
  // box-shadow: none;
  // border: var(--size-2-1) solid var(--nav-item-background-hover) !important;
}