.canvas-wrapper {
  .canvas-node-container {
    border-radius: var(--radius-l);
    background-color: hsl(var(--background-primary-hsl));
  }

  .canvas-card-menu {
    padding: var(--size-2-1);
    border-radius: var(--radius-m);
    bottom: var(--size-4-6);

    .canvas-card-menu-button {
      --icon-size: var(--icon-l);
    }
  }

  :is(.canvas-menu, .canvas-controls-group) {
    border-radius: var(--radius-m);
  }

  .canvas-menu {
    padding: var(--size-4-1);

    .clickable-icon {
      padding: var(--size-2-3);
    }
  }

  .canvas-control {
    &-group {
      box-shadow: none;
      border-radius: var(--radius-m);
      background-color: hsl(var(--background-secondary-hsl));
    }

    button {
      transition: none;
      margin: var(--size-2-1);
      padding: var(--size-2-3);
      border-radius: var(--radius-s);
      border-bottom: none;

      &:not([disabled]):hover {
        background-color: var(--background-modifier-hover) !important;
      }
    }
  }
}

body.canvas-control-hide .canvas-control-group {
  opacity: 0;
  transition: var(--animation);
  transition-delay: var(--animation-delay);

  &:hover {
    transition-delay: 0s;
    opacity: 1
  }
}

body.canvas-center .canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view > .markdown-preview-sizer {
  text-align: center;
}