@use '../utils.scss' as *;

@mixin create-symbol($mark, $icon-name, $color) {
  :is(
      input[data-task='#{$mark}'],
      li[data-task='#{$mark}'] > input,
      li[data-task='#{$mark}'] > p > input
    ):checked {
    --checkbox-color: #{$color};
    border: none;
    &::after {
      inset: 0 !important;
      @include use-icon($icon-name, var(--background-primary));
    }
  }
}

@mixin create-symbol-override($mark, $icon-name, $color) {
  :is(
      input[data-task='#{$mark}'],
      li[data-task='#{$mark}'] > input,
      li[data-task='#{$mark}'] > p > input
    ):checked {
    --checkbox-marker-color: transparent;
    border: none;
    @include use-icon($icon-name, $color);
  }
}

@include use-no-plugin('.list-checkbox-alternative') {
  @include create-symbol('!', 'bi:exclamation-lg', var(--color-orange));
  @include create-symbol('?', 'bi:question-lg', var(--color-red));
  @include create-symbol-override('*', 'bi:star-fill', var(--color-yellow));
  @include create-symbol('i', 'bi:info-lg', var(--color-blue));
  @include create-symbol-override('/', 'bi:circle-half', var(--color-yellow));
  @include create-symbol('-', 'bi:dash', #666);
  [data-task='-'] {
    color: var(--text-faint);
    text-decoration: line-through solid var(--text-faint) 1px;
  }
  @include create-symbol-override('I', 'tb:bulb-filled', var(--color-yellow));
  @include create-symbol-override('l', 'tb:map-pin-filled', var(--color-red));
  @include create-symbol-override('b', 'bi:bookmark-fill', var(--color-blue));
  @include create-symbol-override('n', 'tb:note', var(--color-cyan));
  @include create-symbol-override(
    'p',
    'tb:thumb-up-filled',
    var(--color-green)
  );
  @include create-symbol-override(
    'c',
    'tb:thumb-down-filled',
    var(--color-yellow)
  );
  @include create-symbol-override('“', 'bi:quote', var(--color-purple));
  @include create-symbol('S', 'bi:currency-dollar', var(--color-green));
  @include create-symbol-override('u', 'tb:trending-up', var(--color-green));
  @include create-symbol-override('d', 'tb:trending-down', var(--color-red));
}
