@use 'sass:string';
@use 'sass:list';
@use 'sass:meta';
@use '../utils' as *;

:is(body, .print .markdown-rendered) {
  --inline-code: var(--setting-code-inline, var(--color-red));
  --code-background: var(--setting-code-bg, var(--md-container-bg));
  --code-function: var(--color-blue);
  --code-important: var(--color-purple);
  --code-keyword: var(--color-purple);
  --code-property: var(--color-yellow);
  --code-punctuation: rgb(var(--color-blue-rgb), 0.6);
  --code-operator: var(--code-punctuation);
  --code-class: var(--color-orange);
  --code-string: var(--color-green);
  --code-tag: var(--color-red);
  --code-value: var(--color-cyan);
  --code-comment: var(--text-faint);
  --code-variable: var(--color-yellow);
  --code-normal: var(--code-preview-base);
  --code-bg-radius: var(--radius-m);
  --code-bg-border: solid var(--accent-inactive);
  --code-border-width: 1px;
}

@include use-print('.theme-light') {
  --code-preview-base: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 30%)
  );
  --code-mac-style-header-bg: #333;
}

@include use-print('.theme-dark') {
  --code-preview-base: hsl(var(--accent-h), var(--accent-s), 85%);
  --code-mac-style-header-bg: #000;
}

.cm-hmd-codeblock.cm-formatting,
.markdown-rendered :not(pre) code {
  color: var(--inline-code);
}

.markdown-rendered code {
  border: var(--code-bg-border);
}

.markdown-preview-view pre code {
  color: var(--code-normal);
  border: none;
  border-radius: 0;
}

.cm-inline-code {
  color: var(--inline-code) !important;
  border-radius: var(--radius-s);
  border: var(--code-bg-border);

  &:not(.cm-formatting) {
    padding-inline: var(--size-2-1);
  }

  .cm-formatting-code + & {
    padding: 0;
  }

  &.cm-header {
    color: var(--inline-code) !important;
  }
}

.cm-formatting-code {
  &:has(+ .cm-inline-code) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    padding-left: var(--size-2-1);
  }

  & + .cm-inline-code {
    border-radius: 0;
    border-inline: 0;
  }

  .cm-inline-code + & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding-right: var(--size-2-1);
  }
}

.cm-s-obsidian .cm-line.HyperMD-codeblock {
  line-height: calc(var(--line-height-normal) - 0.2);
  color: var(--code-normal) !important;
  border-left: var(--code-bg-border);
  border-right: var(--code-bg-border);
  border-radius: 0 !important;

  .cm-fold-indicator .collapse-indicator {
    padding-left: var(--size-4-3);
    padding-right: unset !important;
    left: calc(var(--size-4-5) * -1);
    right: unset !important;
    cursor: pointer;
  }

  &.HyperMD-codeblock-begin-bg {
    border-top: var(--code-bg-border);
    border-top-left-radius: var(--code-bg-radius) !important;
    border-top-right-radius: var(--code-bg-radius) !important;
    margin-top: var(--size-2-1) !important;
  }

  &.HyperMD-codeblock-end-bg {
    border-bottom: var(--code-bg-border);
    border-bottom-left-radius: var(--code-bg-radius) !important;
    border-bottom-right-radius: var(--code-bg-radius) !important;
    margin-bottom: var(--size-2-1) !important;
  }
}

.markdown-source-view.mod-cm6
  .cm-embed-block:not(.cm-table-widget):not(.cm-callout) {
  box-shadow: none !important;
  border: var(--block-outline-width) solid transparent;
  border-radius: var(--radius-m) !important;
  transition: var(--animation);

  &:hover {
    border-color: var(--background-modifier-border-hover);
  }

  &:active {
    border-color: var(--background-modifier-border-focus);
  }

  .edit-block-button {
    border-radius: var(--radius-m) !important;
    transition: var(--animation);
    inset-block: 0.2rem;
    height: fit-content;
  }
}

.cm-hmd-codeblock .cm-indent::before {
  transform: unset !important;
}

.markdown-source-view.mod-cm6 .code-block-flair:has(svg) {
  width: calc(var(--size-4-8) - var(--size-4-1));
  height: calc(var(--size-4-8) - var(--size-4-1));
  padding: var(--size-4-1);

  svg {
    width: var(--size-4-5);
    height: var(--size-4-5);
  }
}

code[class*='language-'],
pre {
  line-height: calc(var(--line-height-normal) - 0.2);
}

body .markdown-rendered pre {
  border-radius: var(--code-bg-radius);
  border: var(--block-outline-width) solid var(--background-modifier-border);
  transition: var(--animation);
  overflow-x: hidden;

  &:hover {
    border-color: var(--background-modifier-border-hover);

    button.copy-code-button {
      opacity: 1;
    }
  }
  &:active {
    border-color: var(--background-modifier-border-focus);
  }

  .copy-code-button {
    --icon-size: var(--size-4-4);
    margin: var(--size-4-1);
    padding: var(--size-4-1);
    padding-bottom: var(--size-2-1) !important;
    display: block !important;
    opacity: 0;
    transition: opacity var(--animation);
    cursor: pointer;
  }
}

.code-nowrap {
  &.scrollbar-gutter-overlay {
    &:not(.code-mac-style-header) .app-container div pre {
      padding-bottom: calc(
        var(--code-size) * var(--line-height-normal) * 0.8
      ) !important;
    }

    pre code {
      padding-bottom: var(--size-2-3);
    }
  }

  pre code {
    word-break: normal;
    word-wrap: break-word;
    white-space: pre;
  }
}

/* https://prismjs.com/#supported-languages */
@include use-no-plugin('.code-language') {
  .markdown-rendered {
    --code-block-padding: calc(var(--font-text-size) * 1.2);

    pre {
      padding: var(--code-block-padding);
      position: relative;

      code[class*='language-']::before {
        content: 'Unkown';
        font-family: var(--font-mono);
        color: var(--setting-code-language-color, var(--inline-code));
        font-weight: bold;
        position: absolute;
        text-align: right;
        right: var(--size-4-8);
        top: calc(var(--code-block-padding) * 0.4);
        line-height: calc(var(--code-block-padding) * 0.8);
        z-index: 9;
      }
      $language: Markup, HTML, XML, SVG, MathML, SSML, Atom, RSS, CSS,
        (JavaScript, js), (Typescript, ts), JSX, (TypeScript-JSX, tsx), Ada,
        Apex, AppleScript, AQL, (Arduino, ino), (ArmAsm, arm-asm),
        (AsciiDoc, adoc), AspNet, Asm6502, AutoHotKey, (AWK, gawk),
        (bash, sh, shell), basic, batch, Bison, C, ('C\\#', csharp, cs, dotnet),
        ('C\\+\\+', cpp), Clojure, CMake, COBOL, (CoffeeScript, coffee), CSP,
        Crystal, CSV, CUE, D, Dart, Diff, Django, Jinja2, Docker, Dockerfile,
        EBNF, EditorConfig, EJS, Elixir, Elm, ERB, (Excel-Formula, xlsx, xls),
        ('F\\#', fsharp), Flow, Fortran, GDScript, Git, GLSL, Go,
        (Go-Module, go-mod), Gradle, GraphQL, Groovy, HAML,
        (Handlebars, hbs, mustache), (Haskell, hs), HCL, HLSL, HTTP, Icon,
        ICU-Message-Format, gitignore, Ini, Java, JavaDoc, JQ, JSDoc, JSON,
        JSON5, JSONP, Julia, (Kotlin, kt, kts), (Latex, tex), Less, Liquid,
        (Lisp, emacs, elisp, emacs-lisp), LLVM, Log, Lua, Makefile,
        (Markdown, md), MATLAB, Mermaid, MongoDB, Monkey, Neon, Nginx, Nim, Nix,
        NSIS, (ObjectC, objc), OCaml, odin, OpenCL, Pascal, Perl, PHP, PHPDoc,
        PowerShell, Properties, ProtoBuf, Pug, (Python, py), QML, R, Regex,
        (ReScript, res), Rip, (Ruby, rb), (Rust, rs), Sass, Scss, Scala,
        Solidity, SQL, stylus, Swift, TCL, TOML, (URI, url),
        (UnrealScript, uscript, uc), V, VBNet, Velocity, VHDL, Vim,
        (Visual-Basic, vb, vba), WASM, WGSL, WIKI, Wren, (YAML, yml), Zig;

      @each $lan in $language {
        @if meta.type-of($lan) == list {
          $name: list.nth($lan, 1);
          $aliases: ();
          @each $l in $lan {
            $aliases: list.append(
              $aliases,
              '.language-' + string.to-lower-case($l),
              comma
            );
          }
          code:is(#{$aliases})::before {
            content: unescape($name);
          }
        } @else {
          code.language-#{string.to-lower-case($lan)}::before {
            content: string.quote($lan);
          }
        }
      }
    }
  }
}

.markdown-source-view.mod-cm6 .code-block-flair {
  padding-block: 0;
  color: var(--inline-code);
  transition: var(--animation);
  font-family: var(--font-mono);
  font-weight: bold;

  &:hover {
    background-color: var(--nav-item-background-hover);
  }
}

:is(.cm-tag, .cm-attribute, .cm-string) {
  font-family: var(--font-monospace);
}

.code-theme :is(.markdown-rendered, .markdown-source-view.mod-cm6) {
  .token {
    &.script {
      color: var(--code-normal);
    }
    &.imports {
      color: var(--code-variable);
    }
    &:is(.builtin, .regex, .keyword) {
      font-style: italic;
      color: var(--code-important);
    }
    &:is(.selector, .inserted, .char, .attr-value) {
      color: var(--color-cyan);
    }
    &:is(.class-name, .maybe-class-name, .color) {
      color: var(--code-class);
    }
    &:is(
        .property-access,
        .attr-name,
        .annotation,
        .key,
        .entity,
        .parameter,
        .url
      ) {
      color: var(--code-variable);
    }
    &:is(.comment, .prolog, .doctype, .cdata) {
      color: var(--code-comment);
    }
  }

  .cm-tag {
    color: var(--code-tag);
  }

  :is(.cm-punctuation, .cm-bracket, .cm-hr, .cm-operator) {
    color: var(--code-punctuation);
  }

  .cm-number {
    color: var(--code-value);
  }

  :is(
      .cm-qualifier,
      .cm-string:not(.cm-url),
      .cm-string-2,
      .cm-meta:not(.cm-hashtag)
    ) {
    color: var(--code-string);
  }

  :is(
      .cm-def,
      .cm-property,
      .cm-number + .cm-variable,
      .cm-attribute,
      .cm-atom
    ) {
    color: var(--code-property);
  }

  .cm-type {
    color: var(--code-keyword);
    font-weight: bold;
  }
  .cm-keyword {
    font-style: italic;
  }

  .cm-variable {
    color: var(--code-normal);
  }

  .cm-variable-2 {
    color: var(--code-variable);
    filter: hue-rotate(20deg) saturate(1.1);
  }

  .cm-variable-3 {
    filter: hue-rotate(40deg);
  }
}

.code-mac-style-header:not(:has(.print)) .markdown-rendered pre:not(.dataview) {
  border: none;
  padding-top: calc(var(--code-size) * var(--line-height-normal) * 1.5);
  padding-bottom: calc(
    var(--code-size) * var(--line-height-normal) * 0.5
  ) !important;

  code[class*='language-']::before {
    color: var(--setting-code-language-color, var(--accent-active));
  }

  &::after {
    content: '';
    width: 100%;
    height: calc(var(--code-size) * var(--line-height-normal) * 1.2);
    background-color: var(--code-mac-style-header-bg);
    top: 0;
    left: 0;
    position: absolute;
  }

  $light-size: calc(var(--code-size) - var(--size-2-1));

  &::before {
    content: '';
    width: $light-size;
    height: $light-size;
    position: absolute;
    left: 0.8rem;
    top: calc(
      $light-size * var(--line-height-normal) * 0.7 - var(--code-size) / 3
    );
    border-radius: 50%;
    z-index: 9;
    background-color: rgba(255, 94, 92, var(--color-opacity));
    box-shadow: calc(var(--size-4-5) * 0.9) 0 0 0
        rgba(255, 187, 78, var(--color-opacity)),
      calc(var(--size-4-5) * 1.8) 0 0 0 rgba(81, 188, 0, var(--color-opacity));
  }

  .copy-code-button {
    position: absolute;
    z-index: 10;
    color: var(--setting-code-language-color, var(--accent-active));
  }
}

.code-line-number .cm-contentContainer {
  counter-reset: code-line;

  .cm-line.HyperMD-codeblock {
    padding-left: var(--size-4-12) !important;

    &:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
      &::before {
        counter-increment: code-line;
        content: counter(code-line);
        position: absolute;
        text-align: right;
        width: var(--size-4-8);
        left: 0;
        color: var(--accent-inactive);
      }

      &.cm-active::before {
        color: var(--accent-active);
      }
    }

    &-end {
      counter-set: code-line;
    }
  }
}

// todo))
.code-preview-bg {
  --code-bg-s: 50%;
  --code-bg-l: 85%;

  .markdown-preview-view .markdown-preview-section {
    div:has(> pre:not([class*='frontmatter'])) {
      padding: var(--size-4-4) var(--size-4-8);
      margin-block: var(--size-4-4);
      border-radius: var(--setting-code-bg-radius);
      background-image: var(
        --setting-code-bg-outer,
        linear-gradient(
          -30deg,
          hsl(calc(var(--accent-h) + 145), var(--code-bg-s), var(--code-bg-l)),
          hsl(calc(var(--accent-h) + 115), var(--code-bg-s), var(--code-bg-l)),
          hsl(calc(var(--accent-h) + 90), var(--code-bg-s), var(--code-bg-l)),
          hsl(calc(var(--accent-h) + 65), var(--code-bg-s), var(--code-bg-l)),
          hsl(calc(var(--accent-h) + 35), var(--code-bg-s), var(--code-bg-l))
        )
      );
    }

    pre:not([class*='frontmatter']) {
      --code-background: var(
        --setting-code-bg,
        hsl(var(--background-secondary-hsl))
      );
      border-width: 0;
    }
  }
}

.theme-dark
  .markdown-preview-view
  .markdown-preview-section
  div:has(> pre:not([class*='frontmatter'])) {
  --code-bg-s: 20%;
  --code-bg-l: 45%;
}
