body.embed-enable {

  .internal-embed.is-loaded:not(.image-embed) {
    --embed-background: var(--background-primary);
    --embed-max-height: initial;
    transition: var(--animation);
    padding: var(--size-4-1) var(--size-2-1) !important;

    :is(.markdown-embed-link, .file-embed-link) {
      padding: var(--size-2-3);
      border-radius: var(--radius-m);
      transition: var(--animation);
      color: var(--accent-active);
      top: 0.2rem;
      right: 0.2rem;

      &:hover {
        background-color: var(--nav-item-background-hover);
      }
    }

    &.mod-empty {
      border: var(--size-2-1) dotted var(--accent-inactive);
    }

    .markdown-embed-title {
      text-align: center;
      line-height: 2.8;
    }

    &:is(.markdown-embed, .file-embed) {
      border-radius: var(--radius-xl);
      transition: var(--animation);
      margin-block: var(--size-4-1) !important;
      padding: 0;
      border: var(--block-outline-width) solid var(--accent-inactive);

      .markdown-preview-view {
        padding: calc(var(--font-text-size) * 1.2) calc(var(--font-text-size) * 1.5);
        position: initial;

        .markdown-preview-section {
          min-height: fit-content !important;
        }
      }

      &:hover {
        border-color: var(--accent-active);
      }

      .frontmatter + div {
        display: none;
      }
    }

    svg.link {
      transform: rotate(90deg);
    }
  }

  &.scrollbar-gutter-reserve.embed-title-right-top .internal-embed.is-loaded:not([alt='#']) .markdown-embed-heading .markdown-preview-section > div:nth-child(2) {
    right: var(--size-4-3);
  }

  &.embed-title-right-top .internal-embed.is-loaded:not([alt='#']) {
    .obsidian-metatable {
      display: none;
    }

    &:not([src*="#^"]) .embed-title:empty + .markdown-embed-content .markdown-preview-section > div:nth-child(3) {
      position: absolute;
      right: var(--size-4-9);
      top: var(--size-4-2);
      z-index: 99;
      opacity: 0;
      transition: var(--animation);

      * {
        font-size: 1rem;
        cursor: pointer;
        line-height: 1rem;

        &::after {
          content: none;
        }
      }
    }

    .markdown-embed-title {
      opacity: 0;
      position: absolute;
      z-index: 99;
      width: fit-content;
      right: 28px;
      left: unset;
      font-size: 1rem;
      top: var(--size-4-1);
      line-height: 28px;
      height: 28px;
      padding: 0 var(--size-4-2);
      border-radius: var(--radius-m);
      transition: var(--animation);
      cursor: pointer;
    }

    &:hover {
      .embed-title:empty + .markdown-embed-content .markdown-preview-section > div:nth-child(3) {
        opacity: 1;
      }

      :is(.markdown-embed-title, .markdown-embed-link, .file-embed-link:hover svg) {
        opacity: 1;
        color: var(--text-normal);
      }
    }

    :is(.markdown-embed, .file-embed) .markdown-preview-view {
      padding: calc(var(--font-text-size) * 1.5);
      padding-bottom: calc(var(--font-text-size) * 1.2);
    }
  }
}