@use '../utils.scss';

body {
  --embed-background: var(--bg-editor);
  --embed-padding: var(--size-4-5) var(--size-4-4);
  --embed-block-shadow-hover: 0 0 0 1px var(--accent-inactive),
    inset 0 0 0 1px var(--accent-inactive);
  --embed-border-start: var(--size-2-1) solid var(--accent-inactive);
  --embed-border-end: var(--embed-border-start);
  --embed-border-top: var(--embed-border-start);
  --embed-border-bottom: var(--embed-border-start);

  // latex block
  .markdown-source-view.mod-cm6 .cm-embed-block {
    margin-block: var(--size-4-1) !important;
    border-radius: var(--radius-m) !important;
    transition: box-shadow var(--animation);

    .edit-block-button {
      border-radius: var(--radius-s) !important;
      transition: var(--animation);
      transition-property: background-color, opacity;
      height: fit-content;
    }
  }

  .internal-embed.is-loaded:not(.image-embed) {
    transition: var(--animation);
    transition-property: border-color, background-color;
    border-radius: var(--radius-m);
    margin-block: var(--size-4-1) !important;

    &:hover {
      border-color: var(--accent-active);
    }

    &:is(.mod-empty, .mod-empty-attachment) {
      border: var(--size-2-1) dotted var(--text-faint);
    }

    :is(.markdown-embed-link, .file-embed-link) {
      border-radius: var(--radius-s);
      transition: var(--animation);
      transition-property: color, background-color;

      &:hover {
        background-color: var(--nav-item-background-hover);
      }
    }
    .markdown-embed-title {
      display: none;
    }
  }

  .cm-lang-query {
    .internal-query-header {
      padding-inline: var(--size-4-2);
    }
  }

  &.embed-border-hidden {
    --embed-border-start: none;
    --embed-background: var(--background-primary-alt);
  }

  &.scrollbar-gutter-reserve.embed-title-right-top
    .internal-embed.is-loaded:not([alt='#'])
    .markdown-embed-heading
    .markdown-preview-section
    > div:nth-child(2) {
    right: var(--size-4-3);
  }

  &.embed-title-right-top .internal-embed.is-loaded:not([alt='#']) {
    .obsidian-metatable {
      display: none;
    }

    &:not([src*='#^'])
      .embed-title:empty
      + .markdown-embed-content
      .markdown-preview-section
      > div:nth-child(3) {
      position: absolute;
      right: var(--size-4-9);
      top: var(--size-4-2);
      z-index: 99;
      opacity: 0;
      transition: var(--animation);

      * {
        font-size: 1rem;
        cursor: pointer;
        line-height: 1rem;

        &::after {
          content: none;
        }
      }
    }

    .markdown-embed-title {
      opacity: 0;
      position: absolute;
      z-index: 99;
      width: fit-content;
      right: 28px;
      left: unset;
      font-size: 1rem;
      top: var(--size-4-1);
      line-height: 28px;
      height: 28px;
      padding: 0 var(--size-4-2);
      border-radius: var(--radius-m);
      transition: var(--animation);
      cursor: pointer;
    }

    &:hover {
      .embed-title:empty
        + .markdown-embed-content
        .markdown-preview-section
        > div:nth-child(3) {
        opacity: 1;
      }

      :is(
          .markdown-embed-title,
          .markdown-embed-link,
          .file-embed-link:hover svg
        ) {
        opacity: 1;
        color: var(--text-normal);
      }
    }

    :is(.markdown-embed, .file-embed) .markdown-preview-view {
      padding: calc(var(--font-text-size) * 1.5);
      padding-bottom: calc(var(--font-text-size) * 1.2);
    }
  }
}
