@use '../utils' as *;
@use 'sass:list';
@use 'sass:string';

$headings: ':is(h1, h2, h3, h4, h5, h6)';

$default-sizes: 1.6, 1.5, 1.4, 1.3, 1.2, 1.1;
$default-weights: 750, 700, 600, 550, 550, 500;

body {
  @for $i from 1 through 6 {
    $size: list.nth($default-sizes, $i);
    $weight: list.nth($default-weights, $i);
    --h#{$i}-size: calc(
      var(--font-text-size) * var(--setting-h#{$i}-size, #{$size})
    );
    --h#{$i}-weight: var(--setting-h#{$i}-weight, #{$weight});
    --h#{$i}-font: var(--setting-h#{$i}-font, var(--font-text));
    --h#{$i}-line-height: calc(var(--line-height-normal) * var(--h#{$i}-size));
  }

  &.heading-color-base {
    @for $i from 1 through 6 {
      --h#{$i}-color: var(--text-normal);
    }
  }

  &.heading-color-accent {
    @for $i from 1 through 6 {
      --h#{$i}-color: var(--accent-active);
    }
  }

  @for $i from 1 through 6 {
    &.heading-h#{$i}-caps {
      --h#{$i}-variant: small-caps;
    }
    &.heading-h#{$i}-italic {
      --h#{$i}-style: italic;
    }
    &.heading-h#{$i}-center :is(.HyperMD-header-#{$i}, h#{$i}) {
      text-align: center;
    }
  }
}

$heading-colorful: red, orange, green, blue, purple, cyan;
@include use-no-plugin('.heading-color-colorful') {
  @for $i from 1 through 6 {
    --h#{$i}-color-rgb: var(
      --setting-h#{$i}-color,
      var(--color-#{list.nth($heading-colorful, $i)}-rgb)
    );
    --h#{$i}-color: rgb(var(--h#{$i}-color-rgb));
  }
}

body .cm-contentContainer :first-child .cm-formatting.cm-formatting-header {
  color: var(--color-base-50);
  font-weight: 400;
  font-size: var(--font-text-size) !important;
  line-height: var(--line-height-normal);
}

@for $i from 1 through 6 {
  $selector: ':is(h#{$i}, .HyperMD-header-#{$i})';

  #{$selector} {
    --h-indicator-content: 'H#{$i}';
  }

  .link-heading #{$selector} {
    --link-color: var(--h#{$i}-color);
    --link-color-underline: var(--h#{$i}-color);
    --link-external-color: var(--h#{$i}-color);
    --link-external-color-underline: var(--h#{$i}-color);
    --link-text-size: var(--h#{$i}-size);
  }
}

.markdown-source-view.mod-cm6 .HyperMD-header .cm-fold-indicator {
  position: unset;
  .collapse-indicator {
    inset-inline-start: -1.4rem;
    inset-inline-end: unset;
  }
}

#{$headings} {
  position: relative;
}

.markdown-preview-view .heading-collapse-indicator {
  margin: 0;
  inset-inline-start: -1.4rem;
}

@include use-no-plugin(':not(.heading-indicator-disable)') {
  $live-preview-base: '.markdown-source-view.mod-cm6.is-live-preview';
  $reading-view-base: 'div.markdown-reading-view > div > div > div';

  $live-preview-header: '#{$live-preview-base} .HyperMD-header';
  $reading-view-header: '#{$reading-view-base} > #{$headings}';
  $live-preview-header-collapsed: '#{$live-preview-base} .HyperMD-header:has(>.is-collapsed)';
  $reading-view-header-collapsed: '#{$reading-view-base}.is-collpased > #{$headings}';

  $normal-selector: ':is(#{$live-preview-header}, #{$reading-view-header})';
  $collapsed-selector: ':is(#{$live-preview-header-collapsed}, #{$reading-view-header-collapsed})';

  #{$normal-selector} {
    --h-indicator-color: transparent;
    position: relative;
    &::before {
      content: var(--h-indicator-content, '');
      position: absolute;
      font-size: calc(var(--font-text-size) * 0.7);
      left: -1.2rem;
      color: var(--h-indicator-color, inherit);
      text-decoration: var(--h-indicator-decoration, none);
      pointer-events: none;
    }
    &:hover {
      --h-indicator-color: inherit;
    }
    :is(.collapse-indicator, .header-collapse-indicator) {
      opacity: 0 !important;
      padding-inline-start: var(--size-4-2);
    }
  }

  #{$collapsed-selector} {
    --h-indicator-color: inherit;
  }

  &.heading-indicator-fixed {
    #{$normal-selector} {
      --h-indicator-color: var(--text-faint);
      &:hover {
        --h-indicator-color: inherit;
      }
    }
    #{$collapsed-selector} {
      --h-indicator-color: inherit;
      --h-indicator-decoration: underline;
    }
  }
}

body.line-active-left .cm-active.HyperMD-header {
  &::before {
    opacity: 1 !important;
  }
  @for $i from 1 through 6 {
    &-#{$i}::before {
      color: var(--h#{$i}-color) !important;
    }
  }
}

// underline

@for $i from 1 through 6 {
  .heading-h#{$i}-underline .app-container {
    :is(.HyperMD-header-#{$i} .cm-header:not(.cm-formatting), h#{$i}) {
      text-decoration: underline var(--size-2-1);
      text-underline-offset: var(--size-4-2);
    }
  }
}

// full line

$full-selectors: ();

@for $i from 1 through 6 {
  .heading-h#{$i}-full-line .app-container {
    :is(.HyperMD-header-#{$i}, h#{$i}) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: var(--size-2-1);
        height: var(--size-2-1);
        inset-inline: 0;
        background: var(--heading-h#{$i}-full-line-bg, currentColor);
        border-radius: var(--size-2-1);
      }
    }
    &.heading-h#{$i}-full-line-left {
      --heading-h#{$i}-full-line-bg: linear-gradient(
        to right,
        currentColor 10%,
        transparent 90%
      );
    }
    &.heading-h#{$i}-full-line-right {
      --heading-h#{$i}-full-line-bg: linear-gradient(
        to left,
        currentColor 10%,
        transparent 90%
      );
    }
  }
}

// block

@for $i from 1 through 6 {
  .heading-h#{$i}-block {
    &.heading-color-base {
      --h#{$i}-color-bg: var(--color-base-30);
    }
    &.heading-color-accent {
      --h#{$i}-color-bg: hsla(
        var(--theme-accent-active-h),
        var(--theme-accent-active-s),
        var(--theme-accent-active-l),
        0.15
      );
    }
    &.heading-color-colorful {
      --h#{$i}-color-bg: rgba(var(--h#{$i}-color-rgb), 0.15);
    }
    &.heading-h#{$i}-block-contrast {
      --h#{$i}-color-bg: rgba(var(--h#{$i}-color-rgb));
      .app-container {
        :is(
            .HyperMD-header-#{$i} .cm-header:not(.cm-formatting-header),
            h#{$i}
          ) {
          color: var(--text-on-accent);
          caret-color: currentColor;
        }
      }
    }
    .app-container {
      :is(.HyperMD-header-#{$i} .cm-header:not(.cm-formatting-header), h#{$i}) {
        background-color: var(--h#{$i}-color-bg);
        padding: var(--size-4-1) 0.6rem;
        border-radius: var(--size-2-3);
        -webkit-box-decoration-break: clone;
        box-decoration-break: ignore;
        &::selection {
          color: var(--h#{$i}-color);
          background-color: var(--background-secondary);
        }
      }
      h#{$i} {
        width: fit-content;
        line-height: 1.2;
        --heading-spacing: calc(
          var(--h2-line-height) - 1.2 * var(--h#{$i}-size)
        );
      }
    }
    &:not(.heading-indicator-disable) h#{$i}::before {
      top: -0.3rem;
      line-height: var(--h#{$i}-line-height);
    }
  }
}
