@use '../utils';

$headings: ':is(h1, h2, h3, h4, h5, h6)';
$cm-headings: '.HyperMD-header-1', '.HyperMD-header-2', '.HyperMD-header-3',
  '.HyperMD-header-4', '.HyperMD-header-5', '.HyperMD-header-6';

body {
  --font-bold: bold;
  --h1-size: calc(var(--font-text-size) * var(--setting-h1-size, 1.6));
  --h2-size: calc(var(--font-text-size) * var(--setting-h2-size, 1.5));
  --h3-size: calc(var(--font-text-size) * var(--setting-h3-size, 1.4));
  --h4-size: calc(var(--font-text-size) * var(--setting-h4-size, 1.3));
  --h5-size: calc(var(--font-text-size) * var(--setting-h5-size, 1.2));
  --h6-size: calc(var(--font-text-size) * var(--setting-h6-size, 1.1));
  --h1-weight: var(--font-bold);
  --h2-weight: var(--font-bold);
  --h3-weight: var(--font-bold);
  --h4-weight: var(--font-bold);
  --h5-weight: var(--font-bold);
  --h6-weight: var(--font-bold);
  --h1-line-height: calc(var(--setting-line-height, var(--line-height-normal)) * var(--h1-size));
  --h2-line-height: calc(var(--setting-line-height, var(--line-height-normal)) * var(--h2-size));
  --h3-line-height: calc(var(--setting-line-height, var(--line-height-normal)) * var(--h3-size));
  --h4-line-height: calc(var(--setting-line-height, var(--line-height-normal)) * var(--h4-size));
  --h5-line-height: calc(var(--setting-line-height, var(--line-height-normal)) * var(--h5-size));
  --h6-line-height: calc(var(--setting-line-height, var(--line-height-normal)) * var(--h6-size));
  --h1-font: var(--setting-h1-font, var(--font-text));
  --h2-font: var(--setting-h2-font, var(--font-text));
  --h3-font: var(--setting-h3-font, var(--font-text));
  --h4-font: var(--setting-h4-font, var(--font-text));
  --h5-font: var(--setting-h5-font, var(--font-text));
  --h6-font: var(--setting-h6-font, var(--font-text));

  &.heading-color-base {
    --h1-color: var(--text-normal);
    --h2-color: var(--text-normal);
    --h3-color: var(--text-normal);
    --h4-color: var(--text-normal);
    --h5-color: var(--text-normal);
    --h6-color: var(--text-normal);
  }

  &.heading-color-accent {
    --h1-color: var(--accent-active);
    --h2-color: var(--accent-active);
    --h3-color: var(--accent-active);
    --h4-color: var(--accent-active);
    --h5-color: var(--accent-active);
    --h6-color: var(--accent-active);
  }


  #{$headings} {
    margin: 0 !important;
  }
}

#{utils.with-no-plugin('.heading-color-colorful')} {
  --h1-color: var(--setting-h1-color, var(--color-red));
  --h2-color: var(--setting-h2-color, var(--color-yellow));
  --h3-color: var(--setting-h3-color, var(--color-green));
  --h4-color: var(--setting-h4-color, var(--color-blue));
  --h5-color: var(--setting-h5-color, var(--color-purple));
  --h6-color: var(--setting-h6-color, var(--color-cyan));
}

.cm-formatting.cm-formatting-header {
  filter: grayscale(70%);
  font-weight: 400 !important;

  body:not(.fix-line-number) & {
    font-size: 1rem !important;
    line-height: 1.2rem;
  }
}

.cm-s-obsidian .cm-line.HyperMD-header {
  padding-block: 0;
}

#{utils.with-no-plugin('.heading-level-enable')} {

  :is(div.markdown-reading-view > div > div > div > #{$headings}, .markdown-source-view.mod-cm6.is-live-preview .HyperMD-header) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      padding: 0.1rem;
      background-color: transparent;
      font-size: 0.7rem;
      line-height: 1;
      width: fit-content;
      letter-spacing: 0.05rem;
      opacity: 0;
      transition: var(--animation);
      transition-delay: calc(var(--animation-delay) / 2);
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      left: calc(var(--size-4-5) * -1);
    }

    &:hover::before {
      opacity: 0.9;
      transition-delay: 0s;
      pointer-events: all;
    }
  }

  :is(div.markdown-reading-view > div > div > div.is-collapsed > #{$headings},
    .markdown-source-view.mod-cm6.is-live-preview .HyperMD-header:has(>.cm-foldPlaceholder))::before {
    opacity: 0.9;
    text-decoration: underline 0.1rem;
  }

  &.heading-level-fix :is(div.markdown-reading-view > div > div > div:not(.is-collapsed) > #{$headings},
    .markdown-source-view.mod-cm6.is-live-preview .HyperMD-header:not(:has(>.cm-foldPlaceholder))) {
    &::before {
      opacity: 0.4;
    }

    &:not(:hover)::before {
      color: var(--text-muted);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  div.markdown-reading-view > div > div > div > #{$headings}::before {
    left: calc(var(--size-4-6) * -1) !important;
  }

  @for $i from 1 through 6 {
    $selector: ':is(div.markdown-reading-view>div>div>div>h#{$i}, .markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-#{$i})';

    &.link-heading #{$selector} {
      --link-color: var(--h#{$i}-color);
      --link-color-underline: var(--h#{$i}-color);
      --link-external-color: var(--h#{$i}-color);
      --link-external-color-underline: var(--h#{$i}-color);
      --link-text-size: var(--h#{$i}-size);
    }

    #{$selector}::before {
      content: 'H#{$i}';
    }
  }

  div.markdown-reading-view > div > div > div > #{$headings}::before {
    left: calc(-1 * var(--size-4-6)) !important;
  }

  .heading-collapse-indicator {
    position: absolute;
    z-index: 99;
    height: var(--size-4-4);
    width: var(--size-4-5);
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--size-2-1) * -1);
    padding: 0 !important;
    --cursor: pointer;

    svg {
      display: none;
    }
  }

  .HyperMD-header {
    position: relative;

    .cm-fold-indicator .collapse-indicator {
      --cursor: pointer;
      z-index: 99;
      opacity: 0 !important;
      width: var(--size-4-6);
      height: var(--size-4-4) !important;
      left: calc(var(--size-2-1) - var(--size-4-8));
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
  }

}

body.heading-h1-center h1 {
  text-align: center;
}

@for $i from 1 through 6 {
  body.heading-h#{$i}-underline {
    :is(h#{$i}, .HyperMD-header-#{$i}) {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: var(--size-4-1);
        width: 100%;
        bottom: calc(var(--h#{$i}-size) * var(--line-height-normal) * 0.3 - var(--size-4-3));
        border-radius: var(--size-2-1);
        background-image: linear-gradient(to right,
          var(--h#{$i}-color) 30%,
          transparent 70%);
      }
    }

    h#{$i}::after {
      left: 0;
    }

    .HyperMD-header-#{$i}::after {
      left: var(--size-4-1);
    }

    .vertical-tab-content h#{$i} {
      font-size: var(--h#{$i}-size);
      font-weight: var(--h#{$i}-weight);
    }

    &.heading-underline-thin :is(h#{$i}, .HyperMD-header-#{$i})::after {
      height: var(--size-2-1);
    }
  }
}

body.heading-h6-variant :is(h6, .cm-header-6) {
  font-variant: small-caps;
}