@use '../utils' as *;
@use 'sass:list';
@use 'sass:string';

$headings: ':is(h1, h2, h3, h4, h5, h6)';
$cm-headings: '.HyperMD-header-1', '.HyperMD-header-2', '.HyperMD-header-3',
  '.HyperMD-header-4', '.HyperMD-header-5', '.HyperMD-header-6';

$default-sizes: 1.6, 1.5, 1.4, 1.3, 1.2, 1.1;
$default-weights: 750, 700, 600, 550, 550, 500;

$reading-view-base: 'div.markdown-reading-view > div > div > div';
$lp-header-base: '.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header';

body {
  @for $i from 1 through 6 {
    $size: list.nth($default-sizes, $i);
    $weight: list.nth($default-weights, $i);
    --h#{$i}-size: calc(
      var(--font-text-size) * var(--setting-h#{$i}-size, #{$size})
    );
    --h#{$i}-weight: var(--setting-h#{$i}-weight, #{$weight});
    --h#{$i}-font: var(--setting-h#{$i}-font, var(--font-text));
    --h#{$i}-line-height: calc(
      var(--line-height-normal) *
        var(--h#{$i}-size) *
        var(--h#{$i}-size-factor, 1)
    );
  }

  &.heading-color-base {
    @for $i from 1 through 6 {
      --h#{$i}-color: var(--text-normal);
    }
  }

  &.heading-color-accent {
    @for $i from 1 through 6 {
      --h#{$i}-color: var(--accent-active);
    }
  }

  @for $i from 1 through 6 {
    &.heading-h#{$i}-caps {
      --h#{$i}-variant: small-caps;
    }
    &.heading-h#{$i}-center :is(.HyperMD-header-#{$i}, h#{$i}) {
      text-align: center;
    }
  }
}

.markdown-source-view {
  $size-factors: 0.8, 0.8, 0.85, 0.85, 0.9, 0.9;
  @for $i from 1 through 6 {
    --h#{$i}-size-factor: list.nth($size-factors, $i);
  }
}

@include use-no-plugin('.heading-color-colorful') {
  $colorful: red, orange, green, blue, purple, cyan;
  @for $i from 1 through 6 {
    --h#{$i}-color: var(
      --setting-h#{$i}-color,
      var(--color-#{list.nth($colorful, $i)})
    );
  }
}

body .cm-contentContainer :first-child .cm-formatting.cm-formatting-header {
  color: var(--color-base-50);
  font-weight: 400;
  font-size: var(--font-text-size) !important;
  line-height: var(--line-height-normal);
}

@include use-no-plugin(':not(.heading-indicator-disable)') {
  $reading-view-headings: '#{$reading-view-base} > #{$headings}';
  $lp-header: '#{$lp-header-base}';

  :is(#{$reading-view-headings}, #{$lp-header}) {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      padding: 0.1rem;
      background-color: transparent;
      font-size: 0.7rem;
      line-height: 1;
      width: fit-content;
      letter-spacing: 0.05rem;
      opacity: 0;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      left: calc(var(--size-4-5) * -1);
    }

    &:hover::before {
      opacity: 0.9;
      pointer-events: all;
    }
  }

  $reading-view-collapsed: '#{$reading-view-base}.is-collapsed > #{$headings}';
  $lp-header-collapsed: '#{$lp-header-base}:has(> .cm-foldPlaceholder)';

  :is(#{$reading-view-collapsed}, #{$lp-header-collapsed})::before {
    opacity: 0.9;
    text-decoration: underline 0.1rem;
  }

  &.heading-indicator-fixed
    :is(
      #{$reading-view-base}:not(.is-collapsed) > #{$headings},
      #{$lp-header-base}:not(:has(> .cm-foldPlaceholder))
    ) {
    &::before {
      opacity: 0.4;
    }

    &:not(:hover)::before {
      color: var(--text-muted);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  #{$reading-view-headings}::before {
    left: calc(var(--size-4-6) * -1) !important;
  }

  @for $i from 1 through 6 {
    $reading-view-h: '#{$reading-view-base} > h#{$i}';
    $lp-header-i: '#{$lp-header-base}-#{$i}';
    $selector: ':is(#{$reading-view-h}, #{$lp-header-i})';

    &.link-heading #{$selector} {
      --link-color: var(--h#{$i}-color);
      --link-color-underline: var(--h#{$i}-color);
      --link-external-color: var(--h#{$i}-color);
      --link-external-color-underline: var(--h#{$i}-color);
      --link-text-size: var(--h#{$i}-size);
    }

    #{$selector}::before {
      content: 'H#{$i}';
    }
  }

  #{$reading-view-base} > #{$headings}::before {
    left: calc(-1 * var(--size-4-6)) !important;
  }

  .heading-collapse-indicator {
    position: absolute;
    z-index: 99;
    height: var(--size-4-4);
    width: var(--size-4-6);
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--size-2-1) * -1);
    padding: 0 !important;
    --cursor: pointer;

    svg {
      display: none;
    }
  }

  .HyperMD-header {
    position: relative;

    .cm-fold-indicator .collapse-indicator {
      --cursor: pointer;
      z-index: 99;
      opacity: 0 !important;
      width: var(--size-4-6);
      height: var(--size-4-4) !important;
      left: calc(var(--size-2-1) - var(--size-4-8));
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
  }
}

body.line-active-left .cm-active.HyperMD-header {
  &::before {
    opacity: 1 !important;
  }
  @for $i from 1 through 6 {
    &-#{$i}::before {
      color: var(--h#{$i}-color) !important;
    }
  }
}

// underline

$underline-selectors: ();

@for $i from 1 through 6 {
  $underline-selectors: list.append(
    $underline-selectors,
    string.unquote(
      '.heading-h#{$i}-underline :is(.HyperMD-header-#{$i} .cm-header:not(.cm-formatting), h#{$i})'
    ),
    comma
  );
}

#{$underline-selectors} {
  text-decoration: underline var(--size-2-1);
  text-underline-offset: var(--size-4-2);
}

// full line

$full-selectors: ();

@for $i from 1 through 6 {
  $full-selectors: list.append(
    $full-selectors,
    string.unquote(
      '.heading-h#{$i}-full-line :is(.HyperMD-header-#{$i}, h#{$i})'
    ),
    comma
  );
}

:is(#{$full-selectors})::after {
  content: '';
  position: absolute;
  bottom: var(--size-2-1);
  height: var(--size-2-1);
  inset-inline: 0;
  background-color: currentColor;
  border-radius: var(--size-2-1);
}

// block

@for $i from 1 through 6 {
  .heading-h#{$i}-block {
    :is(.HyperMD-header-#{$i} .cm-header:not(.cm-formatting-header), h#{$i}) {
      background-color: var(--h#{$i}-color);
      color: var(--text-on-accent);
      padding: var(--size-4-1) 0.6rem;
      border-radius: var(--size-2-3);
      caret-color: currentColor;
      -webkit-box-decoration-break: clone;
      box-decoration-break: ignore;
      &::selection {
        color: var(--h#{$i}-color);
        background-color: var(--background-secondary);
      }
    }
    h#{$i} {
      width: fit-content;
      line-height: 1.2;
      --heading-spacing: calc(var(--h2-line-height) - 1.2 * var(--h#{$i}-size));
    }
  }
}
