@use '../utils.scss' as *;

body.theme-dark.image-dark-hover img {
  filter: brightness(0.7);
  transition: filter var(--animation);

  &:hover {
    filter: brightness(0.85);
  }
}

img {
  border-radius: var(--radius-m);
  cursor: pointer;
}

/* hint text, reference from https://github.com/chrisgrieser/shimmering-focus */

.image-alt {
  // centers image and image caption
  .image-embed[alt] {
    padding: var(--size-4-1) 0;

    &::after {
      display: block;
      text-align: center;
    }

    &:not(
        [alt$='.png'],
        [alt$='.jpg'],
        [alt$='.jpeg'],
        [alt$='.svg'],
        [alt$='.webp'],
        [alt$='.gif'],
        [alt$='.tiff'],
        [alt$='.bmp'],
        [alt$='.tiff']
      )::after {
      content: attr(alt);
      font-size: var(--font-smaller);
      color: var(--text-faint);
    }
  }

  // .emoji class are Twitter Images for Emojis from Emoji Toolbar
  .view-content img:not(.emoji) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Reference: https://github.com/aaaaalexis/obsidian-cupertino/blob/a7b045b1267728f6535fc8ed1b0925f8b49bc05d/src/features/image-zoom.scss#L1-L53 */

body.image-zoom:not(.is-mobile) {
  @include use-panel('markdown') {
    :is(
        .image-embed:not(.canvas-node-content),
        img[referrerpolicy='no-referrer'],
        .cm-content > img
      ) {
      cursor: zoom-in;
    }
  }

  .markdown-preview-view {
    .image-embed:not(.canvas-node-content):active img,
    img[referrerpolicy='no-referrer']:active {
      position: fixed;
      z-index: 1000;
      cursor: zoom-out;
      inset: 0;
      background-color: var(--background-primary);
      width: 100%;
      height: 100%;
      max-height: unset;
      object-fit: contain;
    }
  }

  .markdown-source-view {
    .image-embed:not(.canvas-node-content):active,
    .cm-content > img:active {
      position: fixed;
      z-index: 1000;
      cursor: zoom-out;
      inset: var(--header-height) 0 0;
      background-color: var(--background-primary);
    }

    .image-embed:not(.canvas-node-content):active {
      display: flex;
      justify-content: center;

      img {
        background-color: transparent;
        width: 100%;
        height: auto;
        max-height: unset;
        object-fit: contain;
      }
    }

    .cm-content > img:active {
      width: 100%;
      height: calc(100% - var(--header-height));
      max-height: unset;
      object-fit: contain;
    }
  }
}
