/* ====== 列表list ======= */
body.list-enable {
  --_marker-color: var(--setting-list-marker, var(--accent-active));
  --_marker-size: calc(var(--font-text-size) / 3.6 + var(--size-2-1));
  --list-marker-color: var(--_marker-color);
  --list-marker-color-alt: var(--setting-list-marker-alt, var(--list-marker-color));
  --checkbox-marker-color: var(--text-on-accent);
  --checkbox-border-color: var(--setting-list-checkbox-color, var(--accent-inactive));
  --checkbox-border-color-hover: var(--setting-list-checkbox-color-hover, var(--accent-active));

  .cm-formatting-list-ol,
  li::marker {
    font-family: var(--font-monospace);
  }

  :is(.markdown-source-view, .markdown-preview-view) .task-list-item-checkbox {
    border-width: var(--size-2-1);
  }

  // guide line and indicator
  .collapse-indicator {
    --cursor: pointer;
  }

  .markdown-source-view.mod-cm6 {
    .cm-line:not(.cm-active):not(.HyperMD-header):not(.HyperMD-task-line) .cm-fold-indicator .collapse-indicator {
      padding-right: 1rem;
      right: -0.5rem;
    }

    .cm-indent::before {
      transform: translateX(var(--size-2-2));
    }

    .HyperMD-task-line .collapse-indicator {
      right: var(--size-2-1);
    }
  }

  // indicator
  ol li .list-collapse-indicator {
    transform: translateX(0.1rem);
  }

  ul li .list-collapse-indicator {
    margin-inline-start: calc(var(--size-4-8) * -1 - var(--size-4-3)) !important;
    padding-inline-end: calc(var(--size-4-6) + var(--size-4-1)) !important;
    transform: translateX(0.1rem);
  }

  // ol padding
  .markdown-rendered.show-indentation-guide {
    ol>li {
      margin-inline-start: var(--size-4-2);
    }

    li>ol {
      padding-left: calc(var(--size-4-6) + var(--size-2-1));

      &::before {
        left: calc(var(--size-2-1) * -1 - var(--size-4-6));
      }
    }
  }

  // bullet style
  --list-bullet-size: var(--_marker-size);

  .HyperMD-list-line-2 .list-bullet {
    --list-marker-color: transparent;
    --list-bullet-border: var(--_marker-color) var(--size-2-1) solid;
    --list-bullet-size: calc(var(--_marker-size) - var(--size-2-1));
  }

  .HyperMD-list-line-3 .list-bullet {
    --list-bullet-radius: 0;
    --list-marker-color: var(--list-marker-color-alt);
    transform: rotate(45deg);
  }

  .HyperMD-list-line-4 .list-bullet {
    --list-marker-color: transparent;
    --list-bullet-border: var(--list-marker-color-alt) var(--size-2-1) solid;
    --list-bullet-size: calc(var(--_marker-size) - var(--size-2-1));
    --list-bullet-radius: 0;
    transform: rotate(45deg);
  }

  .markdown-preview-sizer>div>ul>li>ul>li {
    --list-marker-color: transparent;
    --list-bullet-border: var(--_marker-color) var(--size-2-1) solid;
    --list-bullet-size: calc(var(--_marker-size) - var(--size-2-1));

    &>ul>li {
      --list-bullet-radius: 0;
      --list-marker-color: var(--list-marker-color-alt);

      .list-bullet {
        transform: rotate(45deg);
      }

      &>ul>li {
        --list-marker-color: transparent;

        ul>li {
          --list-bullet-radius: var(--radius-s);
          --list-marker-color: var(--_marker-color);
        }
      }
    }
  }
}