/* Reference: https://gist.github.com/KillyMXI/cbef8edff6dd55d9e6ea4df66567e9b1 */
@use 'sass:list';

@function generate-line-selector-list($start, $end) {
  $list: ();
  @if $start <= $end {
    @for $k from $start through $end {
      $list: list.append($list, '.HyperMD-list-line-#{$k}', comma);
    }
  }
  @return $list;
}

$supported-level: 8;
$exclude-selector: ':not(.HyperMD-task-line):not(:has(.cm-formatting-list-ol))';

body.list-enable.list-bullet-thread-style {
  --list-threading-width: var(--size-2-1);
  --list-threading-color: var(--setting-list-guide-color, var(--accent-active));
  .list-bullet::after {
    --list-bullet-radius: 50%;
    --list-bullet-border: 0;
    --list-bullet-size: calc(var(--font-text-size) / 3 + var(--size-2-1));
    --list-marker-color: var(--setting-list-marker, var(--accent-active));
  }

  @for $i from 1 through $supported-level - 1 {
    $current-level: $i;
    $next-level: $i + 1;

    $levels-up-for-current: generate-line-selector-list(
      $next-level,
      $supported-level
    );
    $levels-down-for-next: generate-line-selector-list(
      $next-level + 1,
      $supported-level
    );
    $levels-for-target: generate-line-selector-list(
      $next-level + 1,
      $supported-level
    );

    .HyperMD-list-line-#{$current-level}:not(
        :has(
            ~ .HyperMD-list-line-#{$current-level}
              ~ .HyperMD-list-line.cm-active
          )
      ):has(~ :is(#{$levels-up-for-current}).cm-active),
    .HyperMD-list-line-#{$current-level}:not(
        :has(
            ~ .HyperMD-list-line-#{$current-level}
              ~ .HyperMD-list-line.cm-active
          )
      )
      ~ .HyperMD-list-line:has(
        ~ .HyperMD-list-line-#{$next-level}.cm-active#{if(
            $levels-down-for-next != (),
            ', ~ .HyperMD-list-line-#{$next-level} ~ :is(#{$levels-down-for-next}).cm-active',
            ''
          )}
      ),
    .HyperMD-list-line-#{$next-level}:not(
        :has(~ .HyperMD-list-line-#{$next-level} ~ .HyperMD-list-line.cm-active)
      ):is(
        .cm-active#{if(
            $levels-for-target != (),
            ', :has(~ :is(#{$levels-for-target}).cm-active)',
            ''
          )}
      )
      > .cm-hmd-list-indent {
      &::after {
        $prev-level: $current-level - 1;
        // --list-threading-color: var(
        //   --list-threading-color-#{$current-level},
        //   var(--accent-active)
        // );
        --list-threading-offset: calc(
          var(--list-indent-editing) +
            #{$prev-level} *
            var(--list-indent) -
            var(--list-threading-width) *
            2
        );
      }
    }
  }

  // Tails
  @for $i from 1 through $supported-level - 1 {
    $current-level: $i;
    $hover-levels: generate-line-selector-list(
      $current-level + 1,
      $supported-level
    );

    .HyperMD-list-line-#{$current-level}:not(
        :has(
            ~ .HyperMD-list-line-#{$current-level}
              ~ .HyperMD-list-line.cm-active
          )
      )#{$exclude-selector}:has(~ :is(#{$hover-levels}).cm-active) {
      &::after {
        content: '';
        position: absolute;
        left: var(--list-threading-offset);
        bottom: 0;
        width: var(--list-threading-width);
        background-color: var(--list-threading-color);
        height: calc(100% - var(--size-4-4));

        &:is(.HyperMD-task-line) {
          max-height: calc(100% - 1.3em);
        }
      }
    }
  }

  // In-between lines
  @for $i from 1 through $supported-level - 1 {
    $current-level: $i;
    $next-level: $i + 1;
    $levels-down-for-next: generate-line-selector-list(
      $next-level + 1,
      $supported-level
    );

    .HyperMD-list-line-#{$current-level}:not(
        :has(
            ~ .HyperMD-list-line-#{$current-level}
              ~ .HyperMD-list-line.cm-active
          )
      )#{$exclude-selector}
      ~ .HyperMD-list-line:has(
        ~ .HyperMD-list-line-#{$next-level}.cm-active#{if(
            $levels-down-for-next != (),
            ', ~ .HyperMD-list-line-#{$next-level} ~ :is(#{$levels-down-for-next}).cm-active',
            ''
          )}
      ) {
      &::after {
        content: '';
        position: absolute;
        left: var(--list-threading-offset);
        top: 0;
        height: 100%;
        width: var(--list-threading-width);
        background-color: var(--list-threading-color);
      }
    }
  }

  // Elbows
  @for $i from 2 through $supported-level {
    $current-level: $i;
    $levels-for-target: generate-line-selector-list(
      $current-level + 1,
      $supported-level
    );

    .HyperMD-list-line-#{$current-level}:not(
        :has(
            ~ .HyperMD-list-line-#{$current-level}
              ~ .HyperMD-list-line.cm-active
          )
      )#{$exclude-selector}:is(
        .cm-active#{if(
            $levels-for-target != (),
            ', :has(~ :is(#{$levels-for-target}).cm-active)',
            ''
          )}
      ) {
      & > .cm-hmd-list-indent::after {
        content: '';
        position: absolute;
        left: var(--list-threading-offset);
        width: calc(var(--list-indent) - var(--list-threading-width));
        top: 0;
        border-bottom-left-radius: var(--radius-m);
        border-bottom: var(--list-threading-width)
          solid
          var(--list-threading-color);
        border-left: var(--list-threading-width)
          solid
          var(--list-threading-color);
        height: calc(
          var(--line-height-normal) *
            var(--font-text-size) /
            2 +
            var(--list-threading-width) /
            2
        );
      }
    }
  }
}
