.theme-dark.pdf-dark-hover .pdf-viewer {
  opacity: 0.7;
  transition: opacity var(--animation);

  &:hover {
    opacity: 0.85;
  }
}

@media print {
  body.pdf-export-transparent {
    --background-primary: transparent;
  }

  @page {
    body.pdf-export-page-num {
      @bottom-center {
        content: counter(page);
        font-size: 10pt !important;
        margin-top: 10pt !important;
      }
    }
  }

  body.pdf-export-page-break {
    :is(h1, h2, h3, h4, h5, h6) {
      page-break-after: avoid;
    }

    :is(table, figure, pre, .callout p) {
      page-break-inside: avoid;
    }

    h1 {
      page-break-before: always;
    }
  }

  body.pdf-export-standard {
    p {
      margin: 0 0 12pt 0 !important;
      orphans: 3;
      widows: 3;
    }

    :is(ul, ol) {
      margin: 12pt 0 12pt 1.5cm !important;
      padding: 0 !important;
    }

    li {
      margin: 3pt 0 !important;
      padding: 0 !important;
    }
  }

  pre {
    &::before {
      right: var(--size-4-2) !important;
    }

    code {
      white-space: pre-wrap !important;
      tab-size: 4;
    }
  }

  body.pdf-export-default-hr hr {
    background-image: none !important;
    border-width: var(--size-2-1) !important;
    &::after {
      content: none !important;
    }
  }
}
