.theme-dark.pdf-dark-hover .pdf-viewer {
  opacity: 0.7;
  transition: opacity var(--animation);

  &:hover {
    opacity: 0.85;
  }
}

@media print {
  body.pdf-export-transparent {
    --background-primary: transparent;
  }

  pre {
    &::before {
      right: var(--size-4-2) !important;
    }

    code {
      white-space: pre-wrap !important;
      tab-size: 4;
    }
  }
}
