.metadata-container {
  margin-block-end: var(--size-4-2);
  transition: var(--animation);
  --metadata-property-background-hover: var(--md-container-bg);

  body.prop-outline & {
    transform: none;
    --metadata-border-width: var(--block-outline-width);
    --metadata-border-radius: var(--radius-l);
    --metadata-border-color: var(--accent-inactive);
    --metadata-padding: var(--radius-l);

    &:hover {
      --metadata-border-color: var(--accent-active);
    }
  }

  .metadata-add-button {
    padding: var(--size-4-1);
    margin-top: var(--size-4-2);
    gap: var(--size-2-3);
  }
}

.metadata-properties-heading .collapse-indicator {
  left: calc(var(--size-4-8) * -1);
}

.metadata-property-icon,
input.metadata-property-key-input,
.multi-select-pill,
.multi-select-input {
  line-height: calc(var(--line-height-normal) / 1.5);
  height: calc(var(--line-height-normal) / 1.5);
}

.metadata-property-key {
  padding-block: var(--size-2-1);
}

.metadata-property:not([data-property-key="tags"]) .metadata-property-key-input {
  padding-block: var(--size-2-3);
}

.multi-select-pill {
  transition: var(--animation);
}

.metadata-property[data-property-key="cssclasses"] {
  --pill-padding-x: 0.4em;

  .multi-select-pill {
    line-height: 1;
  }
}

.multi-select-pill-remove-button {
  cursor: pointer;
}

.multi-select-pill-content {
  line-height: 1.6;
}