/* ====== 属性 ====== */

.metadata-container {
  margin-block-end: var(--size-4-2);
  transition: var(--animation);
  --metadata-border-width: var(--size-2-1);
  --metadata-border-radius: var(--radius-l);
  --metadata-padding: var(--radius-l);
  --metadata-border-color: var(--accent-inactive);
  --metadata-property-background-hover: var(--md-container-bg);

  &:hover {
    --metadata-border-color: var(--accent-active);
  }
}

.metadata-properties-heading .collapse-indicator {
  left: calc(var(--size-4-8) * -1);
}

.metadata-property-icon,
input.metadata-property-key-input,
.multi-select-pill,
.multi-select-input {
  line-height: calc(var(--line-height-normal) / 1.4);
  height: calc(var(--line-height-normal) / 1.4);
}

.metadata-property-key {
  padding-block: var(--size-2-1);
}

.metadata-property:not([data-property-key="tags"]) .metadata-property-icon {
  padding: var(--size-2-1) 0;
}