@use 'sass:math';

$indent: 0.6rem;
$mark-size: 3rem;

:is(body, .print .markdown-rendered) {
  --blockquote-background-color: var(--background-primary-alt);
  --callout-radius: var(--radius-m);
}

body {
  --blockquote-border-color: var(--accent-active);
  --blockquote-border-thickness: var(--size-4-1);
  --blockquote-radius: var(--size-2-3);

  // Adapt headings
  .markdown-rendered blockquote {
    --h1-size: var(--font-text-size);
    --h2-size: var(--font-text-size);
    --h3-size: var(--font-text-size);
    --h4-size: var(--font-text-size);
    --h5-size: var(--font-text-size);
    --h6-size: var(--font-text-size);
    --h1-line-height: var(--setting-line-height, var(--line-height-normal));
    --h2-line-height: var(--setting-line-height, var(--line-height-normal));
    --h3-line-height: var(--setting-line-height, var(--line-height-normal));
    --h4-line-height: var(--setting-line-height, var(--line-height-normal));
    --h5-line-height: var(--setting-line-height, var(--line-height-normal));
    --h6-line-height: var(--setting-line-height, var(--line-height-normal));
    border: none;
    border-radius: var(--blockquote-radius);
    position: relative;
    margin-block: var(--size-4-3);

    :is(p, h1, h2, h3, h4, h5, h6) {
      padding-left: var(--blockquote-border-thickness);
      padding-right: var(--size-4-3);
    }

    &::after {
      content: '';
      position: absolute;
      left: calc(var(--blockquote-radius) * 4 / 5);
      top: var(--blockquote-radius);
      border-radius: var(--blockquote-radius);
      height: calc(100% - var(--blockquote-radius) * 2);
      width: var(--blockquote-border-thickness);
      background-color: var(--accent-active-bg);
    }

    blockquote {
      box-shadow: none;
      margin-inline-end: var(--size-4-3) !important;
    }
  }

  .HyperMD-quote {
    border: solid var(--blockquote-background-color);
    border-width: 0 var(--size-4-2) 0 var(--size-4-2);
    &::before {
      width: 0 !important;
    }
  }
  :is(
      .HyperMD-quote:first-child,
      .cm-sizer > div > div > *:not(.HyperMD-quote) + .HyperMD-quote
    ) {
    border-top-width: var(--size-4-2);
    border-start-start-radius: var(--blockquote-border-thickness);
    border-start-end-radius: var(--blockquote-border-thickness);
    &::before {
      border-start-start-radius: var(--blockquote-border-thickness);
      border-start-end-radius: var(--blockquote-border-thickness);
    }
  }
  :is(
      .HyperMD-quote:last-child,
      .cm-sizer > div > div > .HyperMD-quote:has(+ *:not(.HyperMD-quote))
    ) {
    border-bottom-width: var(--size-4-2);
    border-end-start-radius: var(--blockquote-border-thickness);
    border-end-end-radius: var(--blockquote-border-thickness);
    &::before {
      border-end-start-radius: var(--blockquote-border-thickness);
      border-end-end-radius: var(--blockquote-border-thickness);
    }
  }
}

.quote-shadow .markdown-rendered blockquote {
  box-shadow: var(--shadow-s);
}

.quote-border .markdown-rendered blockquote {
  border: 1px solid var(--background-modifier-border);
  transition: var(--animation);
  box-shadow: none;

  &:hover {
    border-color: var(--background-modifier-border-hover);
  }

  &:active {
    border-color: var(--background-modifier-border-focus);
  }

  blockquote {
    margin: var(--block-outline-width);
  }
}

.quote-mark {
  &.quote-theme blockquote {
    padding-left: $indent * 3.8;

    &::before {
      position: absolute;
      font-size: $mark-size;
      font-family: Source Code Pro;
      line-height: 1;
      content: '“' !important;
      background-color: transparent;
      color: var(--text-muted);
      top: calc(
        var(--font-text-size) * var(--line-height-normal) -
          math.div($mark-size, 1.6)
      );
      transform: translateX($indent * -2.7);
    }
  }
}

.quote-italic {
  --blockquote-font-style: italic;
}
