@use '../utils' as *;

@include use-no-plugin('.table-full') {
  :is(
      .markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper,
      .markdown-rendered table
    ) {
    // expand width
    --table-white-space: break-all;
    width: 100%;

    .table-editor {
      width: 100%;
    }
  }
}

body {
  --table-header-background: var(--background-primary-alt);
  --table-header-background-hover: var(--table-header-background);
  --table-cell-vertical-alignment: middle;
  --table-add-button-border-width: 0;
  --table-add-button-background: var(--background-modifier-hover);
  --table-drag-handle-background: var(--background-modifier-hover);
  --table-selection-border-radius: var(--radius-m);
  --table-selection-border-color: var(--accent-inactive);

  .table-drag-target::after {
    background-color: var(--accent-active-bg);
  }
}

.table-style-minimal {
  --table-header-background: transparent;
  --table-border-color: transparent;
  --table-header-border-color: var(--color-base-100);
  --table-header-border-width: 3px;
  --table-selection-border-radius: 0;
  --table-row-last-border-width: var(--table-header-border-width);
  table {
    th {
      border-bottom: var(--color-base-100) solid 2px;
      border-inline: 0;
    }
    tr:last-child > td {
      border-bottom-color: var(--table-header-border-color);
    }
  }
}

.table-style-colorful {
  --table-background: var(--background-primary-alt);
  --table-header-background: var(
    --setting-table-header-text,
    var(--accent-active-bg)
  );
  --table-row-alt-background: var(--bg-editor);
  --table-row-alt-background-hover: var(--bg-editor);
  --table-column-alt-background: inherit;
  --table-column-alt-background-hover: inherit;

  :is(.is-live-preview, .markdown-rendered) {
    --table-header-color: var(--setting-table-header-bg, var(--text-on-accent));
  }

  th .cm-s-obsidian {
    color: var(--text-normal);
  }

  .cm-html-embed .edit-block-button {
    --background-modifier-hover: var(--background-secondary);
  }
}

/* table radius */
@include use-no-plugin('.table-round:not(.table-style-minimal)') {
  table {
    border-collapse: initial;
    border-spacing: 0;

    :is(th, td):not(:first-child) {
      border-left: 0;
    }

    tbody td {
      border-top: 0;
    }

    // 😅 fix: background color does not update when `border-radius` is changed
    thead tr {
      background-color: transparent;
      th {
        background-color: var(--table-header-background) !important;
      }
    }

    :is(
        th:first-child:not(
            :has(:is(.table-col-drag-handle, .table-row-drag-handle):hover)
          ),
        th:first-child .table-cell-wrapper
      ) {
      border-top-left-radius: var(--radius-m);
    }

    :is(
        th:last-child:not(:has(.table-col-drag-handle:hover)),
        th:last-child .table-cell-wrapper
      ) {
      border-top-right-radius: var(--radius-m);
    }

    tr:last-child
      :is(
        td:first-child:not(:has(.table-row-drag-handle:hover)),
        td:first-child .table-cell-wrapper
      ) {
      border-bottom-left-radius: var(--radius-m);
    }

    tr:last-child :is(td:last-child, td:last-child .table-cell-wrapper) {
      border-bottom-right-radius: var(--radius-m);
    }
  }
  .table-wrapper {
    &:has(.table-row-btn:hover) tr:last-child td {
      border-radius: 0 !important;
    }

    &:has(.table-col-btn:hover)
      :is(tr:last-child td:last-child, th:last-child) {
      border-radius: 0;
    }
  }
}

.table-cell-wrapper:is(:active, :focus, :focus-within) {
  background-color: hsl(var(--active-line));
}

.markdown-source-view.mod-cm6 .cm-table-widget {
  /* centered image */
  .table-cell-wrapper {
    // debounce cell
    &:has(> .cm-s-obsidian):not(:has(.image-embed)) {
      padding-inline: var(--size-4-1);
    }

    &:has(> .image-embed) {
      display: table-cell;
    }

    .image-embed {
      padding-block: 0;
    }

    &:has(.is-live-preview .image-embed) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      [class='cm-line'] {
        display: none;
      }
    }
  }

  :is(
      .table-row-btn,
      .table-col-btn,
      .table-row-drag-handle,
      .table-col-drag-handle
    ) {
    transition: opacity var(--animation);
  }

  .table-row-btn {
    border-end-start-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
  }

  .table-col-btn {
    border-start-end-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
  }
}
