@use '../utils' as *;

@include use-no-plugin('.table-full') {
  :is(
      .markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper,
      .markdown-rendered table
    ) {
    // expand width
    --table-white-space: break-all;
    width: 100%;

    .table-editor {
      width: 100%;
    }
  }
}

body {
  --table-header-background: var(--background-primary-alt);
  --table-header-background-hover: var(--table-header-background);
  --table-cell-vertical-alignment: middle;
  --table-add-button-background: var(--background-modifier-hover);
  --table-drag-handle-background: var(--background-modifier-hover);
  --table-selection-border-radius: var(--radius-m);
  --table-selection-border-color: var(--accent-inactive);
}

/* table radius */
.markdown-rendered {
  table {
    border-collapse: initial;
    border-spacing: 0;

    :is(th, td):not(:first-child) {
      border-left: 0;
    }

    tbody td {
      border-top: 0;
    }

    // 😅 fix: background color does not update when `border-radius` is changed
    thead tr {
      background-color: transparent;
      th {
        background-color: var(--table-header-background) !important;
      }
    }

    th:first-child:not(
        :has(:is(.table-col-drag-handle, .table-row-drag-handle):hover)
      ) {
      border-top-left-radius: var(--radius-m);
    }

    th:last-child:not(:has(.table-col-drag-handle:hover)) {
      border-top-right-radius: var(--radius-m);
    }

    tr:last-child td:first-child {
      border-bottom-left-radius: var(--radius-m);
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: var(--radius-m);
    }
  }

  &:has(.table-row-btn:hover) tr:last-child td {
    border-radius: 0;
  }

  &:has(.table-col-btn:hover) :is(tr:last-child td:last-child, th:last-child) {
    border-radius: 0;
  }
}

.table-colorful {
  --table-background: var(--background-primary-alt);
  --table-header-background: var(
    --setting-table-header-text,
    var(--accent-active-bg)
  );
  --table-row-alt-background: var(--bg-editor);
  --table-row-alt-background-hover: var(--bg-editor);
  --table-column-alt-background: inherit;
  --table-column-alt-background-hover: inherit;

  :is(.is-live-preview, .markdown-rendered) {
    --table-header-color: var(--setting-table-header-bg, var(--text-on-accent));
  }

  th .cm-s-obsidian {
    color: var(--text-normal);
  }

  .cm-html-embed .edit-block-button {
    --background-modifier-hover: var(--background-secondary);
  }
}

.markdown-source-view.mod-cm6 .cm-table-widget {
  /* centered image */
  .table-cell-wrapper {
    // debounce cell
    &:has(> .cm-s-obsidian):not(:has(.image-embed)) {
      padding-inline: var(--size-4-1);
    }

    &:has(> .image-embed) {
      display: table-cell;
    }

    .image-embed {
      padding-block: 0;
    }

    &:has(.is-live-preview .image-embed) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      [class='cm-line'] {
        display: none;
      }
    }
  }

  :is(
      .table-row-btn,
      .table-col-btn,
      .table-row-drag-handle,
      .table-col-drag-handle
    ) {
    transition: var(--animation);
  }

  .table-row-btn {
    border-end-start-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
  }

  .table-col-btn {
    border-start-end-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
  }
}
