body {
  --tag-color: var(--accent-active);
}

.HyperMD-header .cm-hashtag {
  font-size: var(--tag-size) !important;
}

:is(body, .print .markdown-rendered) {
  --tag-padding-x: 0.4rem;
  --tag-padding-y: 0.05rem;
}

.cm-line span.cm-hashtag {
  vertical-align: baseline;
}

body.tag-click-to-edit .cm-line span.cm-hashtag:not(.cm-formatting) {
  pointer-events: none;
}

body.tag-plain {
  --tag-background: transparent;
}

body.tag-outline {
  --tag-border-color: var(--setting-tag-outline, var(--accent-inactive)) !important;
  --tag-border-width: var(--size-2-1) !important;
  --tag-color: var(--setting-tag-color, var(--accent-active)) !important;

  :is(.cm-tag-obsidian, .tag[href='#obsidian']) {
    --tag-border-color: var(--color-purple) !important;
    --tag-color: var(--tag-border-color);
  }

  :is(.cm-tag-todo, .tag[href='#todo']) {
    --tag-border-color: var(--color-green) !important;
    --tag-color: var(--tag-border-color);
  }

  :is(.cm-tag-important, .tag[href='#important']) {
    --tag-border-color: var(--color-red) !important;
    --tag-color: var(--tag-border-color);
  }

  :is(.cm-tag-progress, .tag[href='#progress']) {
    --tag-border-color: var(--color-blue) !important;
    --tag-color: var(--tag-border-color);
  }

  :is(.cm-tag-complete, .tag[href='#complete']) {
    --tag-border-color: var(--color-orange) !important;
    --tag-color: var(--tag-border-color);
  }
}

body.tag-fill {
  --tag-background: var(--setting-tag-bg, var(--accent-active)) !important;
  --tag-background-hover: var(--tag-background);
  --tag-color: var(--text-on-accent);
  --tag-color-hover: var(--tag-color);

  :is(.cm-tag-obsidian, .tag[href='#obsidian']) {
    --tag-background: var(--color-purple) !important
  }

  :is(.cm-tag-todo, .tag[href='#todo']) {
    --tag-background: var(--color-green) !important
  }

  :is(.cm-tag-important, .tag[href='#important']) {
    --tag-background: var(--color-red) !important
  }

  :is(.cm-tag-progress, .tag[href='#progress']) {
    --tag-background: var(--color-blue) !important
  }

  :is(.cm-tag-complete, .tag[href='#complete']) {
    --tag-background: var(--color-orange) !important
  }
}