body {
  --bg-editor: var(--background-primary);
  --bg-surface: var(--background-secondary);
}

body.app-layout-card:not(.is-mobile) {
  --divider-color: transparent;
  --pdf-background: transparent;
  --tab-active-shadow: none;

  &.app-layout-card-plain {
    background-color: var(--background-secondary);
    --editor-min-opacity: 1;
  }

  &:not(.app-layout-card-plain) {
    background-color: transparent;
    background-image: var(--app-bg-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    --bg-opacity: var(--setting-layout-opacity, 0.4);
    --bg-editor: hsla(
      var(--background-primary-hsl),
      max(var(--bg-opacity), var(--editor-min-opacity))
    );
    --bg-surface: hsla(var(--background-secondary-hsl), var(--bg-opacity));

    :is(.titlebar, .workspace) {
      --frame-bg: transparent !important;
    }
    &.theme-light {
      --editor-min-opacity: 0.8;
    }

    &.theme-dark {
      --editor-min-opacity: 0.85;
    }
  }

  &.app-layout-card-gradient {
    --bg-opacity: 0.6;

    &.theme-light {
      --app-bg-image: linear-gradient(
        210deg,
        hsl(calc(var(--accent-h) - 30), calc(var(--accent-s) * 0.9), 85%),
        hsl(calc(var(--accent-h) + 60), calc(var(--accent-s) * 0.9), 85%)
      );
    }

    &.theme-dark {
      --app-bg-image: linear-gradient(
        210deg,
        hsl(calc(var(--accent-h) - 30), calc(var(--accent-s) * 1.15), 25%),
        hsl(calc(var(--accent-h) + 30), calc(var(--accent-s) * 1.15), 25%)
      );
    }
  }

  &.app-layout-card-custom {
    &.theme-light {
      --bg-opacity: var(--setting-layout-opacity-light, 0.6);
      --app-bg-image: var(
        --setting-layout-image-light,
        linear-gradient(to bottom, var(--color-base-25))
      );
    }

    &.theme-dark {
      --bg-opacity: var(--setting-layout-opacity-dark, 0.6);
      --app-bg-image: var(
        --setting-layout-image-dark,
        linear-gradient(to bottom, var(--color-base-20))
      );
    }
  }

  .mod-root .workspace-tab-container {
    padding: var(--size-4-1);
    padding-top: 0;
    .workspace-leaf-content {
      border-radius: var(--radius-m);
    }
  }

  .workspace-tab-header {
    --background-modifier-hover: hsla(
      var(--background-primary-hsl),
      var(--bg-opacity)
    );
    &.is-active {
      --tab-background-active: var(--bg-editor);
    }
  }

  :is(
      .workspace-tab-header-container,
      .workspace-tab-header-container-inner,
      .titlebar-button-container,
      .sidebar-toggle-button,
      .workspace-fake-target-overlay:not(.is-in-sidebar)
        .workspace-tabs
        .workspace-leaf,
      .workspace-split:not(.mod-root) .workspace-tabs .workspace-leaf,
      .workspace-split.mod-root
        .workspace-tabs:not(.mod-stacked)
        .workspace-leaf,
      .pdf-toolbar
    ) {
    background-color: transparent;
  }

  .workspace-ribbon {
    --ribbon-background: var(--bg-surface);
    --ribbon-background-collapsed: var(--bg-surface);
    &::before {
      background-color: var(--bg-surface);
    }
  }

  .workspace-split {
    background-color: var(--bg-surface);
    &.mod-root {
      background-color: var(--bg-surface);
    }
  }

  :is(.workspace-split.mod-root .view-content, .view-header) {
    background-color: var(--bg-editor);
  }

  &:not(.is-mobile)
    .workspace-split.mod-left-split
    .workspace-sidedock-vault-profile {
    background-color: hsla(
      var(--background-secondary-hsl),
      calc(var(--bg-opacity) / 4)
    );
  }
}
