.theme-light {
  --app-bg-image: var(
    --setting-app-bg-image-light,
    linear-gradient(
      30deg,
      hsl(calc(var(--accent-h) - 30), calc(var(--accent-s) * 0.95), 85%),
      hsl(var(--accent-h), calc(var(--accent-s) * 0.9), 85%),
      hsl(calc(var(--accent-h) + 30), calc(var(--accent-s) * 0.95), 85%)
    )
  );
  --bg-opacity: var(--setting-app-bg-opacity-light, 0.6);
  --editor-min-opacity: 0.8;
}

.theme-dark {
  --app-bg-image: var(
    --setting-app-bg-image-dark,
    linear-gradient(
      30deg,
      hsl(calc(var(--accent-h) - 15), calc(var(--accent-s) * 1.15), 25%),
      hsl(var(--accent-h), calc(var(--accent-s) * 1.1), 20%),
      hsl(calc(var(--accent-h) + 15), calc(var(--accent-s) * 1.15), 25%)
    )
  );
  --bg-opacity: var(--setting-app-bg-opacity-dark, 0.6);
  --editor-min-opacity: 0.85;
}

body {
  --bg-editor: var(--background-primary);
  --bg-surface: var(--background-secondary);
}

body.app-bg-image-enable {
  background-image: var(--app-bg-image);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  --divider-color: transparent;

  :is(.workspace, .titlebar) {
    --frame-bg: transparent !important;
    --tab-active-shadow: none;
    --bg-opacity: var(--setting-app-bg-opacity, 0.4);
    --bg-editor: hsla(
      var(--background-primary-hsl),
      max(var(--bg-opacity), var(--editor-min-opacity))
    );
    --bg-surface: hsla(var(--background-primary-hsl), var(--bg-opacity));
  }

  &.theme-light {
    --md-container-bg: var(
      --setting-md-container-bg,
      hsla(
        calc(var(--accent-h) + 8),
        calc(var(--accent-s) / 1.2),
        calc(100% - (100% - var(--accent-l)) / 7)
      )
    );
  }
  &.theme-dark {
    --md-container-bg: var(
      --setting-md-container-bg,
      hsla(calc(var(--accent-h) - 4), 12%, 11%)
    );
  }

  .mod-root .workspace-tab-container {
    padding: var(--size-4-1);
    padding-top: 0;
    .workspace-leaf-content {
      border-radius: var(--radius-m);
    }
  }

  .workspace-tab-header {
    --background-modifier-hover: hsla(
      var(--background-primary-hsl),
      var(--bg-opacity)
    );
    &.is-active {
      --tab-background-active: var(--bg-editor);
    }
  }

  :is(
      .workspace-tab-header-container,
      .workspace-tab-header-container-inner,
      .titlebar-button-container,
      .sidebar-toggle-button,
      .workspace-fake-target-overlay:not(.is-in-sidebar)
        .workspace-tabs
        .workspace-leaf,
      .workspace-split:not(.mod-root) .workspace-tabs .workspace-leaf,
      .workspace-split.mod-root
        .workspace-tabs:not(.mod-stacked)
        .workspace-leaf
    ) {
    background-color: transparent;
  }
  .titlebar {
    background-color: var(--bg-surface);
  }
  .workspace-ribbon {
    --ribbon-background: var(--bg-surface);
    --ribbon-background-collapsed: var(--bg-surface);
    &::before {
      background-color: var(--bg-surface);
    }
  }

  .workspace-split {
    background-color: var(--bg-surface);
    &.mod-root {
      background-color: var(--bg-surface);
    }
  }

  :is(.workspace-split.mod-root .view-content, .view-header) {
    background-color: var(--bg-editor);
  }

  &:not(.is-mobile)
    .workspace-split.mod-left-split
    .workspace-sidedock-vault-profile {
    background-color: hsla(
      var(--background-secondary-hsl),
      calc(var(--bg-opacity) / 4)
    );
  }
}
