body {
  --bg-opacity: 1;
  --app-bg-image-url: var(--setting-app-bg-image-url, #{img('default-bg')});
}

.app-bg-image-enable {
  --bg-opacity: var(--setting-app-bg-opacity, 0.8);

  .workspace-tab-header-container {
    background-color: var(--background-secondary-hsl),
      calc(var(--bg-opacity) / 2);
  }

  .horizontal-main-container {
    background-image: var(--app-bg-image-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  :is(
      .sidebar-toggle-button,
      .workspace-tabs .workspace-leaf,
      .workspace-fake-target-overlay:not(.is-in-sidebar)
        .workspace-tabs
        .workspace-leaf,
      .mod-root .workspace-tabs .workspace-leaf,
      .workspace-split.mod-root .view-content
    ) {
    background-color: transparent;
  }

  .workspace-split {
    background-color: hsl(var(--background-secondary-hsl), var(--bg-opacity));
  }

  :is(.workspace-split.mod-root, .view-header) {
    background-color: hsl(var(--background-primary-hsl), var(--bg-opacity));
  }

  &:not(.is-mobile)
    .workspace-split.mod-left-split
    .workspace-sidedock-vault-profile {
    background-color: hsl(
      var(--background-secondary-hsl),
      calc(var(--bg-opacity) / 2)
    );
  }
}
