.obsidian-search-match-highlight {
  background-color: var(--background-secondary);
}

body.search-internal-enable .document-search-container {
  background-color: hsl(var(--background-secondary-hsl)) !important;
  position: absolute;
  top: var(--size-4-2);
  right: var(--size-4-4);
  border-radius: var(--radius-m);
  // padding: var(--size-2-3);
  // padding-left: 0;
  height: fit-content;
  border: var(--size-2-1) solid var(--frame-outline-color);
  box-shadow: var(--shadow-s);
  margin: 0;

  .document-search-buttons {
    .document-search-button {
      font-size: 0;
      background-color: transparent !important;
      color: var(--text-muted);
      cursor: var(--cursor);
      height: var(--input-height);
      width: var(--input-height);
      padding: var(--size-4-1);
      box-shadow: unset !important;

      &:hover {
        background-color: var(--background-modifier-hover) !important;
        color: var(--text-normal);
      }
    }
  }
}

.markdown-source-view,
.markdown-reading-view {
  container-type: inline-size;
}

@container (max-width: 390px) {
  body.search-internal-enable .document-search-container {
    width: calc(100% - 2 * var(--size-4-3));

    :is(.document-search-input, .document-replace-input) {
      min-width: 0;
    }
  }
}

@container (max-width: 320px) {
  body.search-internal-enable .document-search-container :is(.document-search-buttons [aria-label="Shift + F3"], .document-replace-buttons [aria-label="Ctrl + Alt + Enter"]) {
    display: none;
  }
}