.obsidian-search-match-highlight {
  background-color: var(--background-secondary);
}

body.search-internal-enable.back-blur-title-bar .document-search-container {
  top: calc(var(--header-height) + var(--size-4-4));
}

body.search-internal-enable .document-search-container {
  background-color: hsl(var(--background-secondary-hsl)) !important;
  position: absolute;
  top: var(--size-4-2);
  right: var(--size-4-4);
  border-radius: var(--size-4-2);
  padding: var(--size-2-3);
  padding-left: 0;
  height: fit-content;
  border: var(--size-2-1) solid var(--frame-outline-color);
  box-shadow: var(--shadow-s);
  margin: 0;

  :is(.document-search, .document-replace, .document-replace-buttons, .document-search-buttons) {
    gap: var(--size-2-3);
  }

  :is(.document-search, .document-replace) {
    align-items: center;
    padding: 0;
  }

  :is(.document-search-input, .document-replace-input) {
    margin-left: var(--size-2-3);
  }

  .document-search-close-button {
    position: relative;
    top: 0;
  }
}

body.search-internal-enable.search-internal-disable-select-all .document-search-container .document-search-buttons button:nth-child(3) {
  display: none;
}

body.search-internal-enable.search-internal-expand-on-focus {
  :is(.document-search-input, .document-replace-input) {
    margin-left: var(--size-2-3);
    width: 100px;
    transition: var(--animation);
  }

  .document-search-input:focus {
    width: 180px;
  }

  .document-replace-input:focus {
    width: 220px;
  }
}

.markdown-source-view,
.markdown-reading-view {
  container-type: inline-size;
}

@container (max-width: 390px) {
  body.search-internal-enable .document-search-container {
    width: calc(100% - 2 * var(--size-4-3));

    :is(.document-search-input, .document-replace-input) {
      min-width: 0;
    }
  }
}

@container (max-width: 320px) {

  body.search-internal-enable .document-search-container :is(.document-search-buttons [aria-label="Shift + F3"], .document-replace-buttons [aria-label="Ctrl + Alt + Enter"]) {
    display: none;
  }
}