.obsidian-search-match-highlight {
  background-color: var(--background-secondary);
}

.search-suggest-item.mod-group {
  color: var(--text-accent);
  &:not(:first-child) {
    padding-inline-start: var(--size-4-2);
  }
}

body.search-internal-enable .document-search-container {
  background-color: var(--background-secondary) !important;
  position: absolute;
  top: var(--size-4-2);
  right: var(--size-4-4);
  border-radius: var(--radius-m);
  height: fit-content;
  border: var(--size-2-1) solid var(--frame-outline-color);
  box-shadow: var(--shadow-s);
  margin: 0;

  .search-input-container {
    input {
      padding-inline: var(--size-4-8) var(--size-4-1);

      &:hover + .document-search-count {
        opacity: 0;
        pointer-events: none;
        cursor: none;
        transition: var(--animation);
      }
    }

    .document-search-count {
      background-color: var(--background-secondary);
      height: calc(var(--input-height) - var(--size-2-3));
      line-height: calc(var(--input-height) - var(--size-2-3));
      padding-inline: var(--size-4-1);
      right: var(--size-4-1);
      border-radius: var(--radius-s);
      opacity: 1;
      transition: var(--animation);
      transition-delay: 0.5s;
    }
  }

  .document-search-buttons {
    .document-search-button {
      font-size: 0;
      background-color: transparent !important;
      color: var(--text-muted);
      cursor: var(--cursor);
      height: var(--input-height);
      width: var(--input-height);
      padding: var(--size-4-1);
      box-shadow: unset !important;

      &:hover {
        background-color: var(--background-modifier-hover) !important;
        color: var(--text-normal);
      }
    }
  }
}

.markdown-source-view,
.markdown-reading-view {
  container-type: inline-size;
}

body.search-remove-button {
  .document-search-buttons > :last-child {
    display: none;
  }
}

@container (max-width: 400px) {
  body.search-internal-enable .document-search-container {
    width: calc(100% - 2 * var(--size-4-3));

    :is(.document-search-input, .document-replace-input) {
      min-width: 0;
    }
  }
}

@container (max-width: 320px) {
  body.search-internal-enable
    .document-search-container
    :is(
      .document-search-buttons [aria-label='Shift + F3'],
      .document-replace-buttons [aria-label='Ctrl + Alt + Enter']
    ) {
    display: none;
  }
}
