/* ====== 文件管理器 ====== */

body {
  --file-folding-offset: 28px;
  --folder-color-rgb: 245, 180, 0;
  --folder-color: rgb(var(--setting-color-dirs, var(--folder-color-rgb)));
  --folder-hover-color: rgba(var(--setting-color-dirs, var(--folder-color-rgb)),
      0.24);
  --nav-item-size: 0.9rem;
  --line-height-tight: 1.6;
  --nav-indentation-guide-width: 1.8px;
  --nav-item-background-hover: var(--background-modifier-hover);
  --nav-item-background-active: var(--accent-active);
  --nav-item-background-selected: var(--frame-outline-color);
}

.theme-light {
  --folder-inactive: 85%;
}

.theme-dark {
  --folder-inactive: 70%;
}

.nav-file-title.is-active:not(.is-selected) {
  color: var(--text-on-accent);
}

body.explorer-hide-name .workspace-leaf-content[data-type='file-explorer'] .nav-files-container .mod-root {
  padding-top: var(--size-4-2);

  &>.nav-folder-title {
    display: none;
  }
}

body.explorer-item-animation {
  .nav-files-container :is(.tree-item-self, .vertical-tab-nav-item) {
    transition: var(--animation);

    &:hover {
      transition: none;
    }
  }
}

body.explorer-icon .workspace-leaf-content[data-type='file-explorer'] .nav-files-container .mod-root {
  .nav-folder {
    &-title {
      padding-left: var(--size-4-1);

      &:hover {
        background-color: var(--folder-hover-color);
      }
    }

    &>.nav-folder-children {
      transition: var(--animation);
      --nav-item-children-padding-left: var(--nav-item-children-margin-left);

      &:hover {
        border-color: var(--accent-active);
      }
    }

    &-collapse-indicator {
      margin-right: var(--size-4-2);
      padding-inline-end: var(--size-2-1);
      cursor: pointer;
      height: fit-content;

      svg {
        line-height: var(--line-height-tight);
        width: 1rem;
        height: 1rem;
        background-color: var(--folder-color);
        display: inline-block;
        margin-bottom: var(--size-4-1);
        // add icon in icons.scss
      }
    }

    &.is-collapsed .collapse-icon svg.svg-icon {
      transform: none;
      filter: brightness(var(--folder-inactive));
      transition: var(--animation);
    }
  }

  .nav-file {
    &-title {
      padding-left: var(--size-4-1);

      &::before {
        content: ' ';
        display: inline-block;
        width: 1rem;
        opacity: 0.8;
        height: 0.9rem;
        left: var(--size-4-1);
        margin-right: var(--size-4-1);
        transform: translateY(25%);
        background-color: var(--accent-active);
        // add icon in icons.scss
      }

      &.is-active:not(.is-selected) {
        &:first-child::before {
          background-color: var(--text-on-accent);
        }

        .nav-file-title-content {
          color: var(--text-on-accent);
        }
      }
    }

    &-tag {
      font-size: 0.6rem;
      margin-left: 0;
      margin-right: var(--size-4-2);
      line-height: 2;
    }

    &-title .nav-file-tag {
      background-color: var(--nav-item-background-active);
      color: var(--text-on-accent);
    }

    &-title.is-active .nav-file-tag {
      background-color: hsl(var(--background-secondary-hsl), 0.9);
      color: var(--nav-item-background-active);
    }

    &-title-content+.nav-file-tag {
      margin-left: var(--size-2-3);
    }
  }
}

/* 参考 https://github.com/Akifyss/obsidian-border */
:is(body.explorer-nav-decoration .nav-file-title, body.setting-nav-decoration .vertical-tab-nav-item) {
  position: relative;

  &.is-active::after {
    height: calc(var(--line-height-tight) * var(--nav-item-size) - var(--size-2-1));
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 50%;
    width: var(--size-4-1);
    height: 0%;
    border-radius: var(--radius-s);
    background: var(--accent-inactive);
    transition: var(--animation);
  }
}

body.explorer-title-wrap :is(.nav-file-title-content, .nav-folder-title-content) {
  overflow: visible;
  white-space: pre-wrap;
}