//<div class="tooltip">
//  content
//  <div class="tooltip-arrow"></div>
//</div>
body.message-tooltip-hide .tooltip {
  display: none;
}

body.message-tooltip-hide-arrow .tooltip-arrow {
  display: none;
}

body.message-modify {
  --background-modifier-message: hsl(var(--setting-message-bg,
        calc(var(--accent-h) - 30) var(--accent-s) calc(var(--accent-l) - 20%)));

  :is(.tooltip, .notice) {
    color: var(--setting-message-fg, var(--text-on-accent));
  }

  &:not(.color-active-default) {
    &.theme-light {
      --background-modifier-message: hsl(var(--setting-message-bg,
            calc(var(--accent-h) + 60) calc(var(--accent-s) - 12%) calc(var(--accent-l) + 4%)));
    }

    &.theme-dark {
      --background-modifier-message: hsl(var(--setting-message-bg,
            calc(var(--accent-h) + 60) calc(var(--accent-s) - 12%) calc(var(--accent-l) - 12%)));
    }
  }
}

body.message-tooltip-hide-arrow .tooltip-arrow {
  display: none;
}