@use '../utils.scss' as *;
//<div class="tooltip">
//  content
//  <div class="tooltip-arrow"></div>
//</div>
.tooltip {
  animation: use-animation('op') !important;
}

body.message-tooltip-hide .tooltip {
  display: none;
}

body.message-tooltip-hide-arrow .tooltip-arrow {
  display: none;
}

body.message-modify {
  --background-modifier-message: var(--setting-message-bg, var(--text-accent));

  :is(.tooltip, .notice) {
    color: var(--setting-message-fg, var(--text-on-accent));
  }
}
