@use '../utils' as *;

body {
  --modal-width: min(90vw, var(--modal-max-width));
  --modal-height: min(85vh, var(--modal-max-height));
  --menu-border-color: var(--background-modifier-border);
}

body:not(.is-phone)
  :is(.horizontal-tab-nav-item, .vertical-tab-nav-item).is-active {
  background-color: var(--nav-item-background-active) !important;
}

.clickable-icon {
  transition: var(--animation);
  transition-property: opacity, background-color;
}

button.mod-cta {
  transition: filter var(--animation);
  background: linear-gradient(
    to bottom,
    transparent -240%,
    var(--color-accent) 100%
  );
  &:hover {
    background: linear-gradient(
      to bottom,
      transparent -240%,
      var(--color-accent-1) 100%
    );
  }
}

body:not(.is-phone).modal-header .modal-close-button {
  transition: background-color var(--animation);
  z-index: calc(var(--layer-modal) + 1);
  top: var(--size-4-3);
}

.checkbox-container {
  background-color: var(--color-base-25);

  &.is-enabled {
    background: linear-gradient(
      to bottom,
      transparent -200%,
      var(--accent-active) 100%
    );
  }

  .theme-light & {
    --toggle-thumb-color: #fafafa;
  }

  .theme-dark & {
    --toggle-thumb-color: #e0e0e0;
  }
}

body:not(.is-mobile) {
  --slider-track-background: var(--accent-inactive);
  &.modal-slider input[type='range'] {
    &:focus {
      --slider-thumb-ring-factor: 5.2;
    }
    &::-webkit-slider-thumb {
      box-shadow: inset 0 0 0
          calc(
            var(--slider-thumb-width) / var(--slider-thumb-ring-factor, 4) * 0.9
          )
          var(--color-base-20),
        inset 0 0 0 calc(var(--slider-thumb-width) / 2) var(--accent-active),
        var(--input-shadow);
      transition: box-shadow var(--animation);
      border-width: 0;
      &:is(:hover, :active, :focus) {
        --slider-thumb-ring-factor: 5.2;
      }
    }
  }

  &.modal-toggle-square {
    .checkbox-container {
      height: var(--size-4-5);
      --toggle-radius: var(--size-2-3);
      --toggle-border-width: var(--size-4-1);
      --toggle-thumb-radius: var(--size-4-1);
      --toggle-thumb-width: var(--size-4-3);
      --toggle-thumb-height: var(--size-4-3);
      --toggle-s-border-width: var(--toggle-border-width);
      --toggle-s-thumb-radius: var(--toggle-thumb-radius);
      --toggle-s-thumb-width: var(--toggle-thumb-width);
      --toggle-s-thumb-height: var(--toggle-thumb-height);
    }
  }

  &:is(.modal-toggle-floating, .modal-toggle-thin) {
    .checkbox-container {
      --toggle-radius: var(--radius-m);
      height: var(--size-4-4);
      transition: var(--animation);
      border: var(--toggle-border-width) solid var(--text-faint);

      &:focus-within {
        outline: none;
        box-shadow: inset 0 6px 20px rgba(0, 0, 0, 0.14),
          inset 0 0 1px rgba(0, 0, 0, 0.28);
      }

      input[type='checkbox'] {
        opacity: 0;
      }
    }
  }

  // https://uiverse.io/aasisodiya/sour-horse-29
  &.modal-toggle-floating .checkbox-container {
    --toggle-shadow: var(--color-base-40);

    &::after {
      left: 0;
      height: calc(var(--toggle-width) / 3);
      width: calc(var(--toggle-width) / 3);
      bottom: 30%;
      border-radius: calc(var(--toggle-width) / 2);
      border: var(--toggle-border-width) solid var(--text-faint);
      margin: 0;
      transition: var(--animation);
    }

    :is(&:hover, &:focus-within)::after {
      bottom: 10%;
    }

    &.is-enabled {
      border-color: var(--accent-active);
      background: var(--accent-inactive);

      &::after {
        border-color: var(--accent-active);
        transform: none;
        left: calc(
          100% - var(--toggle-width) / 3 - 3 * var(--toggle-border-width)
        );
      }
    }
  }

  // https://uiverse.io/martinval9/white-lionfish-18
  &.modal-toggle-thin .checkbox-container {
    &::after {
      left: var(--toggle-border-width);
      height: var(--size-4-3);
      bottom: 50%;
      border-radius: var(--radius-m) var(--radius-m) 0 0;
      border: var(--toggle-border-width) solid var(--text-faint);
      width: 20%;
      margin: 0;
      transition: var(--animation);
    }

    :is(&:hover, &:focus-within)::after {
      height: var(--size-4-2);
    }

    &:active::after {
      width: calc(100% - var(--toggle-border-width) * 6);
    }

    &.is-enabled {
      border-color: var(--accent-active);
      background: var(--accent-inactive);

      &::before {
        background-color: var(--accent-active-bg);
      }

      &::after {
        border-color: var(--accent-active);
        transform: none;
        left: calc(80% - var(--toggle-border-width) * 4);
      }

      &:active::after {
        left: calc(2 * var(--toggle-border-width));
      }
    }
  }
}

body {
  --logo-color-default: var(--text-accent);
}

.modal-header:not(.is-mobile) {
  .modal-container {
    --modal-header-height: var(--size-4-12);
    --top-search-right: var(--size-4-12);

    .mod-settings {
      container-type: inline-size;

      &::before {
        content: var(--setting-modal-header-title, version());
        position: absolute;
        left: 50%;
        top: var(--size-4-6);
        transform: translate(-50%, -50%);
        font-size: calc(1.4 * var(--size-4-4));
        font-weight: 550;
        color: var(--setting-color-logo, var(--logo-color-default));
      }

      @container (max-width:750px) {
        &::before {
          opacity: 0;
        }
      }
    }
  }

  .mod-settings .modal-content {
    background-color: var(--titlebar-background);

    .vertical-tab-header {
      background-color: hsl(var(--background-secondary-hsl));
      border-top: 1px solid var(--divider-color);
      margin-top: var(--modal-header-height);
      padding-top: 0;
    }

    .vertical-tab-content-container {
      padding-top: var(--modal-header-height);
      position: relative;

      .vertical-tab-content {
        position: unset !important;
        background-color: var(--background-primary);
        border-top: 1px solid var(--divider-color);
        padding-top: var(--size-4-6);
        padding-right: var(--size-4-8);

        h2 {
          font-size: var(--h2-size);
          font-weight: var(--h2-weight);
        }
      }
    }
  }

  &.modal-header-search .mod-settings .modal-content {
    .plugin-list-plugins .setting-item-heading {
      margin: 0;
    }

    .setting-item:not(:has(.style-settings-import)):has(
        :is(
            [class='search-input-container'],
            [class='search-input-container mod-hotkey']
          )
      ) {
      position: absolute;
      padding: 0;
      top: 0;
      right: var(--top-search-right);
      border: none;
      .setting-item-info {
        visibility: hidden;
      }
    }

    .setting-filter-container {
      margin-bottom: var(--size-4-1);
      .hotkey-filter {
        margin-bottom: var(--size-4-3);
      }
    }
  }
}

select,
.dropdown,
button {
  transition: var(--animation);
  transition-property: background-color, box-shadow;
}

:is(select, .combobox-button, .dropdown):focus-visible {
  outline: 0;
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}

button[disabled],
button[aria-disabled='true'],
button[disabled='true'] {
  color: var(--text-faint);
}

.theme-light {
  --select-bg-img: #{icon('chevron-down', '#222')};
}

.theme-dark {
  /* current color seems to be invalid for SVG in background-image */
  --select-bg-img: #{icon('chevron-down', '#ddd')};
}

:is(select, .dropdown) {
  background-size: calc(1.2 * var(--size-4-4));
  background-position: right calc(0.4 * var(--size-4-4)) top 56%, 0 0;
  background-image: var(--select-bg-img) !important;
}

.flair.mod-pop {
  --flair-background: var(--background-modifier-hover);
  --flair-color: var(--text-accent);
}

// community resource panel optimization
body:not(.is-phone) .modal-container {
  .is-loading {
    position: initial;
  }

  :is(.mod-community-plugin, .mod-community-theme) {
    .modal-sidebar .setting-item:first-child {
      max-width: var(--modal-community-sidebar-width);
    }
    .modal-header {
      display: inline-block;
      position: absolute;
      top: var(--size-4-3);
      inset-inline-start: var(--size-4-3);
    }
  }

  .community-item {
    --interactive-accent: var(--accent-active-bg);
    transition: border-color var(--animation);
  }

  .modal-sidebar:not(:has(+ .community-modal-details)) {
    .community-modal-controls {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      height: calc(var(--font-ui-small) + var(--size-4-3) * 2);
      padding-inline-end: var(--size-4-9);
    }
  }

  .community-modal-search-summary {
    display: none;
  }

  .community-modal-controls {
    button.clickable-icon {
      padding: var(--size-2-1) var(--size-2-2);
      position: absolute;
      margin-inline-end: var(--size-4-1);
    }

    .search-input-container {
      // * {
      //   transition: var(--animation);
      // }
      .search-input-clear-button {
        right: calc(var(--size-4-6) + var(--size-2-1));
      }
      input {
        padding-inline-end: var(--size-4-12);
        transition: var(--animation);
        transition-property: border-color, background-color, box-shadow;
      }
    }
  }

  .mod-settings .modal-content {
    .setting-item-heading .setting-item-name {
      font-weight: 550;
      font-size: var(--font-ui-medium);
    }
  }
}

body.enable-group-title
  .modal-container
  .mod-settings
  .modal-content
  .vertical-tab-header-group {
  padding-bottom: 0;

  &-title {
    $title-size: var(--size-4-4);
    color: var(--text-accent);
    font-size: $title-size;
    &::before {
      content: '';
      display: inline-block;
      translate: 0 var(--size-2-1);
      margin-right: var(--size-4-1);
      @include use-icon(--settings-icon, inherit, $title-size);
    }
  }

  &:nth-last-of-type(3) > .vertical-tab-header-group-title::before {
    --settings-icon: #{icon('settings')};
  }

  &:nth-last-of-type(2) > .vertical-tab-header-group-title::before {
    --settings-icon: #{icon('box')};
  }

  &:nth-last-of-type(1) > .vertical-tab-header-group-title::before {
    --settings-icon: #{icon('users-round')};
  }
}

:is(.menu, .modal-bg, .document-search-container, .suggestion-container) {
  animation: use-animation('op');
}

:is(.prompt, .popover, .modal) {
  animation: use-animation('op'), use-animation('slide-up');
}

:is(
    .menu-normal .menu,
    .menu-suggestion .suggestion-container,
    .menu-graph .graph-control-section
  ) {
  background-color: hsla(var(--background-secondary-hsl), 0.5) !important;
  backdrop-filter: blur(var(--size-4-8));
  will-change: backdrop-filter;
}

.modal-bg {
  opacity: 1 !important;
  background-color: hsla(var(--background-secondary-hsl), 0.6) !important;

  .modal-blur & {
    backdrop-filter: blur(6px);
    transform: translateZ(0);
  }
}

.mod-search-suggestion .suggestion {
  background-color: transparent;
}

.prompt-input-container {
  border-bottom: var(--divider-width) solid var(--divider-color);
  margin-top: var(--size-4-2);
  input {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
  }
}

.prompt-results {
  padding: var(--size-4-2);
}

.prompt-instructions {
  padding-inline: var(--size-4-5);
  justify-content: flex-end;
  gap: var(--size-2-3) var(--size-4-3);
}
