@use '../utils' as *;

body {
  --modal-width: min(90vw, var(--modal-max-width));
  --modal-height: min(85vh, var(--modal-max-height));
  --menu-border-color: var(--background-modifier-border);
}

body:not(.is-phone)
  :is(.horizontal-tab-nav-item, .vertical-tab-nav-item).is-active {
  background-color: var(--nav-item-background-active) !important;
  & > div {
    color: var(--text-on-accent);
  }
}

.clickable-icon {
  transition: var(--animation-fast);
  transition-property: opacity, background-color;
}

@include use-no-plugin('.modal-control-gradient') {
  button.mod-cta {
    transition: box-shadow var(--animation);
    background: linear-gradient(
      to bottom,
      transparent -240%,
      var(--color-accent) 100%
    );
    &:hover {
      background: linear-gradient(
        to bottom,
        transparent -240%,
        var(--color-accent-1) 100%
      );
    }
    &:not(.mod-loading) {
      color: var(--text-on-accent);
    }
  }

  button.mod-warning {
    transition: box-shadow var(--animation);
    background: linear-gradient(
      to bottom,
      transparent -240%,
      var(--background-modifier-error) 100%
    );
    color: var(--text-on-accent);
    &:hover {
      background: linear-gradient(
        to bottom,
        transparent -240%,
        var(--background-modifier-error-hover) 100%
      );
    }
  }

  .checkbox-container {
    &.is-enabled {
      background: linear-gradient(
        to bottom,
        transparent -200%,
        var(--accent-active) 100%
      );
    }
  }
}

.search-input-container input {
  padding-inline: var(--size-4-8) var(--size-4-1);
}

.checkbox-container {
  background-color: var(--color-base-25);
  --interactive-accent: var(--accent-active);

  .theme-light & {
    --toggle-thumb-color: #fafafa;
  }

  .theme-dark & {
    --toggle-thumb-color: #e0e0e0;
  }
}

.modal-toggle-square {
  .checkbox-container {
    --toggle-border-width: var(--size-4-1);
    --toggle-thumb-width: calc(var(--input-height) / 2);
    --toggle-thumb-height: var(--toggle-thumb-width);
    --toggle-thumb-radius: calc(var(--toggle-thumb-width) / 3);
    --toggle-radius: calc(
      var(--toggle-s-thumb-radius) + var(--toggle-border-width) / 2
    );
    --toggle-s-border-width: var(--toggle-border-width);
    --toggle-s-thumb-radius: var(--toggle-thumb-radius);
    --toggle-s-thumb-width: var(--toggle-thumb-width);
    --toggle-s-thumb-height: var(--toggle-thumb-height);
  }
}

body:not(.is-mobile) {
  --slider-track-background: var(--accent-inactive);
  &.modal-slider {
    --slider-thumb-width: 18px !important;
    input[type='range'] {
      &:focus {
        --slider-thumb-ring-factor: 5.2;
      }
      &::-webkit-slider-thumb {
        box-shadow: inset 0 0 0
            calc(
              var(--slider-thumb-width) / var(--slider-thumb-ring-factor, 4) *
                0.9
            )
            var(--color-base-20),
          inset 0 0 0 calc(var(--slider-thumb-width) / 2) var(--accent-active),
          var(--input-shadow);
        transition: box-shadow var(--animation);
        border-width: 0;
        &:is(:hover, :active, :focus) {
          --slider-thumb-ring-factor: 5.2;
        }
      }
    }
  }

  &:is(.modal-toggle-floating, .modal-toggle-thin) {
    .checkbox-container {
      --toggle-target-width: var(--toggle-width);
      &.mod-small {
        --toggle-target-width: var(--toggle-s-width);
      }
      --toggle-radius: var(--radius-m);
      height: var(--size-4-4);
      transition: var(--animation);
      border: var(--toggle-border-width) solid var(--text-faint);

      &:focus-within {
        outline: none;
        box-shadow: inset 0 6px 20px rgba(0, 0, 0, 0.14),
          inset 0 0 1px rgba(0, 0, 0, 0.28);
      }

      input[type='checkbox'] {
        opacity: 0;
      }
    }
  }

  // https://uiverse.io/aasisodiya/sour-horse-29
  &.modal-toggle-floating .checkbox-container {
    &::after {
      left: 0;
      height: calc(var(--toggle-target-width) / 3);
      width: calc(var(--toggle-target-width) / 3);
      bottom: 30%;
      border-radius: calc(var(--toggle-target-width) / 2);
      border: var(--toggle-border-width) solid var(--text-faint);
      margin: 0;
      transition: var(--animation);
    }

    :is(&:hover, &:focus-within)::after {
      bottom: 10%;
    }

    &.is-enabled {
      border-color: var(--accent-active);
      background: var(--accent-inactive);

      &::after {
        border-color: var(--accent-active);
        transform: none;
        left: calc(
          100% - var(--toggle-target-width) / 3 - 3 * var(--toggle-border-width)
        );
      }
    }
  }

  // https://uiverse.io/martinval9/white-lionfish-18
  &.modal-toggle-thin .checkbox-container {
    $width: calc(var(--toggle-target-width) / 8 + var(--toggle-border-width));
    &::after {
      left: var(--toggle-border-width);
      height: calc(var(--toggle-target-width) / 4 + var(--toggle-border-width));
      bottom: 50%;
      border-radius: #{$width} #{$width} 0 0;
      border: var(--toggle-border-width) solid var(--text-faint);
      width: #{$width};
      margin: 0;
      transition: var(--animation);
    }

    :is(&:hover, &:focus-within)::after {
      height: calc(var(--toggle-target-width) / 6 + var(--toggle-border-width));
    }

    &:active::after {
      width: calc(100% - var(--toggle-border-width) * 6);
    }

    &.is-enabled {
      border-color: var(--accent-active);
      background: var(--accent-inactive);

      &::before {
        background-color: var(--accent-active-bg);
      }

      &::after {
        border-color: var(--accent-active);
        transform: none;
        left: calc(80% - var(--toggle-border-width) * 4);
      }

      &:active::after {
        left: calc(2 * var(--toggle-border-width));
      }
    }
  }
}

body.modal-setting-header:not(.is-mobile) {
  --modal-close-button-padding: var(--size-4-2);
  --modal-header-height: var(--size-4-10);

  .modal-close-button {
    transition: background-color var(--animation);
    z-index: calc(var(--layer-modal) + 1);
    top: var(--modal-close-button-padding);
    inset-inline-end: var(--modal-close-button-padding);
  }

  .modal-container {
    .mod-settings {
      container-type: inline-size;

      &::before {
        content: var(--setting-modal-header-title, version());
        position: absolute;
        left: var(--size-4-4);
        top: calc(var(--modal-header-height) / 2);
        translate: 0 -50%;
        font-size: 18px;
        font-weight: 550;
        color: var(--setting-color-logo, var(--text-accent));
      }
    }
  }

  &.modal-setting-header-title-center .modal-container {
    .mod-settings {
      &::before {
        left: 50%;
        translate: -50% -50%;
      }

      @container (max-width:750px) {
        &::before {
          opacity: 0;
        }
      }
    }
  }

  .mod-settings .modal-content {
    background-color: var(--titlebar-background);

    .vertical-tab-header {
      background-color: hsl(var(--background-secondary-hsl));
      border-top: 1px solid var(--divider-color);
      margin-top: var(--modal-header-height);
      padding-top: 0;
    }

    .vertical-tab-content-container {
      padding-top: var(--modal-header-height);
      position: relative;

      .vertical-tab-content {
        position: unset !important;
        background-color: var(--background-primary);
        border-top: 1px solid var(--divider-color);
        padding-top: var(--size-4-6);
        padding-right: var(--size-4-8);

        h2 {
          font-size: var(--h2-size);
          font-weight: var(--h2-weight);
        }
      }
    }
  }

  &.modal-setting-header-search {
    --modal-close-button-padding: var(--size-4-3);
    --modal-header-height: var(--size-4-12);

    .mod-settings {
      &::before {
        font-size: 20px;
      }
      .modal-content {
        :is(
            .plugin-list-plugins,
            .vertical-tab-content:is(
                :has(> .installed-plugins-container),
                :has(> .hotkey-list-container)
              )
          )
          > .setting-item:has(input) {
          position: absolute;
          padding: 0;
          top: 0;
          right: var(--modal-header-height);
          border: none;
          .setting-item-info {
            visibility: hidden;
          }
        }
        .plugin-list-plugins .setting-item-heading {
          margin: 0;
        }
        .setting-filter-container {
          margin-bottom: var(--size-4-1);
          .hotkey-filter {
            margin-bottom: var(--size-4-3);
          }
        }

        :is(
            .setting-group-search .search-input-container,
            .setting-item-control:has(.search-input-container.mod-hotkey)
          ) {
          position: absolute;
          padding: 0;
          top: calc(var(--size-4-2) + var(--size-2-1));
          right: var(--modal-header-height);
          border: none;
          .setting-item-info {
            visibility: hidden;
          }
        }
        .setting-group-search {
          padding-block: calc(var(--size-4-2) + var(--size-2-1));
        }
        .setting-item:has(~ .hotkey-list-container) .setting-item-info {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          gap: var(--size-4-2);
          .setting-item-name {
            font-size: var(--h4-size);
            font-weight: bold;
          }
        }
      }
    }
  }
}

select,
.dropdown,
button {
  transition: var(--animation);
  transition-property: background-color, box-shadow;
}

:is(select, .combobox-button, .dropdown):focus-visible {
  outline: 0;
  box-shadow: 0 0 0 3px var(--background-modifier-border-focus);
}

button[disabled],
button[aria-disabled='true'],
button[disabled='true'] {
  color: var(--text-faint);
}

.theme-light {
  --select-bg-img: #{icon('chevron-down', '#222')};
}

.theme-dark {
  /* current color seems to be invalid for SVG in background-image */
  --select-bg-img: #{icon('chevron-down', '#ddd')};
}

:is(select, .dropdown) {
  background-size: calc(1.2 * var(--size-4-4));
  background-position: right calc(0.4 * var(--size-4-4)) top 56%, 0 0;
  background-image: var(--select-bg-img) !important;
}

.flair.mod-pop {
  --flair-background: var(--background-modifier-hover);
  --flair-color: var(--text-accent);
}

// community resource panel optimization
body:not(.is-phone) .modal-container {
  .is-loading {
    position: initial;
  }

  :is(.mod-community-plugin, .mod-community-theme) {
    .modal-sidebar .setting-item:first-child {
      max-width: var(--modal-community-sidebar-width);
      margin-bottom: var(--size-4-2);
    }
    .modal-header {
      display: inline-block;
      position: absolute;
      top: var(--size-4-3);
      inset-inline-start: var(--size-4-4);
    }
  }

  .community-item {
    --interactive-accent: var(--accent-active-bg);
    transition: border-color var(--animation);
  }

  .modal-sidebar:not(:has(+ .community-modal-details)) {
    .community-modal-controls {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      height: calc(var(--font-ui-small) + var(--size-4-3) * 2);
      padding-inline-end: var(--size-4-9);
    }
  }

  .community-modal-search-summary {
    display: none;
  }

  .community-modal-controls {
    button.clickable-icon {
      padding: var(--size-2-1) var(--size-2-2);
      position: absolute;
      margin-inline-end: var(--size-4-1);
    }

    .search-input-container {
      .search-input-clear-button {
        right: calc(var(--size-4-6) + var(--size-2-1));
      }
      input {
        padding-inline-end: var(--size-4-8);
        transition: var(--animation);
        transition-property: border-color, background-color, box-shadow;
      }
    }
  }

  .mod-settings .modal-content {
    .setting-item-heading .setting-item-name {
      font-weight: 550;
      font-size: var(--font-ui-medium);
    }
  }
}

body.enable-group-title
  .modal-container
  .mod-settings
  .modal-content
  .vertical-tab-header-group {
  padding-bottom: 0;

  &-title {
    $title-size: var(--size-4-4);
    color: var(--text-accent);
    font-size: $title-size;
    font-weight: var(--font-bold);
    &::before {
      content: '';
      display: inline-block;
      translate: 0 var(--size-2-1);
      margin-inline-end: var(--size-4-2);
      @include use-icon(--settings-icon, inherit, $title-size);
    }
  }

  &:nth-last-of-type(3) > .vertical-tab-header-group-title::before {
    --settings-icon: #{icon('settings')};
  }

  &:nth-last-of-type(2) > .vertical-tab-header-group-title::before {
    --settings-icon: #{icon('box')};
  }

  &:nth-last-of-type(1) > .vertical-tab-header-group-title::before {
    --settings-icon: #{icon('users-round')};
  }
}

:is(.menu, .modal-bg, .document-search-container, .suggestion-container) {
  animation: use-animation('op');
}

:is(.prompt, .popover, .modal) {
  animation: use-animation('op'), use-animation('slide-up');
  body.modal-will-change & {
    will-change: transform, opacity;
  }
}

body:not(.is-phone) {
  .modal-bg {
    opacity: 1 !important;
    background-color: hsla(var(--background-secondary-hsl), 0.6) !important;
  }

  &.enable-blur {
    :is(.menu, .suggestion-container, .graph-control-section) {
      background-color: hsla(var(--background-secondary-hsl), 0.7) !important;
      backdrop-filter: blur(20px);
      will-change: backdrop-filter;
    }
    .modal-bg {
      backdrop-filter: blur(6px);
      transform: translateZ(0);
    }
  }
}

.mod-search-suggestion .suggestion {
  background-color: transparent;
}

.prompt-input-container {
  border-bottom: var(--divider-width) solid var(--divider-color);
  margin-top: var(--size-4-2);
  input {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
  }
}

.prompt-results {
  padding: var(--size-4-2);
}

.prompt-instructions {
  padding-inline: var(--size-4-5);
  justify-content: flex-end;
  gap: var(--size-2-3) var(--size-4-3);
}
