// structure:
// <body>
//   <div class="print">
//     <div class="markdown-preview-view markdown-rendered show-properties">
//     </div>
//   </div>
// </body>

body.export-pdf-transparent .print {
  --background-primary: transparent;
}

.print {
  code {
    white-space: pre-wrap !important;
  }

  :is(.markdown-preview-view, .markdown-rendered) {
    background-color: var(--background-primary) !important;
  }

  pre {
    &::before {
      right: var(--size-4-2) !important;
    }

    code {
      tab-size: 4;
    }
  }
}