@use '../utils.scss' as *;

@include use-no-plugin('.explorer-icon') {
  .workspace-tab-header-inner-icon {
    @include use-icon-override('.lucide-file-audio', 'music-4');
    @include use-icon-override('.lucide-file', 'film');
    @include use-icon-override('.lucide-file-text', 'book-open');
    @include use-icon-override('.lucide-table', 'database');
  }
}

@include use-no-plugin('.tab-float') {
  --tab-radius: var(--size-2-3);

  &.theme-light {
    --tab-active-shadow: var(--shadow-s);
  }

  .is-sidedock-collapsed + .mod-root .sidebar-toggle-button.mod-left {
    margin-right: var(--size-4-2);
  }

  .mod-root {
    .workspace-tab-header {
      padding-block: 0 !important;
      transition: color var(--animation), width var(--animation);
      --tab-curve: 0;
      --tab-radius-active: var(--radius-m);

      &.is-active {
        box-shadow: var(--tab-active-shadow);
      }
      &-container {
        padding-left: var(--size-4-1);

        &-inner {
          margin-top: var(--size-4-1);
          padding-bottom: var(--size-4-1);
          padding-left: var(--size-4-1);

          &-close-button {
            padding: var(--size-2-1);

            &:hover {
              background-color: var(--frame-background-color);
            }
          }
        }
      }
    }

    .workspace-tabs:not(.mod-stacked):not(.mod-active)
      .workspace-tab-header.is-active {
      --tab-background-active: hsla(var(--background-primary-hsl), 0.5);
    }
  }

  .workspace-tab-header-new-tab {
    padding-top: var(--size-4-1);
  }
}

.view-header-title-parent {
  &:empty + .view-header-title {
    max-width: 70%;
    text-align: center;
    cursor: text;
  }

  &:not(:empty) + .view-header-title:after {
    content: '';
    width: 20%;
    inset-block: 0;
    position: absolute;
    cursor: text;
  }
}

body.tab-show-close-all .mod-root .workspace-tab-header,
body.tab-show-close-part .mod-root .workspace-tab-header:not(.is-active) {
  .workspace-tab-header-inner-close-button {
    display: none;
  }

  &:hover .workspace-tab-header-inner-close-button {
    display: inherit;
  }
}

body.tab-title-bar-text-small .view-header {
  --file-header-font-size: calc(var(--font-ui-smaller) - var(--size-2-1));
}

body.tab-title-bar-text-hidden
  .workspace-leaf-content
  .view-header-title-container {
  opacity: 0;
  transition: var(--animation);
  transition-delay: var(--animation-delay);

  &:hover {
    opacity: 1;
    transition-delay: 0s;
  }
}

/* tab switch animation, reference from https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow */

body.tab-slide-up:not(.is-mobile):not(.is-tablet) {
  .workspace-split:not(.is-sidedock-collapsed)
    .workspace-tabs:not(.mod-stacked)
    .workspace-leaf-content:not([data-type='undefined'])
    .view-content {
    animation: use-animation('op'), use-animation('slide-up');
  }
}

.workspace-split.mod-sidedock {
  &.is-sidedock-collapsed {
    animation: use-animation('fade-dock');
  }
  &:not(.is-sidedock-collapsed) {
    animation: use-animation('op');
  }
}

.search-result-file-matches {
  border-radius: var(--radius-m);
}
