@use '../utils.scss' as *;

body.titlebar-button-style {
  &.is-hidden-frameless:is(.mod-windows, .mod-linux) .titlebar-button {
    padding: 0 14px;

    svg {
      width: 100%;
      height: 32%;
    }
  }

  .mod-maximize svg rect {
    rx: 1.8;
  }

  @include use-icon-override('&.is-maximized .mod-maximize svg', 'max-to-win');

  &.is-frameless:not(.is-hidden-frameless):is(.mod-windows, .mod-linux)
    .titlebar-button
    svg:not([class*='logo']) {
    width: 100%;
    height: 42%;
  }

  .titlebar-button.mod-close:hover {
    color: var(--text-on-accent);
  }

  .workspace-tab-header-new-tab {
    padding-bottom: var(--size-2-1);
  }
}

.theme-light {
  --frame-bg: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 32%)
  );
}

.theme-dark {
  --frame-bg: hsl(var(--accent-h), 20%, 12%);
}

body {
  --tab-container-background: var(--frame-bg);
  --titlebar-background: var(--frame-bg);
  --titlebar-background-focused: var(--frame-bg);
}

body.titlebar-colorful {
  &.theme-light {
    --frame-bg: hsl(var(--accent-h), 40%, 82%);
    .workspace-tab-header {
      --background-modifier-hover: hsl(var(--accent-h), 50%, 92%);
    }
  }

  &.theme-dark {
    --frame-bg: hsl(var(--accent-h), 24%, 22%);
    .workspace-tab-header {
      --background-modifier-hover: hsl(var(--accent-h), 45%, 32%);
    }
  }
}
