@use '../utils.scss' as *;

body {
  .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    background-color: var(--bg-surface);
    border-bottom: none;
  }

  @include use-icon-override('&.is-maximized .mod-maximize svg', 'max-to-win');

  &.is-hidden-frameless:is(.mod-windows, .mod-linux) .titlebar-button {
    padding: 0 15px;

    svg {
      width: 100%;
      height: 32%;

      &:not([class*='logo']) {
        width: 100%;
        height: 35%;
      }
    }
  }

  .mod-maximize svg rect {
    rx: 1.8;
  }

  .titlebar-button.mod-close:hover {
    background-color: hsl(1, 75%, 62%) !important;
    color: var(--text-on-accent);
  }

  .workspace-tab-header-new-tab {
    padding-bottom: var(--size-2-1);
  }
}
