/* ====== obsidian 标题栏 ====== */

.is-hidden-frameless:is(.mod-windows, .mod-linux) .titlebar-button {
  padding: 0 14px;

  svg {
    width: 100%;
    height: 32%;
  }
}

.is-frameless:not(.is-hidden-frameless):is(.mod-windows, .mod-linux) .titlebar-button svg:not([class*="logo"]) {
  width: 100%;
  height: 42%;
}

.titlebar-button.mod-close:hover {
  color: var(--text-on-accent);
}

.workspace-tab-header-new-tab {
  padding-bottom: var(--size-2-1);
}

.theme-light {
  --ribbon-background: hsla(calc(var(--accent-h) + 16),
      calc(var(--accent-s) / 1.2),
      calc(100% - (100% - var(--accent-l)) / 4),
      60%);
}

.theme-dark {
  --ribbon-background: hsla(calc(var(--accent-h) + 16),
      calc(var(--accent-s) / 1.5),
      calc(var(--accent-l) - 40%),
      60%);
}

.workspace-ribbon.mod-left {
  border-right: 0;
  --ribbon-background-collapsed: var(--ribbon-background);

  &::before {
    height: var(--header-height);
    border-bottom: 0;
  }
}

/* 参考 minimal theme */
:is(body, body.is-focused) {

  :is(.mod-top .workspace-tab-header-container, .sidebar-toggle-button.mod-left, .titlebar),
  .workspace-ribbon.mod-left::before {
    --titlebar-container: var(--frame-outline-color);
    --frame-divider-color: var(--frame-outline-color);
    --titlebar-background: var(--frame-background-color);
    --titlebar-background-focused: var(--frame-background-color);
    --tab-container-background: var(--frame-background-color);
    --titlebar-text-color: var(--frame-muted-color);
    --tab-outline-color: var(--frame-outline-color);
    --tab-divider-color: var(--frame-outline-color);
    --background-modifier-hover: var(--frame-outline-color);
    --icon-color: var(--frame-muted-color);
    --icon-color-hover: var(--frame-muted-color);
    --icon-color-focused: var(--color-base-100);
    --tab-text-color: var(--frame-muted-color);
    --tab-text-color-hover: var(--frame-muted-color);
    --tab-text-color-focused: var(--frame-muted-color);
  }

  .clickable-icon:active {
    color: var(--text-normal);
  }
}

.workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left .clickable-icon,
.workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right .clickable-icon {
  color: var(--color-accent);
}

body.titlebar-colorful {
  &.theme-light {
    --frame-background-color: hsl(var(--accent-h),
        var(--accent-s),
        calc(var(--accent-l) + 18%));
    --frame-outline-color: hsl(var(--accent-h),
        var(--accent-s),
        calc(var(--accent-l) + 23.5%));
    --frame-muted-color: hsl(var(--accent-h),
        calc(var(--accent-s) - 20%),
        ar(--accent-l));
  }

  &.theme-dark {
    --frame-background-color: hsl(var(--accent-h), 12%, 38%);
    --frame-outline-color: hsl(calc(var(--accent-h) - 6),
        calc(var(--accent-s) + 12%),
        40%);
    --frame-muted-color: hsl(var(--accent-h),
        calc(var(--accent-s) - 20%),
        calc(var(--accent-l) + 20%));
  }

  .workspace.is-left-sidedock-open .sidebar-toggle-button.mod-left .clickable-icon,
  .workspace.is-right-sidedock-open .sidebar-toggle-button.mod-right .clickable-icon {
    color: var(--text-on-accent);
  }

  :is(.document-search-close-button, .modal-close-button)::before {
    background-color: var(--text-normal);
  }
}