@use '../utils.scss' as *;

/* #region Icon */

.style-settings-heading[data-id^='maple']
  .style-settings-collapse-indicator::after {
  content: '';
  display: inline-block;
  translate: 0 var(--size-4-1);
  margin-left: var(--size-4-2);
  @include use-icon(
    --style-settings-icon,
    var(--text-muted),
    var(--font-ui-medium)
  );
}
.style-settings-heading[data-id='maple-basic'] {
  --style-settings-icon: #{icon('palette')};
}
.style-settings-heading[data-id='maple-workspace'] {
  --style-settings-icon: #{icon('panels-left-bottom')};
}
.style-settings-heading[data-id='maple-editor'] {
  --style-settings-icon: #{icon('pen-line')};
}
.style-settings-heading[data-id='maple-plugin'] {
  --style-settings-icon: #{icon('blocks')};
}
.style-settings-heading[data-id='maple-mobile'] {
  --style-settings-icon: #{icon('tablet-smartphone')};
}

/* #endregion */

/* #region Default Color Input Indicator */

html[lang='zh'] {
  --system-accent-override-text-cotent: '由 Style Settings 插件控制';
}

.setting-item-info:has(+ .setting-item-control > .style-settings-import)
  .setting-item-name {
  padding: var(--size-4-1);
}

body:not(.color-use-default) {
  .mod-settings
    .vertical-tab-content-container
    > .vertical-tab-content
    > .setting-item:nth-child(2)
    > .setting-item-control:has(> input[type='color']) {
    position: relative;
    :is(div, input) {
      visibility: hidden;
      pointer-events: none;
    }
    &::before {
      content: var(
        --system-accent-override-text-cotent,
        'Controlled by Style Settings Plugin'
      );
      font-family: var(--font-interface);
      font-size: var(--font-ui-smaller);
      position: absolute;
      width: var(--system-access-override-text-width, max-content);
      top: 50%;
      translate: 0 -50%;
      pointer-events: none;
    }
  }
}

/* #endregion */

/* #region Buttons */

:is(
    .style-settings-import,
    .style-settings-export,
    .style-settings-copy,
    .style-settings-download,
    .style-settings-import-label
  ) {
  transition: background-color var(--animation);
  text-decoration: none !important;
  height: var(--input-height);
  font-size: var(--font-ui-small);
  font-family: inherit;
  font-weight: var(--input-font-weight);
  color: var(--text-normal) !important;
  line-height: var(--input-height);
  padding: 0 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  box-shadow: var(--input-shadow);
  border-radius: var(--input-radius);
  background-color: var(--interactive-normal);

  &:hover {
    box-shadow: var(--input-shadow-hover);
    background-color: var(--interactive-hover);
  }
}

/* #endregion */

/* #region Controls */

.pickr .pcr-button {
  &::before,
  &::after {
    border-radius: var(--radius-s);
  }
}

.style-settings-container {
  .setting-item:is(
      [data-id='setting-accent-h-light'],
      [data-id='setting-accent-h-dark']
    ) {
    input.slider {
      --slider-thumb-height: var(--size-4-6);
      --slider-thumb-width: var(--size-2-2);
      --slider-track-height: calc(var(--slider-thumb-height) - var(--size-4-3));
      --slider-thumb-radius: var(--slider-thumb-width);
      --slider-thumb-y: calc(
        (var(--slider-track-height) - var(--slider-thumb-height)) / 1.4
      );
      border-radius: var(--radius-s);
      $s: 60%;
      $l: 60%;
      background: linear-gradient(
        to right,
        hsl(0 $s $l),
        hsl(30 $s $l),
        hsl(60 $s $l),
        hsl(90 $s $l),
        hsl(120 $s $l),
        hsl(150 $s $l),
        hsl(180 $s $l),
        hsl(210 $s $l),
        hsl(240 $s $l),
        hsl(270 $s $l),
        hsl(300 $s $l),
        hsl(330 $s $l),
        hsl(360 $s $l)
      );

      &::-webkit-slider-thumb {
        box-shadow: none;
        border-width: 1px;
      }
    }

    .setting-item-control::before {
      content: '';
      font-size: 0.7em;
      text-align: center;
      white-space: pre-wrap;
      height: 1.6em;
      width: 1.6em;
      color: var(--text-normal);
      position: relative;
      right: 1em;
      border-radius: var(--radius-s);
    }
  }

  .setting-item[data-id='setting-accent-h-light']
    .setting-item-control::before {
    background-color: hsl(var(--setting-accent-h-light, 35), 20%, 56%);
  }

  .setting-item[data-id='setting-accent-h-dark'] .setting-item-control::before {
    background-color: hsl(var(--setting-accent-h-dark, 207), 24%, 42%);
  }
}

/* #endregion */

/* #region Hide Options */

body.is-mobile
  .setting-item:is(
    [data-id='title-layout'],
    [data-id='modal-slider'],
    [data-id*='modal-header'],
    [data-id='image-zoom'],
    [data-id='scrollbar-enable'],
    [data-id='tab-slide-up']
  ),
body:not(.is-mobile) div[data-id='maple-mobile'],
body:not(.line-active-enable)
  .setting-item[data-id='setting-line-active-color'],
body:not(.calendar-swap-year-month)
  .setting-item[data-id='setting-calendar-year-suffix'],
body:not(.app-layout-card)
  .setting-item:is(
    [data-id='app-layout-card-bg'],
    [data-id='app-layout-card-border'],
    [data-id='setting-app-layout-spacing']
  ),
body:not(.app-layout-card.app-layout-card-custom)
  .setting-item:is(
    [data-id='setting-layout-image-light'],
    [data-id='setting-layout-opacity-light'],
    [data-id='setting-layout-image-dark'],
    [data-id='setting-layout-opacity-dark']
  ),
body:not(.editor-bg-plain) .setting-item[data-id='setting-editor-bg'],
body.editor-bg-plain .setting-item[data-id='setting-editor-bg-grid-spacing'],
body:not(.editor-bg-grid-dots)
  .setting-item[data-id='setting-editor-bg-grid-dots'],
body:not(.editor-bg-grid-line)
  .setting-item[data-id='setting-editor-bg-grid-line'],
body:not(.scrollbar-enable)
  .setting-item:is(
    [data-id='scrollbar-hover'],
    [data-id='scrollbar-movein-animation-enable']
  ),
body.bg-default .setting-item[data-id='setting-bg-color'],
body.scrollbar-hide
  .setting-item:is(
    [data-id*='scrollbar-hover'],
    [data-id='scrollbar-movein-animation'],
    [data-id='scrollbar-gutter']
  ),
:is(body.status-bar-scroll, body:not(.status-bar-style-float))
  .setting-item[data-id='status-bar-style-center'],
body:not(.loading-text) .setting-item[data-id='loading-text-content'],
body:not(.explorer-icon) .setting-item[data-id='setting-color-dirs'],
body:not(.search-internal-enable)
  .setting-item:is(
    [data-id='search-internal-expand-on-focus'],
    [data-id='search-internal-disable-select-all']
  ),
body:not(.outline-enable)
  .setting-item:is(
    [data-id='setting-outline-width'],
    [data-id='setting-outline-line-color'],
    [data-id='setting-outline-dot-color']
  ),
body:not(.color-use-custom)
  .setting-item:is([data-id='title-light-mode'], [data-id='title-dark-mode']),
body:not(.list-enable)
  .setting-item:is(
    [data-id*='setting-list-'],
    [data-id='list-checkbox'],
    [data-id='list-bullet-thread-style']
  ),
body:not(.list-bullet-thread-style)
  .setting-item[data-id='setting-list-guide-color'],
body:not(.code-language) .setting-item[data-id='setting-code-language-color'],
body:not(.code-preview-bg) .setting-item[data-id='setting-code-bg-outer'],
body:not(.modal-header)
  .setting-item:is(
    [data-id='modal-header-search'],
    [data-id='setting-modal-header-title']
  ),
body:not(.color-use-custom) .setting-item[data-id^='accent-hue'],
body:not(.color-active-custom-light)
  .setting-item[data-id='setting-color-active-custom-light'],
body:not(.color-active-custom-light)
  .setting-item[data-id='setting-color-inactive-custom-light'],
body:not(.color-active-custom-dark)
  .setting-item[data-id='setting-color-active-custom-dark'],
body:not(.color-active-custom-dark)
  .setting-item[data-id='setting-color-inactive-custom-dark'],
body:not(.message-modify) .setting-item[data-id^='setting-message'],
body:not(.image-zoom) .setting-item[data-id^='image-zoom-out'],
body:not(.heading-level-enable) .setting-item[data-id^='heading-level-fix'],
body:not(.heading-color-colorful) .setting-item[data-id='heading-color-custom'],
body:not(.heading-h1-full-line)
  .setting-item[data-id='heading-h1-full-line-direction'],
body:not(.heading-h1-block) .setting-item[data-id='heading-h1-block-contrast'],
body:not(.heading-h2-full-line)
  .setting-item[data-id='heading-h2-full-line-direction'],
body:not(.heading-h2-block) .setting-item[data-id='heading-h2-block-contrast'],
body:not(.heading-h3-full-line)
  .setting-item[data-id='heading-h3-full-line-direction'],
body:not(.heading-h3-block) .setting-item[data-id='heading-h3-block-contrast'],
body:not(.heading-h4-full-line)
  .setting-item[data-id='heading-h4-full-line-direction'],
body:not(.heading-h4-block) .setting-item[data-id='heading-h4-block-contrast'],
body:not(.heading-h5-full-line)
  .setting-item[data-id='heading-h5-full-line-direction'],
body:not(.heading-h5-block) .setting-item[data-id='heading-h5-block-contrast'],
body:not(.heading-h6-full-line)
  .setting-item[data-id='heading-h6-full-line-direction'],
body:not(.heading-h6-block) .setting-item[data-id='heading-h6-block-contrast'],
body:not(.table-style-colorful)
  .setting-item:is([data-id='table-round'], [data-id^='setting-table']),
body:not(.hr-enable) .setting-item[data-id^='setting-hr-icon'],
body:not(.tag-outline)
  .setting-item:is(
    [data-id='setting-tag-border'],
    [data-id='setting-tag-color']
  ) {
  display: none;

  & + .style-settings-container {
    display: none;
  }
}

/* #endregion */

/* 参考 https://github.com/damiankorcz/Prism-Theme */
@include use-panel('style-settings') {
  div.view-content {
    padding: var(--file-margins);

    body.is-mobile & {
      padding: var(--size-4-8) var(--size-4-4);
    }
  }

  .view-content
    .style-settings-container
    .setting-item:not(.setting-item-heading) {
    body:not(.is-mobile) & {
      flex-direction: row;
    }
  }
}

.setting-item.setting-item-heading.style-settings-heading {
  padding: var(--size-4-2);
  margin: var(--size-4-1) 0;
  border-radius: var(--radius-m);
  padding-left: var(--size-4-3);

  &:hover {
    background-color: var(--background-modifier-hover);
  }
}

.style-settings-container {
  padding-bottom: unset;

  .setting-item {
    padding: var(--size-4-2);
    padding-left: var(--size-4-6);

    .is-phone & {
      margin-top: unset;
    }
  }
}

.style-settings-heading[data-level='0']
  + .style-settings-container
  .style-settings-collapse-indicator {
  margin-left: unset;
}

:is(
    .setting-item.setting-item-heading.style-settings-heading,
    .style-settings-container .style-settings-heading
  ) {
  border-bottom: unset;
}

.setting-item-heading .setting-item-description {
  padding-left: var(--size-4-4);
}

.setting-item.setting-item-heading.is-collapsed {
  margin-bottom: unset;
}

.style-settings-container > .setting-item:last-of-type {
  padding-bottom: unset;
  margin-bottom: var(--size-4-4);
}

:is(
    .style-settings-heading[data-level='0'] + .style-settings-container,
    .style-settings-container
  ) {
  padding-left: var(--size-2-1);
  margin-left: var(--size-4-4);
  border-left: var(--nav-indentation-guide-width) solid
    var(--nav-indentation-guide-color);
  transition: border-color var(--animation);

  &:hover {
    border-left-color: var(--accent-inactive);
  }
}

.modal-style-settings {
  .style-settings-download {
    margin-right: var(--size-4-8);
  }
  .setting-item {
    align-items: center;
  }
}
