/* @settings

name: 🛠️ Maple Color And Animation
id: maple-basic
settings:
    -
        id: setting-animation-time
        title: Animation Duration (ms)
        title.zh: 动画持续时间（毫秒）
        type: variable-number-slider
        format: ms
        default: 200
        min: 0
        max: 500
        step: 50
    -
        id: color-use-custom
        title: Use Custom Accent Color
        description: Use style setting accent color instead of Obsidian's accent color
        title.zh: 自定义 accent color
        description.zh: 使用 style setting 的颜色，而不是 Obsidian 自带的颜色
        type: class-toggle
    -
        id: color-accent-light
        title: Light Mode
        title.zh: 浅色模式
        type: heading
        collapsed: true
        level: 2
    -
        id: setting-accent-h-light
        title: Base Color
        title.zh: 基础颜色
        type: variable-number-slider
        default: 35
        min: 0
        max: 360
        step: 5
    -
        id: color-active-light
        title: Highlight Color
        title.zh: 高亮颜色
        type: class-select
        allowEmpty: false
        default: color-active-default-light
        options:
            -   label: accent color
                value: color-active-default-light
            -   label: accent color alt
                value: color-active-alt-light
            -   label: custom
                value: color-active-custom-light
    -
        id: setting-color-active-custom-light
        title: Custom Highlight Color
        title.zh: 自定义高亮颜色
        type: variable-color
        format: rgb
        default: '#'
        opacity: false
    -
        id: color-more-light
        title: More Configuration
        title.zh: 更多设置
        type: heading
        collapsed: true
        level: 3
    -
        id: setting-accent-s-light
        title: Accent Color Saturation
        description: S(aturation) of HSL
        title.zh: 高亮颜色饱和度
        description.zh: HSL 中的 S
        type: variable-number-slider
        default: 32
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: setting-accent-l-light
        title: Accent Color Lightness
        description: L(ight) of HSL
        title.zh: 高亮颜色亮度
        description.zh: HSL 中的 L
        type: variable-number-slider
        default: 58
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: color-accent-dark
        title: Dark Mode
        title.zh: 暗色模式
        type: heading
        collapsed: true
        level: 2
    -
        id: setting-accent-h-dark
        title: Base Color
        title.zh: 基础颜色
        type: variable-number-slider
        default: 207
        min: 0
        max: 360
        step: 5
    -
        id: color-active-dark
        title: Highlight Color
        title.zh: 高亮颜色
        type: class-select
        allowEmpty: false
        default: color-active-default-dark
        options:
            -   label: accent color
                value: color-active-default-dark
            -   label: accent color alt
                value: color-active-alt-dark
            -   label: custom
                value: color-active-custom-dark
    -
        id: setting-color-active-custom-dark
        title: Custom Highlight Color
        title.zh: 自定义高亮颜色
        type: variable-color
        default: '#'
        format: rgb
        opacity: false
    -
        id: color-more-dark
        title: More Configuration
        title.zh: 更多设置
        type: heading
        collapsed: true
        level: 3
    -
        id: setting-accent-s-dark
        title: Accent Color Saturation
        description: S(aturation) of hsl
        title.zh: 高亮颜色饱和度
        description.zh: HSL 中的 S
        type: variable-number-slider
        default: 32
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: setting-accent-l-dark
        title: Accent Color Lightness
        description: L(ight) of hsl
        title.zh: 高亮颜色亮度
        description.zh: HSL 中的 L
        type: variable-number-slider
        default: 58
        format: '%'
        min: 0
        max: 100
        step: 1
    -
*/