/* @settings

name: 🌏 Maple Workspace
id: maple-workspace
settings:
    -
        id: titlebar
        title: Obsidian Titlebar
        title.zh: Obsidian 标题栏
        type: heading
        collapsed: true
        level: 2
    -
        id: titlebar-button-style
        title: Styled Window Buttons
        description: For Windows and Linux
        title.zh: 窗体按钮美化
        description.zh: 在 Windows 和 Linux 中生效
        type: class-toggle
        default: true
    -
        id: titlebar-colorful
        title: Colorful Titlebar
        description: Reference from https://github.com/kepano/obsidian-minimal
        title.zh: 多彩 Obsidian 标题栏
        description.zh: 参考 https://github.com/kepano/obsidian-minimal
        type: class-toggle
    -
        id: bg
        title: Wave Background
        description: Will also add in canvas card when card width > 768px
        title.zh: 波浪背景图
        description.zh: 白板的卡片宽度 >768px 时编辑卡片也会添加
        type: heading
        collapsed: true
        level: 2
    -
        id: bg-enable
        title: Background Wave Image
        description: Static style reference from https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow, ❗live style will increase CPU/GPU use
        title.zh: 背景波浪图
        description.zh: 静态图（static）参考 https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow，❗动态图（live）将提高 CPU/GPU 占用率
        type: class-select
        allowEmpty: false
        default: bg-static
        options:
            -   label: disable
                value: bg-default
            -   label: static
                value: bg-static
            -   label: live
                value: bg-live
    -
        id: setting-bg-color
        title: Wave Color
        title.zh: 波浪颜色
        type: variable-themed-color
        format: rgb
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: explorer
        title: File Explorer
        title.zh: 文件管理器
        type: heading
        collapsed: true
        level: 2
    -
        id: explorer-nav-decoration
        title: Add Tail Decorator On Active File
        description: Reference from https://github.com/Akifyss/obsidian-border
        title.zh: 在当前文件末尾添加装饰
        description.zh: 参考 https://github.com/Akifyss/obsidian-border
        type: class-toggle
    -
        id: explorer-title-wrap
        title: Auto Wrap For Long File Name
        title.zh: 为长文件名自动换行
        type: class-toggle
    -
        id: explorer-item-height
        title: Item Line Height
        title.zh: 行高
        type: variable-number-slider
        default: 1.6
        min: 1.2
        max: 1.8
        step: 0.1
    -
        id: explorer-icon
        title: Enable Prefix Icon
        description: If the tree indent is weird, please collpase all the directory and restart Obsidian
        title.zh: 开启前置图标
        description.zh: 如果缩进出现问题，请折叠全部文件夹并重启 Obsidian
        type: class-toggle
        default: true
    -
        id: setting-color-dirs
        title: Directory Color
        title.zh: 文件夹颜色
        type: variable-themed-color
        format: rgb-values
        opacity: false
        default-light: rgb(245, 180, 0)
        default-dark: rgb(245, 180, 0)
    -
        id: outline-panel
        title: Outline Panel
        title.zh: 文档大纲
        type: heading
        collapsed: true
        level: 2
    -
        id: outline-enable
        title: Logseq Bullet Thread Style Outline
        description: Please reload Obsidian after enable it, reference from https://github.com/pengx17/logseq-dev-theme/blob/main/bullet_threading.css
        title.zh: logseq bullet thread 样式的文档视图
        description.zh: 启用后请重启应用 参考 https://github.com/pengx17/logseq-dev-theme/blob/main/bullet_threading.css
        type: class-toggle
        default: true
    -
        id: status-bar
        title: Status Bar
        title.zh: 状态栏
        type: heading
        collapsed: true
        level: 2
    -
        id: status-bar-enable
        title: Custom Status Bar Style
        title.zh: 自定义状态栏样式
        type: class-toggle
        default: true
    -
        id: status-bar-style-float
        title: Round Style Status Bar
        title.zh: 圆角风格的状态栏
        type: class-toggle
        default: true
    -
        id: status-bar-style
        title: Status Bar Animation
        description: ❗last style only valid when turn on “round status bar”
        title.zh: 状态栏样式
        description.zh: ❗最后一种样式只在开启“圆角风格的状态栏”才生效
        type: class-select
        allowEmpty: false
        default: status-bar-default
        options:
            -   label: default
                value: status-bar-default
            -   label: show on hover
                value: status-bar-hidden
            -   label: scroll out on hover
                value: status-bar-scroll
    -
        id: status-bar-style-center
        title: Center Status Bar
        title.zh: 状态栏居中
        type: class-toggle
    -
        id: search-internal
        title: Document Search / Replace Panel
        title.zh: 文档内搜索框
        type: heading
        collapsed: true
        level: 2
    -
        id: search-internal-enable
        title: Minimal Document Search / Replace Panel (Like VSCode)
        title.zh: 精简的文档内搜索框（和 VSCode 类似）
        type: class-toggle
        default: true
    -
        id: tab
        title: Tab
        title.zh: 标签页
        type: heading
        collapsed: true
        level: 2
    -
        id: tab-float
        title: Float Style Tab (Like Firefox / Microsoft Edge)
        title.zh: 浮动的标签页（和 Firefox / Microsoft Edge 类似）
        type: class-toggle
    -
        id: tab-slide-up
        title: Slide Up Animation On Tab Switch
        description: ❗will prevent outline panel update instantly on switch articles
        title.zh: 标签页切换动画
        description.zh: ❗会导致切换文章时无法立即更新大纲面板
        type: class-toggle
        default: true
    -
        id: labeled-nav
        title: Text Labels For Primary Navigation
        description: Reference from https://github.com/kepano/obsidian-minimal
        title.zh: 主导航栏添加文字
        description.zh: 参考自 https://github.com/kepano/obsidian-minimal
        type: class-toggle
    -
        id: tab-show-close
        title: When To Show Close Button On Tabs
        title.zh: 何时显示标签页的关闭按钮
        type: class-select
        allowEmpty: false
        default: tab-show-close-default
        options:
            -   label: default
                value: tab-show-close-default
            -   label: on hover all tabs
                value: tab-show-close-all
            -   label: on hover except active tab
                value: tab-show-close-part
    -
        id: tab-title
        title: Tab Title Bar
        title.zh: 标签页标题栏
        type: heading
        level: 3
    -
        id: tab-title-bar-round
        title: Enable Tab Title Bar Round Style
        title.zh: 开启标签页标题栏圆角样式
        type: class-toggle
    -
        id: tab-title-bar-shadow
        title: Add Shadow For Active Tab Title Bar
        title.zh: 为当前标签页标题栏添加阴影
        type: class-toggle
    -
        id: tab-title-bar-text
        title: File Name On Tab Title Bar
        title.zh: 标签页标题栏的文件名
        type: class-select
        allowEmpty: false
        default: tab-title-bar-text-default
        options:
            -   label: default
                value: tab-title-bar-text-default
            -   label: small size
                value: tab-title-bar-text-small
            -   label: show on hover
                value: tab-title-bar-text-hidden
    -
        id: message
        title: Tooltip & Notice
        title.zh: 气泡提示框 & 通知
        type: heading
        collapsed: true
        level: 2
    -
        id: message-tooltip-hide-arrow
        title: Hide Tooltip Arrow
        title.zh: 隐藏气泡提示框箭头
        type: class-toggle
    -
        id: message-tooltip-hide
        title: Always Hide Tooltip
        title.zh: 永久隐藏气泡提示框
        type: class-toggle
    -
        id: message-modify
        title: Change Tooltip & Notice Color
        title.zh: 修改气泡提示框和消息的颜色
        type: class-toggle
        default: true
    -
        id: setting-message-bg
        title: Background Color
        title.zh: 背景色
        type: variable-themed-color
        format: hsl-values
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-message-fg
        title: Foreground Color
        title.zh: 文字色
        type: variable-themed-color
        format: rgb-values
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: modal
        title: Modal & Setting Panel
        title.zh: 弹出框 & 设置面板
        type: heading
        collapsed: true
        level: 2
    -
        id: modal-blur
        title: Enable Modal Background Blur
        description: If there is a delay in scrolling, try turning this option off
        title.zh: 开启弹出框背景模糊
        description.zh: 如果滚动时有卡顿，尝试关闭该选项
        type: class-toggle
        default: true
    -
        id: modal-header
        title: Add Header For Setting Panel
        description: Better with plugin “setting search”, invalid in mobile
        title.zh: 为设置面板添加顶部框
        description.zh: 配合 setting search 插件使用更佳，移动端无效
        type: class-toggle
    -
        id: setting-modal-header-title
        title: Set Modal Header Title
        title.zh: 设置面板标题
        type: variable-text
        default: "'maple 0.8.34'"
    -
        id: setting-group-title
        title: Add Style For Left Navigation Group Title
        title.zh: 为左侧选项组标题添加样式
        type: class-toggle
        default: true
    -
        id: setting-nav-decoration
        title: Styled Active Nav Item
        title.zh: 左侧当前设置项美化
        type: class-toggle
        default: true
    -
        id: modal-slider
        title: Styled Slider Thumb
        title.zh: 滑动条按钮美化
        type: class-toggle
        default: true
    -
        id: modal-toggle
        title: Styled Toggle Button
        title.zh: 开关按钮美化
        type: class-select
        allowEmpty: false
        default: modal-toggle-default
        options:
            -   label: default
                value: modal-toggle-default
            -   label: thin
                value: modal-toggle-thin
            -   label: round
                value: modal-toggle-round
    -
        id: modal-animation
        title: Modal Bounce Animation
        desciption: reference from https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow
        title.zh: 弹出框抖动动画
        desciption.zh: 参考 https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow
        type: class-toggle
        default: true
    -
        id: menu-blur
        title: Menu Blur
        title.zh: 菜单模糊
        type: heading
        collapsed: true
        level: 2
    -
        id: menu-normal
        title: Normal Menu
        title.zh: 普通菜单
        type: class-toggle
        default: true
    -
        id: menu-suggestion
        title: Suggestion Menu
        title.zh: 提示菜单
        type: class-toggle
        default: true
    -
        id: menu-graph
        title: Graph Menu
        title.zh: 图谱菜单
        type: class-toggle
        default: true
    -
        id: scrollbar
        title: Scrollbar
        title.zh: 滚动条
        type: heading
        collapsed: true
        level: 2
    -
        id: scrollbar-hide
        title: Always Hide Scrollbar
        title.zh: 不显示滚动条
        type: class-toggle
    -
        id: scrollbar-hover
        title: Scrollbar Hover Action
        title.zh: 鼠标经过时滚动条变化
        type: class-select
        allowEmpty: false
        default: scrollbar-hover-default
        options:
            -   label: default
                value: scrollbar-hover-default
            -   label: accent
                value: scrollbar-hover-accent
            -   label: expand
                value: scrollbar-hover-expand
    -
        id: scrollbar-movein-animation-enable
        title: Enable Scrollbar Animation
        description: When disabled, always show scrollbar; when enabled, hide scrollbar when the mouse move outside the container
        title.zh: 启用滚动条动画
        description.zh: 关闭时，一直显示滚动条；开启后，鼠标在容器外时隐藏滚动条
        type: class-toggle
        default: true
    -
        id: graph
        title: Graph
        title.zh: 关系图谱
        type: heading
        collapsed: true
        level: 2
    -
        id: setting-graph-node
        title: Node Color
        title.zh: 普通节点颜色
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-graph-node-unresolved
        title: Unresolved Node Color
        title.zh: 未连接节点颜色
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-graph-node-focus
        title: Focused Node Color
        title.zh: 聚焦节点颜色
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: export-pdf
        title: PDF Export
        title.zh: PDF 导出
        type: heading
        collapsed: true
        level: 2
    -
        id: export-pdf-transparent
        title: Transparent Page Background Color
        title.zh: 透明页面背景色
        type: class-toggle
*/