/* ====== 段落 ====== */

.markdown-rendered p {
  margin: var(--size-4-1) 0;
}

body mjx-container {
  mjx-utext {
    font-family: var(--font-text) !important;
  }
}

/* ====== latex 修复 ====== */

body.font-fix-latex mjx-container {
  .TEX-I {
    font-family: MJXZERO, EMBED-TEX-I;
  }
}

mjx-stretchy-h>mjx-ext>mjx-c::before {
  transform: scaleX(450) !important;
}

/* ====== 等宽字体 ====== */

body.font-maple {
  --font-monospace: var(--monospace-custom, 'maplemono'),
    var(--font-monospace-override), var(--font-monospace-theme),
    var(--font-monospace-default);
}

/* ====== 文本 ======= */

.theme-light {
  --active-line: hsl(calc(var(--accent-h) - 4),
      calc(var(--accent-s) - 12%),
      calc(100% - (100% - var(--accent-l)) / 5));
}

.theme-dark {
  --active-line: hsla(calc(var(--accent-h) - 24),
      18%,
      calc(var(--accent-l) / 4),
      95%);
}

body .markdown-source-view .cm-scroller .cm-line:not(.HyperMD-codeblock) {
  padding: {
    left: var(--size-4-1);
    right: var(--size-4-1);
  }
}

body:not(.line-active-disable) .markdown-source-view .cm-scroller .cm-line.cm-active {
  background-color: var(--active-line);
  border-radius: var(--radius-s);
}

/* ======= 键盘 ====== */
.cm-hmd-html-begin,
.cm-hmd-html-begin~.cm-tag,
.cm-hmd-html-end {
  font-family: var(--font-monospace);
}

kbd {
  user-select: none;
  border: var(--size-2-1) solid var(--accent-inactive);
  box-shadow: var(--shadow-s);
  border-radius: var(--size-2-3);
  transition: var(--animation);

  &:hover {
    border-color: var(--accent-active);
  }
}

::selection {
  text-decoration-line: none !important;
}

body :is(.markdown-source-view, .markdown-rendered) {
  --bold-color: var(--setting-text-bold-color, var(--color-red));
  --italic-color: var(--setting-text-italic-color, var(--color-red));
}

em,
.cm-em {
  --blockquote-color: var(--italic-color);
  text-decoration-style: dotted;
}

strong,
.cm-strong {
  --blockquote-color: var(--bold-color);
  text-decoration-style: double;
}

em,
.cm-em,
strong,
.cm-strong {
  text-decoration-line: underline;
  text-underline-offset: var(--size-2-1);
  transition: var(--animation);
}

a :is(em, strong) {
  text-decoration: none;

  &:hover {
    --bold-color: var(--text-on-accent);
    --italic-color: var(--text-on-accent);
  }
}

.workspace-leaf-content[data-type='markdown'] .view-header .clickable-icon:hover {
  background-color: var(--background-modifier-hover);
}

.cm-hmd-frontmatter {
  font-size: var(--font-small);
}

.view-content :is(.cm-scroller, .markdown-reading-view > .markdown-preview-view) {
  padding-top: 0; //calc(var(--file-margins) / 2);
}

body.tab-title-bar {
  .workspace-leaf-content:not([data-type='excalidraw']) .view-header {
    margin: var(--size-4-1);
    padding: 0 var(--size-2-3) !important;
    border: var(--size-2-1) solid var(--background-modifier-hover);
    border-radius: var(--radius-m);
    --file-header-font-size: calc(var(--font-ui-smaller) - var(--size-2-1));
    transition: var(--animation);
    width: calc(100% - var(--size-4-2)) !important;

    .view-header-title-container:after {
      content: none;
    }
  }

  .workspace-leaf.mod-active .workspace-leaf-content:not([data-type='excalidraw']) .view-header {
    --background-primary: var(--background-secondary);
  }

  &.tab-title-bar-shadow .workspace-leaf.mod-active .workspace-leaf-content:not([data-type='excalidraw']) .view-header {
    box-shadow: 0 0 var(--size-2-1) var(--background-modifier-box-shadow);
  }
}