/* ====== 链接 ====== */

body {
  --link-decoration-hover: none;
  --link-external-decoration-hover: none;
  --link-color: var(--color-blue);
  --link-color-hover: var(--text-accent);
  --link-external-color: var(--color-orange);
  --link-external-color-hover: var(--text-accent);
  --link-footnote: var(--color-purple);
}
@property --link-offset {
  syntax: '<length>';
  inherits: false;
  initial-value: 4px;
}
@property --link-thickness {
  syntax: '<length>';
  inherits: false;
  initial-value: 2px;
}

@mixin underline($color) {
  font-size: var(--font-text-size);
  text-underline-offset: var(--link-offset);
  color: $color !important;
  text-decoration-line: underline !important;
  text-decoration-skip-ink: none;
  text-decoration-color: $color !important;
  text-decoration-thickness: var(--link-thickness) !important;
  transition: --link-offset var(--animation), --link-thickness var(--animation),
    color var(--animation);

  &:hover,
  &:focus {
    color: var(--text-on-accent) !important;
    --link-offset: calc(var(--font-text-size) * -1 - var(--size-4-4));
    --link-thickness: calc(var(--font-text-size) + 10px);
  }
}
:is(a.external-link, .cm-link .cm-underline) {
  @include underline(var(--link-external-color));
}
.cm-hmd-footnote .cm-underline {
  color: var(--link-footnote) !important;
  font-size: var(--footnote-size);
  text-decoration-color: var(--link-footnote) !important;
  pointer-events: none;
}
body:not(.click-to-edit-link-in-live-preview)
  :is(:is(.markdown-source-view, .markdown-preview-view)
    a.external-link, .cm-link:not(.cm-hmd-footnote) .cm-underline)::before {
  content: '';
  display: inline-block;
  transform: translateY(var(--size-2-1));
  width: calc(var(--font-text-size) - var(--size-4-1));
  height: calc(var(--font-text-size) - var(--size-4-1));
  margin-left: var(--size-2-1);
  margin-right: var(--size-2-1);
  background-color: var(--link-external-color);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>');
}

:is(a.internal-link, .cm-hmd-internal-link .cm-underline) {
  @include underline(var(--link-color));
}
:is(:is(.markdown-source-view, .markdown-preview-view)
    a.internal-link, .cm-hmd-internal-link .cm-underline)::before {
  content: '';
  display: inline-block;
  transform: translateY(var(--size-2-1));
  width: calc(var(--font-text-size) - var(--size-2-1));
  height: calc(var(--font-text-size) - var(--size-2-1));
  margin-left: var(--size-2-1);
  background-color: var(--link-color);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
}
:is(.cm-hmd-internal-link, .cm-link) {
  transition: color var(--animation);
}
.cm-url {
  color: var(--link-color) !important;
}
span.cm-formatting-link {
  color: var(--accent-active) !important;
}
body:not(.click-to-edit-link-in-live-preview) {
  a.external-link {
    background-image: none;
    background-size: unset;
    padding-right: 0;
  }
  span.external-link {
    display: none;
  }
}
body.click-to-edit-link-in-live-preview
  :is(.cm-link .cm-underline, .cm-hmd-internal-link .cm-underline) {
  pointer-events: none;
}
