/* ====== 列表list ======= */

.markdown-source-view.mod-cm6 .HyperMD-task-line {
  .task-list-label {
    margin-left: calc(var(--size-2-1) * -1);
  }

  .task-list-item-checkbox {
    cursor: pointer;
  }

  .collapse-indicator {
    padding-right: 0.4rem;
  }
}

.markdown-rendered .contains-task-list .list-collapse-indicator {
  margin-left: -3rem;
}

:is(.markdown-rendered, .markdown-source-view.mod-cm6) input[type='checkbox'] {
  --checkbox-marker-color: var(--text-on-accent);
  transition: var(--animation);
  border-width: var(--size-2-1);

  &:checked:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.HyperMD-task-line .cm-indent::before {
  transform: translateX(0.4em) !important;
}

body {
  :is(.markdown-source-view, .markdown-rendered, .print .markdown-rendered) {
    --list-bullet-base: var(--size-4-3);
    --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base));
    --list-marker-color: var(--accent-active);
    --list-marker-color-alt: var(--accent-active);
    --list-spacing: 0;
  }

  :is(.markdown-preview-view, .print .markdown-rendered) {
    --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base) + 3px);

    :is(ul, ol) {
      padding-inline-start: 2.1rem;
      margin: var(--size-2-1) 0;

      :is(ul, ol) {
        padding-inline-start: 2.1rem;
      }

      li {
        margin: var(--size-4-2) auto;
        line-height: 1.8rem;
      }
    }

    ul {
      padding-inline-start: 1.2rem;

      &.contains-task-list {
        padding-inline-start: 1.6rem;
        margin-inline-start: 0 !important;
      }
    }

    ol li {
      &::marker {
        font-family: var(--font-monospace);
      }

      .list-collapse-indicator {
        margin-left: -3.5rem !important;
      }
    }

    &.show-indentation-guide {
      .contains-task-list {
        .task-list-item-checkbox {
          margin-right: var(--size-4-2);
        }

        .contains-task-list {
          margin-inline-start: 0.1rem !important;

          &::before {
            left: -1.2rem;
          }
        }
      }

      li>ol::before {
        left: -1.55rem;
      }

    }
  }


  ul>li>ul>li {
    --list-marker-color: transparent;
    --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base));
    --list-bullet-border: 2px solid var(--list-marker-color-alt);

    ul>li {
      --list-marker-color: var(--list-marker-color-alt);
      --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base) - 1px);
      --list-bullet-radius: 1px;

      .list-bullet:after {
        transform: rotate(45deg);
      }

      ul>li {
        --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base) - 1px);
        --list-marker-color: transparent;
        --list-bullet-border: var(--size-2-1) solid var(--list-marker-color-alt);
        --list-bullet-radius: 1px;
      }
    }
  }

  .markdown-source-view.mod-cm6 {
    .cm-line.HyperMD-list-line:not(.HyperMD-header):not(.HyperMD-task-line) .cm-fold-indicator .collapse-indicator {
      padding-right: 0.5rem;
      right: 0;
    }

    .cm-formatting-list {
      font-family: var(--font-monospace);
    }

    .HyperMD-list-line>.list-bullet:after {
      content: none;
    }

    .HyperMD-list-line-1 .list-bullet {
      --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base) + 3px);
    }

    .HyperMD-list-line-2 .list-bullet {
      --list-marker-color: transparent;
      --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base));
      --list-bullet-border: 2px solid var(--list-marker-color-alt);
    }

    .HyperMD-list-line-3 .list-bullet {
      --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base) + 3px);
      --list-bullet-radius: 1px;

      &::after {
        transform: rotate(45deg);
      }
    }

    .HyperMD-list-line:not(.HyperMD-list-line-1, .HyperMD-list-line-2, .HyperMD-list-line-3) .list-bullet {
      --list-bullet-size: calc(var(--font-text-size) - var(--list-bullet-base) - 1px);
      --list-marker-color: transparent;
      --list-bullet-border: 2px solid var(--list-marker-color-alt);
      --list-bullet-radius: 1px;

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}