@use '../../utils.scss' as *;

.empty-state-action-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  &::before {
    content: '';
    @include use-icon(
      'obsidian-icon',
      hsla(256, 92%, 76%, 0.2),
      calc(2 * var(--size-4-12))
    );
    margin-inline-start: 50%;
    translate: -50% -50%;
  }
  & > ::before {
    content: '';
    display: inline-block;
    margin-inline-end: var(--size-4-3);
    translate: 0 var(--size-4-1);
    @include use-icon(--empty-icon, var(--text-accent), var(--size-4-5));
  }
  :nth-child(1)::before {
    --empty-icon: #{icon('square-pen')};
  }
  :nth-child(2)::before {
    --empty-icon: #{icon('forward')};
  }
  :nth-child(3)::before {
    --empty-icon: #{icon('search')};
  }
  :nth-child(4)::before {
    --empty-icon: #{icon('globe')};
  }
  .mod-close::before {
    --empty-icon: #{icon('x')};
  }

  .empty-state-action {
    width: 100%;
    text-align: start;
  }
}
