@use '../../utils' as *;
@use 'sass:list';

$file-icon: (
  (pdf, 'book-open'),
  (png, svg, jpeg, jpg, bmp, gif, webp, tiff, 'image'),
  (mp3, flac, wav, ape, alac, aac, m4a, 'music-4'),
  (mkv, mp4, flv, webm, avi, mov, 'film'),
  (canvas, 'layout-dashboard'),
  (base, 'database'),
  ('excalidraw.md', excalidraw, pencil)
);

svg.lucide-layout-dashboard rect {
  rx: 2;
}
@mixin create-icons() {
  &::before {
    content: '';
    position: absolute;
    opacity: 0.8;
    flex-shrink: 0;
    translate: calc(var(--size-2-1) - var(--size-4-5)) 20%;
    --file-icon: #{icon('file-text')};
    @include use-icon(--file-icon, var(--accent-active), var(--size-4-4));
  }
  @each $i in $file-icon {
    $arr: '[data-path$="#{list.nth($i, 1)}"]';
    $icon-name: list.nth($i, list.length($i));

    @if list.length($i) >2 {
      @for $item from 2 through list.length($i) - 1 {
        $arr: list.append(
          $arr,
          '[data-path$=".#{list.nth($i, $item)}"]',
          comma
        );
      }
    }

    &:is(#{$arr})::before {
      --file-icon: #{icon($icon-name)};
    }

    &.is-unsupported::before {
      --file-icon: #{icon('file-question-mark')};
    }
  }
}

@mixin override-stack-menu() {
  .menu.mod-tab-list {
    @include use-icon-override('.lucide-file', 'file-text');
    @include use-icon-override('.lucide-file-text', 'book-open');
    @include use-icon-override('.lucide-file-audio', 'music-4');
    @include use-icon-override('.lucide-table', 'database');
  }
}

body {
  --file-folding-offset: 28px;
  --folder-color: var(--setting-color-dirs, hsl(46, 81%, 45%));
  --nav-item-size: calc(var(--size-4-4) * 0.9);
  --nav-indentation-guide-color: var(--color-base-30);
  --nav-indentation-guide-width: 1.8px;
}

.theme-light {
  --folder-inactive: 85%;
}

.theme-dark {
  --folder-inactive: 70%;
}

body:not(.is-grabbing)
  :is(.nav-file-title.is-being-dragged, .nav-folder-title.is-being-dragged),
.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
  background-color: var(--accent-inactive);
  color: var(--text-normal);
}

body.theme-dark.explorer-icon .is-active .nav-file-tag {
  --nav-item-background-active: var(--text-on-accent);
}

@include use-no-plugin('.explorer-icon') {
  @include override-stack-menu();
  @include use-icon-override('.lucide-folder-closed', 'folder');

  :is(.nav-file-title, .nav-folder-title).is-selected {
    font-weight: 550 !important;
    & + .nav-folder-children :is(.nav-file-title, .nav-folder-title) {
      font-weight: 550 !important;
    }
  }

  .nav-folder {
    &-title {
      cursor: pointer;

      &-content {
        padding-left: var(--size-4-1);
      }
    }

    .nav-folder-children {
      transition: var(--animation);

      &:hover {
        border-color: var(--accent-inactive);
      }
    }

    .collapse-icon {
      margin-inline-start: calc(var(--size-2-1) - var(--size-4-5));
      svg.svg-icon {
        display: inline-block;
        @include use-icon('folder-open', var(--folder-color), var(--size-4-4));
      }
    }

    &.is-collapsed .collapse-icon svg.svg-icon {
      transform: none;
      @include use-icon('folder', var(--folder-color));
      transition: var(--animation);
    }
  }

  .nav-file {
    &-title {
      @include create-icons();
      padding-inline-end: 0;

      .nav-file-tag {
        margin-right: var(--size-2-3);
        background-color: var(--background-modifier-hover);
        color: var(--text-accent);
        line-height: unset;
      }

      &.is-active:not(.is-selected) {
        &:first-child::before {
          background-color: var(--nav-item-color-active);
        }

        .nav-file-title-content {
          color: var(--nav-item-color-active);
        }

        .nav-file-tag {
          backdrop-filter: brightness(0.85);
          color: var(--nav-item-color-active);
        }
      }
      &-content {
        padding-left: var(--size-4-1);
      }
    }
  }
}

body.explorer-title-wrap
  :is(.nav-file-title-content, .nav-folder-title-content) {
  overflow: visible;
  white-space: pre-wrap;
}

body.explorer-folder-bold .nav-folder-title {
  font-weight: 600;
}
