.workspace-leaf-content[data-type="tag"] {
  .tree-item-self {
    &::before {
      background-color: var(--accent-active);
      line-height: var(--line-height-tight);
      width: 1rem;
      height: 1rem;
      margin-left: calc(-1 * var(--size-4-5));
      margin-right: var(--size-4-3);
      transform: translateY(var(--size-4-1));
      // add icon in icons.scss
    }
    &:has(.tree-item-icon)::before{
      background-color: var(--folder-color);
    }
  }

  .tree-item-icon.collapse-icon {
    cursor: pointer;

    svg {
      color: transparent;
    }
  }
}