@use '../../utils.scss' as *;

@include use-panel(tag) {
  .tree-item-self {
    &::before {
      line-height: var(--line-height-tight);
      margin-left: calc(-1 * var(--size-4-4));
      margin-right: var(--size-4-3);
      transform: translateY(var(--size-4-1));
      @include use-icon('tag', var(--accent-active), var(--size-4-4));
    }
    &:has(.tree-item-icon)::before {
      background-color: var(--folder-color);
    }
  }

  .tree-item-icon.collapse-icon {
    cursor: pointer;

    svg {
      color: transparent;
    }
  }
}
