.is-mobile {
  --interactive-hover: var(--background-modifier-hover);
  --system-access-override-text-width: auto;
  --scrollbar-thumb-bg: var(--interactive-hover);
  --scrollbar-active-thumb-bg: var(--interactive-accent);

  .modal-close-button::before {
    transform: translate(20%, 20%);
  }

  .mobile-tap {
    &.tree-item-self.is-clickable.is-active {
      background-color: var(--nav-item-background-active);
    }
  }
}
