.is-mobile {
  --interactive-normal: var(--color-base-05);
  --interactive-hover: var(--background-modifier-hover);
  --system-access-override-text-width: auto;

  input[type='search'] {
    background-color: var(--background-primary);
  }
  .modal-close-button::before {
    transform: translate(20%, 20%);
  }

  .mobile-tap {
    &.tree-item-self.is-clickable.is-active {
      background-color: var(--nav-item-background-active);
    }
  }
}
