.is-mobile {
  --input-border-width: 1px;
  --input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
    0 2px 3px 0 rgba(0, 0, 0, .05),
    0 1px 1.5px 0 rgba(0, 0, 0, .03),
    0 1px 2px 0 rgba(0, 0, 0, .04),
    0 0 0 0 transparent;

  &:is(.bg-static, .bg-live) {
    --background-modifier-form-field: hsl(var(--background-primary-hsl));
    --interactive-normal: hsl(var(--background-primary-hsl));
  }

  button:not(.clickable-icon) {
    background-color: var(--interactive-normal) !important;
    box-shadow: var(--input-shadow);
  }

  .document-search .document-search-button {
    padding: var(--size-4-2);
  }
}