body.is-phone {
  .mod-root .view-header {
    z-index: 3;
  }
  .mod-root
    .workspace-leaf-content[data-type='markdown']
    .view-actions
    button:nth-last-child(2) {
    position: fixed;
    right: var(--size-4-8);
    bottom: 0;
    backdrop-filter: blur(var(--size-4-1));
    background-color: hsla(var(--background-secondary-hsl), 0.6);
    border: 1px solid var(--color-base-20);
    margin-bottom: var(--safe-area-inset-bottom);
    border-radius: 100%;
    padding: var(--size-4-3);
    width: auto;
    height: auto;
    box-shadow: var(--shadow-s) !important;
    transition: var(--animation);
  }
}
