body.is-phone.mobile-floating-button {
  .mod-root .view-header {
    z-index: 3;
  }
  .mod-root
    .workspace-leaf-content[data-type='markdown']
    .view-actions
    button:nth-last-child(2) {
    position: fixed;
    right: var(--size-4-4);
    bottom: 0;
    color: var(--text-on-accent);
    background-color: var(--accent-active-bg);
    margin-bottom: calc(var(--safe-area-inset-bottom) + var(--size-4-4));
    border-radius: 100%;
    padding: var(--size-4-3);
    width: auto;
    height: auto;
    box-shadow: var(--shadow-s) !important;
  }
}
