body.is-phone.mobile-floating-button {
  --navbar-bottom-padding: max(var(--safe-area-inset-bottom), 28px);
  --navbar-side-padding: var(--safe-area-inset-side);

  &.is-ios {
    --navbar-bottom-padding: 28px;
    --navbar-side-padding: var(--navbar-bottom-padding);
  }

  .mod-root .view-header {
    z-index: 3;
  }
  .mod-root
    .workspace-leaf-content[data-type='markdown']
    .view-actions
    button:nth-last-child(2) {
    position: fixed;
    right: var(--navbar-side-padding);
    bottom: var(--navbar-bottom-padding);
    color: var(--text-on-accent);
    background-color: var(--accent-active-bg);
    border-radius: 100%;
    padding: var(--size-4-3);
    width: auto;
    height: auto;
    box-shadow: var(--shadow-s) !important;
  }
}
