/* ====== 亚克力效果 ======*/

body.back-blur {
  &-menu {
    :is(.menu, .suggestion-container, .excalidraw .context-menu) {
      background-color: hsla(var(--background-secondary-hsl), 0.7);
      backdrop-filter: blur(var(--blur));
    }
    .mod-search-suggestion .suggestion {
      background-color: transparent;
    }
  }
  &-modal .modal-bg {
    backdrop-filter: blur(calc(var(--blur) / 2));
    opacity: initial !important;
    background-color: hsla(var(--accent-h), 20%, 8%, 30%);
  }
  &-title-bar {
    .view-header {
      --background-primary: hsla(var(--background-primary-hsl), 0.9);
      backdrop-filter: blur(var(--blur));
      position: absolute;
      z-index: 100;
      width: calc(100% - var(--size-4-3));
      margin-right: var(--size-4-3);
      padding-right: 0;
    }
    &.tab-title-bar {
      .view-content
        :is(.cm-scroller, .markdown-reading-view > .markdown-preview-view) {
        padding-top: calc(var(--file-margins) + var(--size-4-4));
      }
      .workspace-leaf-content[data-type='style-settings'] .view-content {
        padding-top: calc(var(--file-margins) + var(--size-4-8));
      }
    }
    &.tab-title-bar .view-header {
      margin: var(--size-4-1) calc(var(--size-4-4) - var(--size-2-1)) 0;
      width: calc(100% - 2 * calc(var(--size-4-4) - var(--size-2-1)));
      --background-primary: hsla(var(--background-secondary-hsl), 0.9);
    }
    .workspace-leaf.mod-active .view-header {
      --background-primary: hsla(var(--background-primary-hsl), 0.6);
    }
    &.tab-title-bar .workspace-leaf.mod-active .view-header {
      --background-primary: hsla(var(--background-secondary-hsl), 0.6);
    }
  }
  &-status-bar .status-bar {
    --stauts-bar-background-opacity: 0.4;
    backdrop-filter: blur(var(--blur));
  }
}
