/* ====== 文件管理器 ====== */

body {
  --folder-color-rgb: 245, 180, 0;
  --folder-color: rgb(var(--setting-color-dirs, var(--folder-color-rgb)));
  --folder-hover-color: rgba(var(--setting-color-dirs, var(--folder-color-rgb)),
      0.24);
  --nav-item-size: 0.9rem;
  --line-height-tight: 1.6;
  --nav-indentation-guide-width: 1.8px;
  --nav-item-background-hover: var(--background-modifier-hover);
  --nav-item-background-active: var(--accent-active);
}

.theme-light {
  --folder-inactive: 85%;
}

.theme-dark {
  --folder-inactive: 70%;
}

.nav-file-title.is-active {
  color: var(--text-on-accent);
}

body.explorer-hide-name .workspace-leaf-content[data-type='file-explorer'] .nav-files-container .mod-root {
  padding-top: var(--size-4-2);

  &>.nav-folder-title {
    display: none;
  }
}

body.explorer-icon .workspace-leaf-content[data-type='file-explorer'] .nav-files-container .mod-root {
  .nav-folder {
    &-title {
      padding-left: var(--size-4-1);

      &:hover {
        background-color: var(--folder-hover-color);
      }
    }

    &>.nav-folder-children {
      transition: var(--animation);

      &:hover {
        border-color: var(--accent-active);
      }
    }

    &-collapse-indicator {
      margin-right: var(--size-4-2);
      cursor: pointer;

      svg {
        line-height: var(--line-height-tight);
        width: 1rem;
        height: 1rem;
        background-color: var(--folder-color);
        display: inline-block;
        margin-bottom: var(--size-4-1);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 42 42"><g fill="none"><path d="M24.833 12.5H40.25a3.75 3.75 0 0 1 3.745 3.55l.005.2v19a3.75 3.75 0 0 1-3.55 3.745l-.2.005H7.75a3.75 3.75 0 0 1-3.745-3.55L4 35.25V18.999L17.804 19l.226-.007a3.75 3.75 0 0 0 2.547-1.219l.147-.172l4.109-5.102zM17.061 9c.832 0 1.639.277 2.294.784l.175.144l2.444 2.138l-3.197 3.968l-.094.105c-.2.197-.46.322-.739.353l-.14.008L4 16.499V12.75a3.75 3.75 0 0 1 3.55-3.745L7.75 9h9.31z" fill="currentColor"></path></g></svg>');

        path {
          display: none;
        }
      }
    }

    &.is-collapsed .collapse-icon svg.svg-icon {
      transform: none;
      filter: brightness(var(--folder-inactive));
      transition: var(--animation);
    }
  }

  .nav-file {
    &-title {
      padding-left: var(--size-4-1);

      &-content:first-child::before {
        content: ' ';
        display: inline-block;
        width: 1rem;
        opacity: 0.8;
        height: 1rem;
        left: var(--size-4-1);
        margin-right: var(--size-4-1);
        transform: translateY(20%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--text-accent);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
      }

      &.is-active .nav-file-title-content:first-child::before {
        background-color: var(--text-on-accent);
      }
    }

    &-tag {
      font-size: 0.6rem;
      margin-left: 0;
      margin-right: var(--size-4-2);
      line-height: 2;
    }

    &-title .nav-file-tag {
      background-color: var(--nav-item-background-active);
      color: var(--text-on-accent);
    }

    &-title.is-active .nav-file-tag {
      background-color: var(--background-secondary);
      color: var(--accent-active);
    }

    &-title-content+.nav-file-tag {
      margin-left: var(--size-2-3);
    }
  }
}