/* ====== 加载图 ====== */

// body.loading-img .progress-bar-message {
//   visibility: hidden;
//   &:before {
//     $a: 176px;
//     content: '加载中';
//     font-size: 1rem;
//     color: var(--text-normal);
//     line-height: $a;
//     background: no-repeat center/cover
//       var(
//         --loading-img-url,
//         url('data:image/svg+xml;utf8,<svg class="pl" width="5em" height="5em" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><style>.pl circle{transform-box:fill-box;transform-origin:50% 50%}.pl__ring1{animation:ring1 4s 0s ease-in-out infinite}.pl__ring2{animation:ring2 4s 40ms ease-in-out infinite}.pl__ring3{animation:ring3 4s 80ms ease-in-out infinite}.pl__ring4{animation:ring4 4s .12s ease-in-out infinite}.pl__ring5{animation:ring5 4s .16s ease-in-out infinite}.pl__ring6{animation:ring6 4s .2s ease-in-out infinite}@keyframes ring1{from{stroke-dashoffset:-376.237129776;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-94.247778;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-376.237129776;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-94.247778;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-376.237129776;transform:rotate(4.75turn)}}@keyframes ring2{from{stroke-dashoffset:-329.207488554;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-82.46680575;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-329.207488554;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-82.46680575;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-329.207488554;transform:rotate(4.75turn)}}@keyframes ring3{from{stroke-dashoffset:-288.4484661616;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-72.2566298;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-288.4484661616;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-72.2566298;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-288.4484661616;transform:rotate(4.75turn)}}@keyframes ring4{from{stroke-dashoffset:-253.9600625988;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-63.61725015;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-253.9600625988;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-63.61725015;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-253.9600625988;transform:rotate(4.75turn)}}@keyframes ring5{from{stroke-dashoffset:-225.7422778656;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-56.5486668;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-225.7422778656;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-56.5486668;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-225.7422778656;transform:rotate(4.75turn)}}@keyframes ring6{from{stroke-dashoffset:-203.795111962;transform:rotate(-.25turn);animation-timing-function:ease-in}23%{stroke-dashoffset:-51.05087975;transform:rotate(1turn);animation-timing-function:ease-out}46%,50%{stroke-dashoffset:-203.795111962;transform:rotate(2.25turn);animation-timing-function:ease-in}73%{stroke-dashoffset:-51.05087975;transform:rotate(3.5turn);animation-timing-function:ease-out}96%,to{stroke-dashoffset:-203.795111962;transform:rotate(4.75turn)}}</style><circle class="pl__ring1" cx="64" cy="64" r="60" fill="none" stroke="hsl(3,90%,55%)" stroke-width="8" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="377 377" stroke-dashoffset="-376.4"></circle><circle class="pl__ring2" cx="64" cy="64" r="52.5" fill="none" stroke="hsl(13,90%,55%)" stroke-width="7" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="329.9 329.9" stroke-dashoffset="-329.3"></circle><circle class="pl__ring3" cx="64" cy="64" r="46" fill="none" stroke="hsl(23,90%,55%)" stroke-width="6" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="289 289" stroke-dashoffset="-288.6"></circle><circle class="pl__ring4" cx="64" cy="64" r="40.5" fill="none" stroke="hsl(33,90%,55%)" stroke-width="5" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="254.5 254.5" stroke-dashoffset="-254"></circle><circle class="pl__ring5" cx="64" cy="64" r="36" fill="none" stroke="hsl(43,90%,55%)" stroke-width="4" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="226.2 226.2" stroke-dashoffset="-225.8"></circle><circle class="pl__ring6" cx="64" cy="64" r="32.5" fill="none" stroke="hsl(53,90%,55%)" stroke-width="3" transform="rotate(-90,64,64)" stroke-linecap="round" stroke-dasharray="204.2 204.2" stroke-dashoffset="-203.9"></circle></svg>')
//       );
//     width: $a;
//     height: $a;
//     position: absolute;
//     top: 25%;
//     left: 50%;
//     transform: translateX(-50%);
//     visibility: visible !important;
//   }
// }

body .progress-bar {
  &-line,
  &-subline {
    display: none;
  }
  &-message {
    visibility: hidden;
  }
}
// body:is(.loading-default, .loading-img) .progress-bar {
body.loading-default .progress-bar {
  &-line,
  &-subline {
    display: inherit;
  }
  &-message {
    visibility: visible;
  }
}
body.loading-text .progress-bar-message {
  visibility: hidden;
  &::before {
    all: initial;
    font-family: var(--font-interface);
    font-size: 3rem;
    content: var(--loading-text-content, '快乐摸鱼中...............');
    display: block;
    visibility: visible !important;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.07em solid;
    animation: typing-style 2s steps(12),
      cursor-blink 0.3s step-end infinite alternate;
    transform: translateZ(0);
    will-change: transform;
  }
}

@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing-style {
  0% {
    width: 0;
  }
  100% {
    width: 20ch;
  }
}
