/* ======== 滚动条 ========== */

/* ! overflow: overlay is deprecated */
body.scrollbar-float {
  :is(.vertical-tab-header, .vertical-tab-content, .nav-files-container, .workspace-leaf-content[data-type='outline']
      .view-content, .search-result-container, .git-view-body, .workspace-leaf-content[data-type='markdown']
      .cm-scroller, .markdown-preview-view, .suggestion-container
      .suggestion, .prompt-results, .markdown-embed-content, .community-modal-search-results-wrapper, .community-modal-info, .kanban-plugin__board) {
    overflow-y: overlay;
  }
  .workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container {
    overflow-x: overlay;
  }
}

body.scrollbar-hover-animation
  :is(.vertical-tab-header, .vertical-tab-content, .nav-files-container, .workspace-leaf-content[data-type='outline']
    .view-content, .search-result-container, .git-view-body, .workspace-leaf-content[data-type='markdown']
    .cm-scroller, .markdown-preview-view, .suggestion-container
    .suggestion, .prompt-results, .markdown-embed-content, .community-modal-search-results-wrapper, .community-modal-info, .kanban-plugin__board, .kanban-plugin__lane-items, .janitor-scan-results, .mod-stacked
    .workspace-tab-container) {
  color: transparent;
  transition: color var(--animation);
  /* scroll-behavior: smooth; */
  &:hover {
    color: hsla(var(--color-accent-hsl), 24%);
  }
  & > :not(h1, h2, h3, h4, h5, h6) {
    color: var(--text-normal);
  }
  &::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
    background-color: transparent !important;
    &-track {
      background-color: transparent !important;
      box-shadow: none !important;
    }
    &-thumb {
      box-shadow: inset 0 0 0 10px !important;
      border-radius: 6px !important;
      background-clip: content-box;
      background-color: transparent !important;
      border: 3.6px solid transparent !important;
      &:active {
        background-color: hsla(var(--color-accent-hsl), 64%) !important;
      }
    }
  }
}
.popover.hover-popover
  > .markdown-embed
  > .markdown-embed-content
  > .markdown-preview-view {
  color: transparent !important;
  &:hover {
    color: hsla(var(--color-accent-hsl), 24%) !important;
  }
}
:is(body:not(.scrollbar-hover-animation) *, textarea) {
  &::-webkit-scrollbar-thumb {
    border-width: 3.2px;
    background-color: transparent !important;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: hsla(var(--color-accent-hsl), 30%) !important;
    &:active {
      background-color: hsla(var(--color-accent-hsl), 64%) !important;
    }
  }
}
