/* ====== 状态栏 ====== */
body {
  --stauts-bar-background-opacity: 1;

  .status-bar {
    padding: var(--size-2-3) var(--size-4-1);
    width: fit-content;
  }

  &.theme-light .status-bar {
    --status-bar-background: hsla(var(--accent-h),
        var(--accent-s),
        calc(100% - (100% - var(--accent-l)) / 8),
        var(--stauts-bar-background-opacity));
  }

  &.theme-dark .status-bar {
    --status-bar-background: hsla(var(--accent-h),
        var(--accent-s),
        calc(100% - (100% - var(--accent-l)) / 0.8),
        var(--stauts-bar-background-opacity));
  }

  &.status-bar-full .status-bar {
    width: calc(100% - var(--ribbon-width) + 1px);
    --status-bar-radius: 0;
  }
}

body.status-bar-float {
  .status-bar {
    --status-bar-radius: var(--radius-m);
    --status-bar-border-width: 1px;
    bottom: var(--size-4-1);
    right: var(--size-4-1);
    transition: var(--animation);
    box-shadow: 0 0 var(--size-2-1) var(--background-modifier-box-shadow);
  }

  &.status-bar-style-center:is(.status-bar-default, .status-bar-hidden) .status-bar {
    left: 50%;
    transform: translateX(-50%);
  }

  &.status-bar-full {
    .status-bar {
      left: calc(var(--ribbon-width) + var(--size-4-1));
      width: unset;
    }

    &.status-bar-style-center .status-bar {
      justify-content: center;
    }
  }

  &.status-bar-hidden .status-bar {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &.status-bar-scroll .status-bar {
    transform: translateX(calc(100% - var(--size-4-2)));
    right: 0;

    &:hover {
      transform: translateX(0);
    }
  }
}