/* @settings

name: Maple
id: Maple
settings:
    -
        id: base
        title: basic setting
        title.zh: 基本设置
        type: heading
        collapsed: true
        level: 2
    -
        id: setting-animation-time
        title: animation duration (ms)
        title.zh: 动画持续时间（毫秒）
        type: variable-number-slider
        format: ms
        default: 200
        min: 0
        max: 500
        step: 50
    -
        id: accent-colors
        title: theme colors
        title.zh: 主题颜色
        type: heading
        collapsed: false
        level: 3
    -
        id: color-use-custom
        title: use custom accent color
        description: use style setting accent color instead of Obsidian's accent color
        title.zh: 自定义 accent color
        description.zh: 使用 style setting 的颜色，而不是 Obsidian 自带的颜色
        type: class-toggle
    -
        id: color-accent-light
        title: light mode
        title.zh: 浅色模式
        type: heading
        collapsed: true
        level: 4
    -
        id: setting-accent-h-light
        title: base color
        title.zh: 基础颜色
        type: variable-number-slider
        default: 35
        min: 0
        max: 360
        step: 5
    -
        id: color-active-light
        title: highlight color
        title.zh: 高亮颜色
        type: class-select
        allowEmpty: false
        default: color-active-default-light
        options:
            -   label: accent color
                value: color-active-default-light
            -   label: accent color alt
                value: color-active-alt-light
            -   label: custom
                value: color-active-custom-light
    -
        id: setting-color-active-custom-light
        title: custom highlight color
        title.zh: 自定义高亮颜色
        type: variable-color
        format: rgb
        default: '#'
        opacity: false
    -
        id: color-more-light
        title: more configuration
        title.zh: 更多设置
        type: heading
        collapsed: true
        level: 5
    -
        id: setting-accent-s-light
        title: accent color saturation
        description: s of hsl
        title.zh: 高亮颜色饱和度
        description.zh: hsl中的s
        type: variable-number-slider
        default: 32
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: setting-accent-l-light
        title: accent color lightness
        description: l of hsl
        title.zh: 高亮颜色亮度
        description.zh: hsl中的l
        type: variable-number-slider
        default: 58
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: color-accent-dark
        title: dark mode
        title.zh: 暗色模式
        type: heading
        collapsed: true
        level: 4
    -
        id: setting-accent-h-dark
        title: base color
        title.zh: 基础颜色
        type: variable-number-slider
        default: 207
        min: 0
        max: 360
        step: 5
    -
        id: color-active-dark
        title: highlight color
        title.zh: 高亮颜色
        type: class-select
        allowEmpty: false
        default: color-active-default-dark
        options:
            -   label: accent color
                value: color-active-default-dark
            -   label: accent color alt
                value: color-active-alt-dark
            -   label: custom
                value: color-active-custom-dark
    -
        id: setting-color-active-custom-dark
        title: custom highlight color
        title.zh: 自定义高亮颜色
        type: variable-color
        default: '#'
        format: rgb
        opacity: false
    -
        id: color-more-dark
        title: more configuration
        title.zh: 更多设置
        type: heading
        collapsed: true
        level: 5
    -
        id: setting-accent-s-dark
        title: accent color saturation
        description: s of hsl
        title.zh: 高亮颜色饱和度
        description.zh: hsl中的s
        type: variable-number-slider
        default: 32
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: setting-accent-l-dark
        title: accent color lightness
        description: l of hsl
        title.zh: 高亮颜色亮度
        description.zh: hsl中的l
        type: variable-number-slider
        default: 58
        format: '%'
        min: 0
        max: 100
        step: 1
    -
        id: workspace
        title: user interface
        title.zh: 工作区
        type: heading
        collapsed: true
        level: 2
    -
        id: titlebar-colorful
        title: colorful titlebar
        description: reference from https://github.com/kepano/obsidian-minimal
        title.zh: 多彩 Obsidian 标题栏
        description.zh: 参考 https://github.com/kepano/obsidian-minimal
        type: class-toggle
    -
        id: bg
        title: wave background
        description: will also add in canvas card when card width > 768px
        title.zh: 波浪背景图
        description.zh: 白板的卡片宽度 >768px 时编辑卡片也会添加
        type: heading
        collapsed: true
        level: 3
    -
        id: bg-enable
        title: enable background wave image
        description: static style reference from https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow, ❗live style will increase CPU/GPU use
        title.zh: 开启背景波浪图
        description.zh: 静态图（static）参考 https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow，❗动态图（live）将提高 CPU/GPU 占用率
        type: class-select
        allowEmpty: false
        default: bg-static
        options:
            -   label: none
                value: bg-default
            -   label: static
                value: bg-static
            -   label: live
                value: bg-live
    -
        id: setting-bg-color
        title: wave color
        title.zh: 波浪颜色
        type: variable-themed-color
        format: rgb
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: explorer
        title: file explorer
        title.zh: 文件管理器
        type: heading
        collapsed: true
        level: 3
    -
        id: explorer-hide-name
        title: hide vault name
        title.zh: 隐藏仓库名称
        type: class-toggle
        default: true
    -
        id: explorer-nav-decoration
        title: styled active nav item
        description: reference from https://github.com/Akifyss/obsidian-border
        title.zh: 当前文件美化
        description.zh: 参考 https://github.com/Akifyss/obsidian-border
        type: class-toggle
        default: true
    -
        id: explorer-icon
        title: enable prefix icon
        title.zh: 开启前置图标
        type: class-toggle
        default: true
    -
        id: setting-color-dirs
        title: dir color
        title.zh: 文件夹颜色
        type: variable-themed-color
        format: rgb-values
        opacity: false
        default-light: rgb(245, 180, 0)
        default-dark: rgb(245, 180, 0)
    -
        id: outline-panel
        title: outline panel
        title.zh: 文档大纲
        type: heading
        collapsed: true
        level: 3
    -
        id: outline-enable
        title: enable bullet style
        description: reference from https://github.com/pengx17/logseq-dev-theme/blob/main/bullet_threading.css
        title.zh: 开启引导线样式
        description.zh: 参考 https://github.com/pengx17/logseq-dev-theme/blob/main/bullet_threading.css
        type: class-toggle
        default: true
    -
        id: status-bar
        title: status bar
        title.zh: 状态栏
        type: heading
        collapsed: true
        level: 3
    -
        id: status-bar-float
        title: round style status bar
        title.zh: 圆角风格的状态栏
        type: class-toggle
        default: true
    -
        id: status-bar-style
        title: status bar animation
        description: ❗last style only valid when turn on “round status bar”
        title.zh: 状态栏样式
        description.zh: ❗最后一种样式只在开启“圆角风格的状态栏”才生效
        type: class-select
        allowEmpty: false
        default: status-bar-default
        options:
            -   label: default
                value: status-bar-default
            -   label: show on hover
                value: status-bar-hidden
            -   label: scroll out on hover
                value: status-bar-scroll
    -
        id: status-bar-style-center
        title: center status bar
        title.zh: 状态栏居中
        type: class-toggle
    -
        id: search-internal
        title: document search panel
        title.zh: 文档内搜索框
        type: heading
        collapsed: true
        level: 3
    -
        id: search-internal-enable
        title: enable VSCode style search/replace panel
        title.zh: 启用 VSCode 样式的搜索框
        type: class-toggle
        default: true
    -
        id: search-internal-expand-on-focus
        title: search/replace input expand on search/replace input focus
        title.zh: 文档内搜索框获得焦点时扩大宽度
        type: class-toggle
    -
        id: search-internal-disable-select-all
        title: hide select all button
        description: display it maybe seems to be too long
        title.zh: 文档内搜索框隐藏选择全部按钮
        description.zh: 显示会过长
        type: class-toggle
        default: true
    -
        id: tab
        title: tab
        title.zh: 标签页
        type: heading
        collapsed: true
        level: 3
    -
        id: tab-float
        title: float tabs style like firefox / Microsoft Edge
        title.zh: 仿 Firefox / Microsoft Edge 的标签页
        type: class-toggle
    -
        id: tab-show-close
        title: when to show close button on tabs
        title.zh: 何时显示标签页的关闭按钮
        type: class-select
        allowEmpty: false
        default: tab-show-close-default
        options:
            -   label: default
                value: tab-show-close-default
            -   label: on hover all tabs
                value: tab-show-close-all
            -   label: on hover except active tab
                value: tab-show-close-part
    -
        id: tab-title
        title: tab title bar
        title.zh: 标签页标题栏
        type: heading
        level: 4
    -
        id: tab-title-bar-round
        title: enable tab title bar round style
        title.zh: 开启标签页标题栏圆角样式
        type: class-toggle
    -
        id: tab-title-bar-shadow
        title: add shadow for active tab title bar
        title.zh: 为当前标签页标题栏添加阴影
        type: class-toggle
    -
        id: message
        title: tooltip & notice
        title.zh: 气泡提示框 & 通知
        type: heading
        collapsed: true
        level: 3
    -
        id: message-tooltip-hide-arrow
        title: hide tooltip arrow
        title.zh: 隐藏气泡提示框箭头
        type: class-toggle
    -
        id: message-tooltip-hide
        title: always hide tooltip
        title.zh: 永久隐藏气泡提示框
        type: class-toggle
    -
        id: message-modify
        title: change tooltip & notice color
        title.zh: 修改气泡提示框和消息的颜色
        type: class-toggle
        default: true
    -
        id: setting-message-bg
        title: background color
        title.zh: 背景色
        type: variable-themed-color
        format: hsl-values
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-message-fg
        title: foreground color
        title.zh: 前景色
        type: variable-themed-color
        format: rgb-values
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: modal
        title: modal & setting panel
        title.zh: 弹出框 & 设置面板
        type: heading
        collapsed: true
        level: 3
    -
        id: modal-blur
        title: enable modal background blur
        title.zh: 开启弹出框背景模糊
        type: class-toggle
        default: true
    -
        id: modal-header
        title: add header for setting panel
        description: better with plugin “setting search”
        title.zh: 为设置面板添加顶部框
        description.zh: 配合 setting search 插件使用更佳
        type: class-toggle
    -
        id: setting-modal-header-title
        title: set modal header title
        title.zh: 设置面板标题
        type: variable-text
        default: "'maple 0.3.14'"
    -
        id: setting-group-title
        title: add style for left navigation group title
        title.zh: 为左侧选项组标题添加样式
        type: class-toggle
        default: true
    -
        id: setting-nav-decoration
        title: styled active nav item
        title.zh: 左侧当前设置项美化
        type: class-toggle
        default: true
    -
        id: modal-slider
        title: styled slider thumb
        title.zh: 滑动条按钮美化
        type: class-toggle
        default: true
    -
        id: modal-toggle
        title: styled toggle button
        title.zh: 开关按钮美化
        type: class-select
        allowEmpty: false
        default: modal-toggle-default
        options:
            -   label: default
                value: modal-toggle-default
            -   label: thin
                value: modal-toggle-thin
            -   label: round
                value: modal-toggle-round
    -
        id: modal-animation
        title: modal bounce animation
        desciption: reference from https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow
        title.zh: 弹出框抖动动画
        desciption.zh: 参考 https://github.com/hydescarf/Obsidian-Theme-Mado-Miniflow
        type: class-toggle
        default: true
    -
        id: scrollbar
        title: scrollbar
        title.zh: 滚动条
        type: heading
        collapsed: true
        level: 3
    -
        id: scrollbar-hide
        title: always hide scrollbar
        title.zh: 不显示滚动条
        type: class-toggle
    -
        id: scrollbar-hover
        title: scrollbar hover action
        title.zh: 鼠标经过时滚动条变化
        type: class-select
        allowEmpty: false
        default: scrollbar-hover-default
        options:
            -   label: default
                value: scrollbar-hover-default
            -   label: accent
                value: scrollbar-hover-accent
            -   label: expand
                value: scrollbar-hover-expand
    -
        id: scrollbar-movein-animation-disable
        title: disable scrollbar animation
        description: when disabled, always show scrollbar; when enabled, hide scrollbar when the mouse move outside the container
        title.zh: 关闭滚动条动画
        description.zh: 关闭时，一直显示滚动条；开启后，鼠标在容器外时隐藏滚动条
        type: class-toggle
    -
        id: scrollbar-gutter
        title: scrollbar gutter config
        description: make the scrollbar won't squeezing the parent container (overlay) / reserve scroll gutter instead of float the bar (reserve)
        title.zh: 控制滚动条槽
        description.zh: 默认（default）/ 悬浮滚动条，使滚动条出现时不会挤压父容器（overlay）/ 预留滚动条位置（reserve）
        type: class-select
        allowEmpty: false
        default: scrollbar-gutter-default
        options:
            -   label: default
                value: scrollbar-gutter-default
            -   label: overlay
                value: scrollbar-gutter-overlay
            -   label: reserve
                value: scrollbar-gutter-reserve
    -
        id: editor
        title: editor
        title.zh: 编辑器
        type: heading
        collapsed: true
        level: 2
    -
        id: bg
        title: background color
        title.zh: 背景色
        type: heading
        collapsed: true
        level: 3
    -
        id: setting-editor-bg
        title: editor background color
        title.zh: 编辑器背景色
        type: variable-themed-color
        format: hsl-values
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-md-container-bg
        title: editor container background color
        description: quote, code block, table and so on
        title.zh: 编辑器容器背景色
        description.zh: 引用、代码块、表格等
        type: variable-themed-color
        format: hsl-values
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: text-line-height
        title: text & font & line
        title.zh: 文字 & 字体 & 行
        type: heading
        collapsed: true
        level: 3
    -
        id: setting-text-bold-color
        title: bold text color
        title.zh: 粗体颜色
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-text-italic-color
        title: italic text color
        title.zh: 斜体颜色
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: font-maple
        title: use “Maple Mono” as monospace
        description: https://github.com/subframe7536/Maple-font
        title.zh: 使用 Maple Mono 作为等宽字体
        description.zh: https://github.com/subframe7536/Maple-font
        type: class-toggle
        default: true
    -
        id: font-fix-latex
        title: fix latex italic absent
        description: latex in my vault often wrong rendered, so i make this setting. If wrong rendered, just toggle it
        title.zh: 修复 latex 斜体问题
        description.zh: 在我的仓库里经常渲染失败，只能自己打包一份字体进主题了。只要字体不正常，开关一次即可
        type: class-toggle
    -
        id: font-latex-text
        title: use “text font” in non-formula parts of latex
        description: ❗only tested in CJK
        title.zh: 在 latex 非公式部分使用正文字体
        description.zh: 默认的字体比较丑
        type: class-toggle
    -
        id: setting-line-height
        title: editor line height
        title.zh: 编辑器行高
        type: variable-number-slider
        default: 2.1
        min: 1.8
        max: 2.4
        step: 0.1
    -
        id: line-indicator-disable
        title: disable hover line indicator
        description: reference from https://github.com/Akifyss/obsidian-border, need install version>=1.1.9
        title.zh: 禁用鼠标经过行指示器
        description.zh: 参考自 https://github.com/Akifyss/obsidian-border, 需要安装版本>=1.1.9
        type: class-toggle
    -
        id: line-active-disable
        title: disable active line hightlight
        title.zh: 禁用当前行高亮
        type: class-toggle
    -
        id: setting-line-active-color
        title: active line color
        title.zh: 高亮行颜色
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: links
        title: link
        title.zh: 链接
        type: heading
        collapsed: true
        level: 3
    -
        id: setting-link-internal-color
        title: internal link color
        title.zh: 内部链接颜色
        type: variable-themed-color
        format: rgb-value
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-link-external-color
        title: external link color
        title.zh: 外部链接颜色
        type: variable-themed-color
        format: rgb-value
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: link-hover-expand
        title: use underline animation on hover
        title.zh: 鼠标经过时开启下划线动画
        type: class-toggle
    -
        id: link-icon
        title: add icon before link in editor
        title.zh: 编辑器内链接前添加图标
        type: class-toggle
        default: true
    -
        id: link-click-to-edit-in-live-preview
        title: click to edit link in live preview
        description: ❗will disable hover animation, external link prefix icon will be diabled
        title.zh: live preview 模式时点击链接进行编辑而不是跳转
        description.zh: ❗鼠标经过动画会消失，外部链接的前置图标会消失
        type: class-toggle
    -
        id: heading
        title: heading
        title.zh: 标题
        type: heading
        collapsed: true
        level: 3
    -
        id: heading-level
        title: heading level icon
        description: add prefix icon for heading, click to collapse title if you open setting “Fold heading”
        title.zh: 标题等级图标
        description.zh: 为标题添加前置图标，如果你开启了“折叠图标”选项，点击图标可以收起标题
        type: heading
        collapsed: true
        level: 4
    -
        id: heading-level-enable
        title: enable level heading icon
        title.zh: 启用标题等级图标
        type: class-toggle
    -
        id: heading-level-fix
        title: always show heading icon
        description: highlight on hover
        title.zh: 总是显示图标
        description.zh: 鼠标经过时高亮
        type: class-toggle
    -
        id: heading-level
        title: heading style preference
        title.zh: 标题样式设置
        type: heading
        collapsed: true
        level: 4
    -
        id: heading-h1-center
        title: center h1
        title.zh: h1 居中
        type: class-toggle
        default: true
    -
        id: heading-h2-underline
        title: add underline for h2
        description: with line-gredient
        title.zh: 添加 h2 下划线
        description.zh: 有渐变色
        type: class-toggle
        default: true
    -
        id: heading-h2-underline-thin
        title: thinner h2 underline
        title.zh: h2 下划线变细
        type: class-toggle
    -
        id: heading-h6-variant
        title: set font small-caps for h6
        description: always capital style
        title.zh: 添加 h6 small-caps
        description.zh: 全大写
        type: class-toggle
        default: true
    -
        id: heading-color
        title: heading color
        title.zh: 标题颜色
        type: heading
        collapsed: true
        level: 4
    -
        id: heading-color-style
        title: heading color style
        title.zh: 标题颜色样式
        type: class-select
        allowEmpty: false
        default: heading-color-colorful
        options:
            -   label: text color
                value: heading-color-base
            -   label: accent color
                value: heading-color-accent
            -   label: colorful
                value: heading-color-colorful
    -
        id: heading-color-custom
        title: custom heading color
        title.zh: 自定义标题颜色
        type: heading
        level: 5
    -
        id: setting-h1-color
        title: h1 color
        title.zh: 标题 1 颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-h2-color
        title: h2 color
        title.zh: 标题 2 颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-h3-color
        title: h3 color
        title.zh: 标题 3 颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-h4-color
        title: h4 color
        title.zh: 标题 4 颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-h5-color
        title: h5 color
        title.zh: 标题 5 颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-h6-color
        title: h6 color
        title.zh: 标题 6 颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: heading-size
        title: heading size
        title.zh: 标题大小
        type: heading
        collapsed: true
        level: 4
    -
        id: setting-h1-size
        title: h1 font size
        title.zh: 标题 1 字体大小
        type: variable-number-slider
        default: 1.6
        min: 1
        max: 2.4
        step: 0.1
    -
        id: setting-h2-size
        title: h2 font size
        title.zh: 标题 2 字体大小
        type: variable-number-slider
        default: 1.5
        min: 1
        max: 2.4
        step: 0.1
    -
        id: setting-h3-size
        title: h3 font size
        title.zh: 标题 3 字体大小
        type: variable-number-slider
        default: 1.4
        min: 1
        max: 2.4
        step: 0.1
    -
        id: setting-h4-size
        title: h4 font size
        title.zh: 标题 4 字体大小
        type: variable-number-slider
        default: 1.3
        min: 1
        max: 2.4
        step: 0.1
    -
        id: setting-h5-size
        title: h5 font size
        title.zh: 标题 5 字体大小
        type: variable-number-slider
        default: 1.2
        min: 1
        max: 2.4
        step: 0.1
    -
        id: setting-h6-size
        title: h6 font size
        title.zh: 标题 6 字体大小
        type: variable-number-slider
        default: 1.1
        min: 1
        max: 2.4
        step: 0.1
    -
        id: heading-font
        title: heading font
        title.zh: 标题字体
        type: heading
        collapsed: true
        level: 4
    -
        id: setting-h1-font
        title: h1 font
        title.zh: 标题 1 字体
        type: variable-text
        default: "''"
    -
        id: setting-h2-font
        title: h2 font
        title.zh: 标题 2 字体
        type: variable-text
        default: "''"
    -
        id: setting-h3-font
        title: h3 font
        title.zh: 标题 3 字体
        type: variable-text
        default: "''"
    -
        id: setting-h4-font
        title: h4 font
        title.zh: 标题 4 字体
        type: variable-text
        default: "''"
    -
        id: setting-h5-font
        title: h5 font
        title.zh: 标题 5 字体
        type: variable-text
        default: "''"
    -
        id: setting-h6-font
        title: h6 font
        title.zh: 标题 6 字体
        type: variable-text
        default: "''"
    -
        id: hr
        title: hr
        title.zh: 分隔行
        type: heading
        collapsed: true
        level: 3
    -
        id: hr-icon
        title: set icon in the center of hr
        title.zh: 分割行中部图标
        type: variable-text
        default: "'⭐'"
    -
        id: table
        title: table
        title.zh: 表格
        type: heading
        collapsed: true
        level: 3
    -
        id: table-colorful
        title: colorful table
        description: accent header and line color
        title.zh: 多彩表格
        description.zh: 添加表头和行的颜色
        type: class-toggle
        default: true
    -
        id: setting-table-header-text
        title: header text color
        title.zh: 表头前景色
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-table-header-bg
        title: header background color
        title.zh: 表头背景色
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-table-line-bg
        title: alt line color
        title.zh: 交错行背景
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: embed
        title: embed
        title.zh: 内嵌文档
        type: heading
        collapsed: true
        level: 3
    -
        id: embed-enable
        title: enable embed file style
        title.zh: 启用内嵌文档样式
        type: class-toggle
        default: true
    -
        id: embed-title-right-top
        title: move embed title to right top
        description: visiable on hover, disabled when alias is '#', Example ![[FileName|#]]
        title.zh: 内嵌文档标题移至右上角
        description.zh: 鼠标经过时显示；别名为'#'时禁用，例：![[文件名|#]]
        type: class-toggle
        default: true
    -
        id: image
        title: image
        title.zh: 图片
        type: heading
        collapsed: true
        level: 3
    -
        id: image-alt
        title: add alt text below and center the image
        description: example ![[image.jpg|alt text]]
        title.zh: 在图片底部添加提示文本并居中图片
        description.zh: 样例 ![[图片.jpg|提示文本]]
        type: class-toggle
        default: true
    -
        id: image-zoom
        title: click to zoom out image
        description: invalid in source view or live-preview
        title.zh: 鼠标按下时放大图片
        description.zh: 在 源码模式 或者 live preview 模式不生效
        type: class-toggle
        default: true
    -
        id: image-dark-hover
        title: decrease brightness in dark mode
        description: hover will increase brightness
        title.zh: 黑暗模式下降低图片亮度
        description.zh: 鼠标经过时会增加亮度
        type: class-toggle
        default: true
    -
        id: quote
        title: quote
        title.zh: 引用
        type: heading
        collapsed: true
        level: 3
    -
        id: quote-theme
        title: enable quote theme
        description: with width guide line
        title.zh: 启用引用块主题
        description.zh: 宽引导线
        type: class-toggle
        default: true
    -
        id: quote-mark
        title: add front quote mark
        title.zh: 引用块添加前置引号
        type: class-toggle
        default: true
    -
        id: code
        title: code
        title.zh: 代码
        type: heading
        collapsed: true
        level: 3
    -
        id: setting-code-inline
        title: inline code color
        title.zh: 行内代码前景色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: setting-code-bg
        title: code block background color
        title.zh: 代码块背景色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: code-line-number
        title: add code block line number in live preview mode
        title.zh: 为 实时预览模式 代码块添加行号
        type: class-toggle
        default: true
    -
        id: code-language
        title: add code block language indicator in preview mode
        title.zh: 为 预览模式 代码块添加语言标识
        type: class-toggle
        default: true
    -
        id: code-nowrap
        title: no wrap in preview mode
        title.zh: 预览模式 代码块不换行
        type: class-toggle
        default: true
    -
        id: setting-code-ligature
        title: monospace font feature
        description: if you use “Maple Mono” as monospace, recommend to set 'calt','cv02'
        title.zh: 等宽字体字体特性
        description.zh: 如果你使用“Maple Mono”作为等宽字体，推荐设置为 'calt','cv02'
        type: variable-text
        default: "'calt'"
    -
        id: code-preview-bg
        title: enable codeblock background in preview mode
        description: need install version >= 1.1.9
        title.zh: 在 预览模式 开启代码块背景
        description.zh: 需要安装程序版本 >= 1.1.9
        type: class-toggle
    -
        id: setting-code-bg-outer
        title: custom codeblock background in preview mode
        description: need install version >= 1.1.9, image is supported(eg. 'url("/your/image/uri")'), it can be all the css value that supported by background-image
        title.zh: 修改 预览模式 代码块背景
        description.zh: 需要安装程序版本 >= 1.1.9，支持图片（'url("图片地址")'），可以是 css background-image 支持的所有的值
        type: variable-text
        default: "''"
    -
        id: setting-code-language-color
        title: language indicator color
        title.zh: 语言标识颜色
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#'
        default-dark: '#'
    -
        id: code-mac-style-header
        title: add mac style code block header in preview mode
        description: no code block border
        title.zh: 为 预览模式 代码块添加mac的标题栏
        description.zh: 没有代码块边框
        type: class-toggle
    -
        id: code-theme
        title: use theme's color schema
        title.zh: 使用主题的代码高亮
        type: class-toggle
        default: true
    -
        id: tag
        title: tag
        title.zh: 标签
        type: heading
        collapsed: true
        level: 3
    -
        id: tag-click-to-edit
        title: click to edit tags in Live-Preview mode
        description: click '#' to jump
        title.zh: 点击标签进行编辑
        description.zh: 点击'#'跳转
        type: class-toggle
    -
        id: tag-colorful
        title: enable colorful tag
        description: ❗maybe different style between edit mode and preview mode
        title.zh: 开启多彩标签
        description.zh: ❗编辑模式和预览模式颜色会不一样
        type: class-toggle
    -
        id: tag-colorful-setting
        title: tag color
        title.zh: 标签颜色
        type: heading
        collapsed: true
        level: 4
    -
        id: setting-tag-1
        title: colorful tag 1
        title.zh: 多彩标签 颜色 1
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-tag-2
        title: colorful tag 2
        title.zh: 多彩标签 颜色 2
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-tag-3
        title: colorful tag 3
        title.zh: 多彩标签 颜色 3
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-tag-4
        title: colorful tag 4
        title.zh: 多彩标签 颜色 4
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-tag-5
        title: colorful tag 5
        title.zh: 多彩标签 颜色 5
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: setting-tag-6
        title: colorful tag 6
        title.zh: 多彩标签 颜色 6
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: plugin
        title: plugin
        title.zh: 插件
        type: heading
        collapsed: true
        level: 2
    -
        id: calendar
        title: calendar
        title.zh: 日历
        type: heading
        collapsed: true
        level: 3
    -
        id: calendar-weekend
        title: highlight weekend
        title.zh: 突显周末
        type: class-toggle
        default: true
    -
        id: calendar-swap-year-month
        title: swap year & month
        title.zh: 交换年和月的位置
        type: class-toggle
    -
        id: setting-calendar-year-suffix
        title: year suffix
        title.zh: 年份后缀
        type: variable-text
        default: "'年'"
*/