body {
  --font-ui-smaller: 13px;
  --font-ui-small: 14px;
  --font-ui-medium: 16px;
  --line-height-normal: 2.1;
  --color-red-rgb: 235, 75, 27 !important;
  --color-red: #f03f28 !important;
  --color-green-rgb: 81, 188, 0 !important;
  --color-green: #51bc00 !important;
  --color-orange: #e4980c !important;
  --color-blue: #0993d3 !important;
  --color-purple: #9084e9 !important;

  --animation: var(--anim-duration-fast) var(--anim-motion-smooth);
  --animation-slow: var(--anim-duration-moderate) var(--anim-motion-smooth);
  --blur: 100px;
}
html body.obsidian-app.fixed-theme-color {
  --accent-s: 32% !important;
  --accent-l: 58% !important;
}
body.use-custom-color.css-settings-manager {
  --accent-s: var(--accent-color-s, 32%) !important;
  --accent-l: var(--accent-color-l, 58%) !important;
}
body.use-custom-color.theme-light.css-settings-manager {
  --accent-h: var(--accent-hue-light, 116) !important;
}
body.use-custom-color.theme-dark.css-settings-manager {
  --accent-h: var(--accent-hue-dark, 207) !important;
}
.theme-light {
  --background-primary: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 12%),
    calc(100% - (100% - var(--accent-l)) / 18)
  );
  --background-primary-hsl: var(--accent-h), calc(var(--accent-s) - 12%),
    calc(100% - (100% - var(--accent-l)) / 18);
  --background-secondary: hsl(
    calc(var(--accent-h) - 18),
    calc(var(--accent-s) - 4%),
    calc(100% - (100% - var(--accent-l)) / 8)
  );
  --background-secondary-hsl: calc(var(--accent-h) - 18),
    calc(var(--accent-s) - 4%), calc(100% - (100% - var(--accent-l)) / 8);
  --background-modifier-hover: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(100% - (100% - var(--accent-l)) / 3.5)
  );
  --background-modifier-border-focus: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 4%),
    calc(var(--accent-l) + 4%)
  );
  --background-modifier-message: hsl(
    calc(var(--accent-h) - 30),
    var(--accent-s),
    var(--accent-l)
  );
  --accent-active: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 4%)
  );
  --accent-inactive: hsl(var(--accent-h), 80%, calc(var(--accent-l) - 20%));
  --frame-background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 32%)
  );
  --frame-outline-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 23.5%)
  );
  --frame-muted-color: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 20%),
    calc(var(--accent-l) - 10%)
  );
  --background-modifier-cover: var(--color-base-70) !important;

  --md-container-bg: hsl(calc(var(--accent-h) - 8), 30%, 95%);
}
.theme-dark {
  --background-primary: hsl(var(--accent-h), 4%, calc(var(--accent-l) / 8));
  --background-primary-hsl: var(--accent-h), 4%, calc(var(--accent-l) / 8);
  --background-secondary: hsl(
    calc(var(--accent-h) + 8),
    calc(var(--accent-s) / 6),
    calc(var(--accent-l) / 4)
  );
  --background-secondary-hsl: calc(var(--accent-h) + 8),
    calc(var(--accent-s) / 6), calc(var(--accent-l) / 4);
  --background-modifier-hover: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) / 3)
  );
  --background-modifier-border-focus: hsl(
    var(--accent-h),
    12%,
    calc(var(--accent-l) - 12%)
  );
  --background-modifier-message: hsl(
    calc(var(--accent-h) - 30),
    var(--accent-s),
    calc(var(--accent-l) - 20%)
  );
  --accent-active: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 4%)
  );
  --accent-inactive: hsl(
    var(--accent-h),
    calc(var(--accent-s) + 24%),
    calc(var(--accent-l) + 16%)
  );
  --frame-background-color: hsl(var(--accent-h), 12%, 20%);
  --frame-outline-color: hsl(
    calc(var(--accent-h) - 24),
    calc(var(--accent-s) + 6%),
    24%
  );
  --frame-muted-color: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 20%),
    calc(var(--accent-l) + 10%)
  );
  --text-normal: hsla(var(--accent-h), 50%, 94%, 75%);
  --md-container-bg: hsl(calc(var(--accent-h) - 4), 20%, 10%);
}
