:is(body, body .print) {
  --font-ui-smaller: 13px;
  --font-ui-small: 14px;
  --font-ui-medium: 16px;
  --line-height-normal: 2.1;
  --background-modifier-border: var(--accent-inactive);
  --background-modifier-border-focus: var(--accent-inactive);
  --color-red-rgb: 228, 52, 52 !important;
  --color-red: rgba(228, 52, 52, var(--color-opacity)) !important;
  --color-green-rgb: 81, 188, 0 !important;
  --color-green: rgba(81, 188, 0, var(--color-opacity)) !important;
  --color-yellow: rgba(245, 200, 145, var(--color-opacity)) !important;
  --color-orange: rgba(228, 152, 12, var(--color-opacity)) !important;
  --color-orange-rgb: 228, 152, 12;
  --color-blue: rgba(18, 158, 222, var(--color-opacity)) !important;
  --color-blue-rgb: 18, 158, 222;
  --color-cyan: rgba(99, 201, 201, var(--color-opacity)) !important;
  --color-purple: rgba(144, 132, 233, var(--color-opacity)) !important;
  --background-modifier-error: rgba(var(--color-red-rgb), 0.8);
  --background-modifier-cover: hsla(var(--background-secondary-hsl), 0.6);
  --interactive-accent: var(--accent-active);
  --radius-xl: var(--size-4-3);

  --animation: var(--setting-animation-time, 200ms) var(--anim-motion-smooth);
  --animation-slow: calc(var(--setting-animation-time, 200ms) * 2) var(--anim-motion-smooth);
  --animation-delay: calc(4 * var(--setting-animation-time, 150ms));
  --bg-opacity: 1;
}

html :is(body.obsidian-app, body.obsidian-app .print) {
  --accent-s: 32% !important;
  --accent-l: 58% !important;
}

:is(body.color-use-custom.theme-light.css-settings-manager, body.color-use-custom.theme-light.css-settings-manager .print) {
  --accent-h: var(--setting-accent-h-light, 35) !important;
  --accent-s: var(--setting-accent-s-light, 32%) !important;
  --accent-l: var(--setting-accent-l-light, 58%) !important;
}

:is(body.color-use-custom.theme-dark.css-settings-manager, body.color-use-custom.theme-dark.css-settings-manager .print) {
  --accent-h: var(--setting-accent-h-dark, 207) !important;
  --accent-s: var(--setting-accent-s-dark, 32%) !important;
  --accent-l: var(--setting-accent-l-dark, 58%) !important;
}

:is(.theme-light, .theme-light .print) {
  --background-primary: hsla(var(--accent-h),
      calc(var(--accent-s) - 12%),
      97%,
      var(--bg-opacity));
  --background-primary-hsl: var(--accent-h), calc(var(--accent-s) - 12%), 97%;
  --background-secondary: hsla(calc(var(--accent-h) - 18),
      calc(var(--accent-s) - 4%),
      calc(100% - (100% - var(--accent-l)) / 8),
      var(--bg-opacity));
  --background-secondary-hsl: calc(var(--accent-h) - 18),
    calc(var(--accent-s) - 4%), calc(100% - (100% - var(--accent-l)) / 8);
  --background-modifier-hover: hsla(var(--color-accent-hsl), 16%);
  --accent-active: hsl(var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) + 4%));
  --accent-inactive: hsl(var(--accent-h),
      calc(var(--accent-s) - 4%),
      calc(var(--accent-l) + 24%));
  --text-on-accent: #fafafa !important;
  --frame-background-color: hsl(var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) + 32%));
  --frame-outline-color: hsl(var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) + 23.5%));
  --frame-muted-color: hsl(var(--accent-h),
      calc(var(--accent-s) - 20%),
      calc(var(--accent-l) - 10%));

  --md-container-bg: var(--setting-md-container-bg, hsla(calc(var(--accent-h) + 8),
        calc(var(--accent-s) / 1.2),
        calc(100% - (100% - var(--accent-l)) / 6),
        60%));
  --color-opacity: 1;
}

:is(.theme-dark, .theme-dark .print) {
  --background-primary: hsla(var(--accent-h), 4%, calc(var(--accent-l) / 7), var(--bg-opacity));
  --background-primary-hsl: var(--accent-h), 4%, calc(var(--accent-l) / 7);
  --background-secondary: hsla(calc(var(--accent-h) + 8),
      calc(var(--accent-s) / 6),
      calc(var(--accent-l) / 4),
      var(--bg-opacity));
  --background-secondary-hsl: calc(var(--accent-h) + 8),
    calc(var(--accent-s) / 6), calc(var(--accent-l) / 4);
  --background-modifier-hover: hsl(var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) / 3));
  --accent-active: hsl(var(--accent-h),
      var(--accent-s),
      calc(var(--accent-l) - 16%));
  --accent-inactive: hsl(var(--accent-h),
      calc(var(--accent-s) + 24%),
      calc(var(--accent-l) - 32%));
  --frame-background-color: hsl(var(--accent-h), 12%, 20%);
  --frame-outline-color: hsl(calc(var(--accent-h) - 24),
      calc(var(--accent-s) + 6%),
      24%);
  --frame-muted-color: hsl(var(--accent-h),
      calc(var(--accent-s) - 20%),
      calc(var(--accent-l) + 10%));
  --text-normal: hsla(var(--accent-h), 50%, 94%, 75%);
  --text-on-accent: #eaeaea !important;
  --md-container-bg: var(--setting-md-container-bg, hsl(calc(var(--accent-h) - 4), 18%, 9%));
  --color-opacity: 0.85;
  --color-red: rgb(255, 70, 70, var(--color-opacity)) !important;
  --color-red-rgb: 255, 70, 70 !important;
}

body.theme-light.color-use-custom:not(.color-active-default-light),
body.theme-light.color-use-custom:not(.color-active-default-light) .print {
  --accent-active: var(--setting-color-active-custom-light,
      hsl(calc(var(--accent-h) + 60),
        calc(var(--accent-s) - 12%),
        calc(var(--accent-l) + 4%)));
  --accent-inactive: var(--setting-color-active-custom-dark,
      hsl(calc(var(--accent-h) + 60),
        calc(var(--accent-s) - 12%),
        calc(var(--accent-l) + 24%)));
}

body.theme-dark.color-use-custom:not(.color-active-default-dark),
body.theme-dark.color-use-custom:not(.color-active-default-dark) .print {
  --accent-active: var(--setting-color-active-custom-dark,
      hsl(calc(var(--accent-h) + 60),
        calc(var(--accent-s) - 12%),
        calc(var(--accent-l) - 12%)));
  --accent-inactive: var(--setting-color-active-custom-dark,
      hsl(calc(var(--accent-h) + 60),
        calc(var(--accent-s) - 12%),
        calc(var(--accent-l) - 28%)));
}