@keyframes op {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.7;
  }

  70% {
    opacity: 0.95;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-dock {
  0% {
    display: flex !important;
    opacity: 1;
  }

  10% {
    display: flex !important;
    opacity: 0.5;
  }

  99% {
    display: flex !important;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(3px) translateZ(0);
  }

  10% {
    transform: translateY(2px) translateZ(0);
  }

  30% {
    transform: translateY(1px) translateZ(0);
  }

  to {
    transform: translateY(0) translateZ(0);
  }
}
