/* #region [style settings] */
@use './style-settings';
/* #endregion [style settings] */

/* #region built-in fonts */
@use './fonts.scss';
/* #endregion built-in fonts */

/* #region global variables */
@use './variable.scss';
/* #endregion global variables */

/* #region [editor] */
@use './editor';
/* #endregion [editor] */

/* #region [plugins] */
@use './plugins';
/* #endregion [plugins] */

/* #region [workspace] */
@use './workspace';
/* #endregion [workspace] */

/* #region [mobile] */
@use './mobile';
/* #endregion [mobile] */

//todo)) callouts(bt,prism,mado) / slide / dataview / plugins adapt