body {
  --bg-editor: var(--background-primary);
  --bg-surface: var(--background-secondary);
}

body.app-layout-card:not(.is-mobile) {
  --divider-color: transparent;
  --pdf-background: transparent;
  --tab-divider-color: var(--color-base-35);
  --tab-active-shadow: none !important;
  --app-layout-spacing: var(--setting-app-layout-spacing, var(--size-2-3));

  &.theme-light {
    --background-primary-alt: hsl(var(--base-accent-h), 18%, 93.5%);
  }
  &.theme-dark {
    --background-primary-alt: hsl(var(--base-accent-h), 8%, 13.5%);
  }

  &:is(.app-layout-card-plain, .color-use-minimal) {
    background-color: var(--bg-surface);
    --editor-min-opacity: 1;
  }

  &:not(.app-layout-card-plain, .color-use-minimal) {
    background-color: transparent;
    background-image: var(--app-bg-image);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    --bg-opacity: var(--setting-layout-opacity, 0.4);
    --bg-editor: hsla(
      var(--background-primary-hsl),
      max(var(--bg-opacity), var(--editor-min-opacity))
    );
    --bg-surface: hsla(var(--background-secondary-hsl), var(--bg-opacity));

    :is(.titlebar, .workspace) {
      --frame-bg: transparent !important;
    }
    &.theme-light {
      --editor-min-opacity: 0.8;
    }

    &.theme-dark {
      --editor-min-opacity: 0.85;
    }
  }

  .workspace-split.mod-left-split > .workspace-leaf-resize-handle {
    translate: var(--size-4-1);
  }
  .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    translate: calc(-1 * var(--size-4-1));
  }

  &.app-layout-card-gradient:not(.color-use-minimal) {
    --bg-opacity: 0.6;

    &.theme-light {
      --app-bg-image: linear-gradient(
        320deg,
        hsl(calc(var(--base-accent-h) + 50), 50%, 92%),
        hsl(calc(var(--base-accent-h) - 30), 36%, 87%)
      );
    }

    &.theme-dark {
      --app-bg-image: linear-gradient(
        320deg,
        hsl(calc(var(--base-accent-h) + 60), 11%, 22%),
        hsl(calc(var(--base-accent-h) - 10), 24%, 28%)
      );
    }
  }

  &.app-layout-card-custom {
    &.theme-light {
      --bg-opacity: var(--setting-layout-opacity-light, 0.6);
      --app-bg-image: var(
        --setting-layout-image-light,
        linear-gradient(to bottom, var(--color-base-25))
      );
    }

    &.theme-dark {
      --bg-opacity: var(--setting-layout-opacity-dark, 0.6);
      --app-bg-image: var(
        --setting-layout-image-dark,
        linear-gradient(to bottom, var(--color-base-20))
      );
    }
  }

  &.app-layout-card-border {
    .mod-root .workspace-leaf-content {
      border: 1px solid var(--background-modifier-border);
    }

    .workspace-tab-header {
      border: 1px solid transparent;
      &.is-active {
        border-color: var(--background-modifier-border);
      }
    }
  }

  .mod-root {
    .workspace-tab-header-container {
      padding-left: var(--app-layout-spacing);
    }
    .workspace-tab-container {
      padding: var(--app-layout-spacing);
      padding-top: 0;

      .workspace-leaf-content {
        border-radius: var(--radius-m);
      }
    }
    :is(
        .workspace-tabs + .workspace-tabs.mod-top,
        .workspace-split.mod-vertical > .workspace-tabs + .workspace-tabs,
        .workspace-tabs + .workspace-split > .workspace-tabs,
        .workspace-split + .workspace-tabs,
        .workspace-split + .workspace-split:not(.mod-root) > .workspace-tabs
      )
      > div {
      padding-left: 0;
    }
    .workspace-tabs:not(.mod-top) {
      margin-top: -4px;
    }
  }

  .workspace-tab-header {
    --background-modifier-hover: hsla(
      var(--background-primary-hsl),
      var(--bg-opacity)
    );
  }

  :is(
      .workspace-tab-header-container,
      .workspace-tab-header-container-inner,
      .titlebar-button-container,
      .sidebar-toggle-button,
      .workspace-fake-target-overlay:not(.is-in-sidebar)
        .workspace-tabs
        .workspace-leaf,
      .workspace-split:not(.mod-root) .workspace-tabs .workspace-leaf,
      .workspace-split.mod-root
        .workspace-tabs:not(.mod-stacked)
        .workspace-leaf,
      .workspace-split.mod-root .workspace-split,
      .pdf-toolbar,
      .workspace-leaf-content[data-type='empty'],
      .workspace-leaf-content:not([data-type='empty'])
        :is(.view-content, .view-header)
    ) {
    background-color: transparent;
  }

  .workspace-ribbon {
    --ribbon-background: var(--bg-surface);
    --ribbon-background-collapsed: var(--bg-surface);
    &::before {
      background-color: var(--bg-surface);
    }
  }

  .workspace-split {
    background-color: var(--bg-surface);
  }

  .workspace-split.mod-root .workspace-leaf-content {
    background-color: var(--bg-editor);
  }

  &:not(.is-mobile)
    .workspace-split.mod-left-split
    .workspace-sidedock-vault-profile {
    background-color: hsla(
      var(--background-secondary-hsl),
      calc(var(--bg-opacity) / 4)
    );
  }
}
