@function with-no-plugin($selector) {
  @return unquote('body:is(:not(.css-settings-manager),#{$selector})');
}

@function use-setting($selector) {
  @return unquote('body#{$selector}');
}

@function with-print($selector) {
  @return ":is(#{$selector}, #{$selector} .print)"
}

@mixin icon-have-class($class, $svg) {
  svg#{$class} {
    @include _svg-icon();
    -webkit-mask-image: url('data:image/svg+xml;utf8,#{$svg}');
  }
}

@mixin icon-no-class($parent, $svg) {
  #{$parent} svg {
    @include _svg-icon();
    -webkit-mask-image: url('data:image/svg+xml;utf8,#{$svg}');
  }
}

@mixin icon-no-exist-svg($class, $svg) {
  #{$class} {
    -webkit-mask-image: url('data:image/svg+xml;utf8,#{$svg}');
  }
}

$normal-file-icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"/><path d="M14 2v6h6m-4 5H8m8 4H8m2-8H8"/></g></svg>'