@use 'sass:string';
@use 'sass:color';

@function with-no-plugin($selector) {
  @return string.unquote('body:is(:not(.css-settings-manager),#{$selector})');
}

@mixin use-no-plugin($selector, $suffix: '') {
  body:is(
      :not(.css-settings-manager),
      #{string.unquote($selector)}
    )#{string.unquote($suffix)} {
    @content;
  }
}

@mixin use-panel($name, $child: '') {
  .workspace-leaf-content[data-type='#{$name}'] #{string.unquote($child)} {
    @content;
  }
}

@function use-opt($name, $fallback) {
  @return var(--setting-#{string.unquote($name)}, $fallback);
}

@function to-rgb($color) {
  @return color.channel($color, 'red', $space: rgb),
    color.channel($color, 'green', $space: rgb),
    color.channel($color, 'blue', $space: rgb);
}

@mixin use-print($selector) {
  :is(#{$selector}, #{$selector} .print) {
    @content;
  }
}

@mixin use-icon($icon-name, $color: none, $size: none) {
  -webkit-mask: icon($icon-name) no-repeat;
  -webkit-mask-size: 100% 100%;
  @if $color != none {
    background-color: currentColor;
    color: $color;
  }
  @if $size != none {
    width: $size;
    height: $size;
  }
}

@mixin use-override-svg($svg-class, $icon-name) {
  #{$svg-class} {
    -webkit-mask: icon($icon-name) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;

    path {
      display: none;
    }
  }
}
