@use './utils.scss' as *;

body {
  --base-accent-h: var(--accent-h);
  --theme-accent-h: var(--base-accent-h);
  --accent-active: hsl(
    var(--theme-accent-active-h),
    var(--theme-accent-active-s),
    var(--theme-accent-active-l)
  );
  --accent-inactive: hsl(
    var(--theme-accent-inactive-h),
    var(--theme-accent-inactive-s),
    var(--theme-accent-inactive-l)
  );

  --bg-opacity: 1;
  --font-ui-smaller: 13px;
  --font-ui-small: 14px;
  --font-ui-medium: 16px;
  --line-height-normal: 1.8;
  --background-modifier-border: var(--accent-inactive);
  --background-modifier-border-hover: var(--accent-active);
  --background-modifier-border-focus: var(--accent-active);
  --background-modifier-error: rgba(var(--color-red-rgb), 0.8);
  --background-modifier-cover: hsla(var(--background-secondary-hsl), 0.6);
  --interactive-accent: var(--accent-active);

  --tab-container-background: var(--frame-bg);
  --titlebar-background: var(--frame-bg);
  --titlebar-background-focused: var(--frame-bg);

  --input-radius: var(--size-2-3);
  --input-shadow: 0 0.125px 0 0.5px var(--color-base-10),
    inset 0 -0.125px 1px 0px var(--color-base-30),
    0 0.75px 2px 0.5px var(--color-base-50);
  --input-shadow-hover: 0 0.125px 0 0.5px var(--color-base-20),
    inset 0 -0.125px 1px 0px var(--color-base-40),
    0 0.75px 2px 0.5px var(--color-base-50);

  --animation: var(--setting-animation-time, 200ms) var(--anim-motion-smooth);
  --animation-slow: calc(var(--setting-animation-time, 200ms) * 2)
    var(--anim-motion-smooth);
  --animation-delay: calc(4 * var(--setting-animation-time, 150ms));
  --block-outline-width: 2px;

  --divider-color: var(--color-base-30);
  --divider-width-hover: var(--size-4-1);

  // tree item color
  --nav-item-color-active: var(--text-on-accent);
  --nav-item-background-active: var(--accent-active);
  --nav-item-background-selected: var(--background-modifier-hover);
  --line-height-tight: var(--setting-line-height-item, 1.5);
}

.theme-light {
  @include var-color('red', hsl(0, 45%, 53%));
  @include var-color('orange', hsl(32, 70%, 46%));
  @include var-color('yellow', hsl(45, 74%, 40%));
  @include var-color('green', hsl(95, 75%, 32%));
  @include var-color('cyan', hsl(156, 75%, 28%));
  @include var-color('blue', hsl(193, 94%, 34%));
  @include var-color('purple', hsl(260, 20%, 48%));

  --theme-accent-active-h: var(--theme-accent-h);
  --theme-accent-active-s: calc(20% + var(--accent-s) / 10);
  --theme-accent-active-l: calc(50% + var(--accent-l) / 10);
  --theme-accent-inactive-h: var(--theme-accent-h);
  --theme-accent-inactive-s: calc(15% + var(--accent-s) / 10);
  --theme-accent-inactive-l: calc(75% + var(--accent-l) / 10);

  --color-accent-hsl: var(--base-accent-h), var(--theme-accent-active-s),
    var(--theme-accent-active-l);
  --color-accent: hsl(
    var(--base-accent-h),
    var(--theme-accent-active-s),
    var(--theme-accent-active-l)
  );
  --color-accent-1: hsl(
    calc(var(--base-accent-h) - 1),
    calc(var(--theme-accent-active-s) * 1.01),
    calc(var(--theme-accent-active-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--base-accent-h) - 3),
    calc(var(--theme-accent-active-s) * 1.02),
    calc(var(--theme-accent-active-l) * 1.15)
  );
  --frame-bg: hsl(
    var(--base-accent-h),
    calc(var(--theme-accent-active-s) * 0.9),
    calc(82% + var(--theme-accent-active-l) / 10)
  );

  --background-primary-hsl: var(--base-accent-h), 12%, 97%;
  --background-primary: hsl(var(--background-primary-hsl));
  --background-primary-alt: hsl(var(--base-accent-h), 15%, 95%);
  --background-secondary-hsl: calc(var(--base-accent-h) - 18), 8%, 93%;
  --background-secondary: hsl(var(--background-secondary-hsl));
  --background-modifier-hover: hsl(
    var(--base-accent-h),
    var(--theme-accent-inactive-s),
    max(70%, var(--accent-l) * 0.8),
    25%
  );
  --text-on-accent: #fafafa;
  --md-container-bg: var(
    --setting-md-container-bg,
    hsla(calc(var(--base-accent-h) + 8), 16%, 95%)
  );

  &.color-use-custom {
    --base-accent-h: var(--setting-accent-h-light, 35);

    &.color-active-alt-light {
      --theme-accent-h: calc(var(--base-accent-h) + 60);
      --theme-accent-active-s: 20%;
      --theme-accent-active-l: 56%;
      --theme-accent-inactive-s: 20%;
      --theme-accent-inactive-l: 78%;
    }

    &.color-active-custom-light {
      --theme-accent-active-h: var(--setting-color-active-custom-light-h);
      --theme-accent-active-s: var(--setting-color-active-custom-light-s);
      --theme-accent-active-l: var(--setting-color-active-custom-light-l);
      --theme-accent-inactive-h: var(--setting-color-inactive-custom-light-h);
      --theme-accent-inactive-s: var(--setting-color-inactive-custom-light-s);
      --theme-accent-inactive-l: var(--setting-color-inactive-custom-light-l);
    }
  }
}

.theme-dark {
  $dark-bright: -15%;
  @include var-color('red', hsl(0, 64%, 80%), $dark-bright);
  @include var-color('orange', hsl(20, 60%, 75%), $dark-bright);
  @include var-color('yellow', hsl(36, 70%, 78%), $dark-bright);
  @include var-color('green', hsl(130, 48%, 76%), $dark-bright);
  @include var-color('cyan', hsl(178, 60%, 77%), $dark-bright);
  @include var-color('blue', hsl(210, 100%, 78%), $dark-bright);
  @include var-color('purple', hsl(247, 85%, 90%), $dark-bright);

  --theme-accent-active-h: var(--theme-accent-h);
  --theme-accent-active-s: calc(20% + var(--accent-s) / 10);
  --theme-accent-active-l: calc(40% + var(--accent-l) / 10);
  --theme-accent-inactive-h: var(--theme-accent-h);
  --theme-accent-inactive-s: calc(15% + var(--accent-s) / 10);
  --theme-accent-inactive-l: calc(30% + var(--accent-l) / 10);

  --color-accent-hsl: var(--base-accent-h), var(--theme-accent-active-s),
    var(--theme-accent-active-l);
  --color-accent: hsl(
    var(--base-accent-h),
    var(--theme-accent-active-s),
    var(--theme-accent-active-l)
  );
  --color-accent-1: hsl(
    calc(var(--base-accent-h) - 3),
    calc(var(--theme-accent-active-s) * 1.02),
    calc(var(--theme-accent-active-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--base-accent-h) - 5),
    calc(var(--theme-accent-active-s) * 1.05),
    calc(var(--theme-accent-active-l) * 1.29)
  );
  --frame-bg: hsl(
    var(--base-accent-h),
    calc(var(--theme-accent-active-s) * 0.7),
    calc(10% + var(--theme-accent-active-l) / 10)
  );

  --background-primary-hsl: var(--base-accent-h), 5%, 9%;
  --background-primary: hsl(var(--background-primary-hsl));
  --background-primary-alt: hsl(var(--base-accent-h), 10%, 13%);
  --background-secondary-hsl: calc(var(--base-accent-h) - 18), 6%, 12%;
  --background-secondary: hsl(var(--background-secondary-hsl));
  --background-modifier-hover: hsl(
    var(--base-accent-h),
    var(--theme-accent-active-s),
    max(50%, var(--accent-l) * 0.6),
    20%
  );

  --text-normal: hsla(var(--base-accent-h), 50%, 94%, 75%);
  --text-on-accent: #eaeaea;
  --md-container-bg: var(
    --setting-md-container-bg,
    hsl(calc(var(--base-accent-h) - 4), 12%, 12%)
  );

  &.color-use-custom {
    --base-accent-h: var(--setting-accent-h-dark, 207);

    &.color-active-alt-dark {
      --theme-accent-h: calc(var(--base-accent-h) + 60);
      --theme-accent-active-s: 24%;
      --theme-accent-active-l: 42%;
      --theme-accent-inactive-s: 20%;
      --theme-accent-inactive-l: 32%;
    }

    &.theme-dark.color-use-custom.color-active-custom-dark {
      --theme-accent-active-h: var(--setting-color-active-custom-dark-h);
      --theme-accent-active-s: var(--setting-color-active-custom-dark-s);
      --theme-accent-active-l: var(--setting-color-active-custom-dark-l);
      --theme-accent-inactive-h: var(--setting-color-inactive-custom-dark-h);
      --theme-accent-inactive-s: var(--setting-color-inactive-custom-dark-s);
      --theme-accent-inactive-l: var(--setting-color-inactive-custom-dark-l);
    }
  }
}
