@use './utils.scss' as *;

@mixin var-color($name, $color) {
  $rgb: to-rgb($color);

  --color-#{$name}: rgba(
    var(--color-#{$name}-rgb),
    var(--color-opacity)
  ) !important;
  --color-#{$name}-rgb: #{$rgb} !important;
}

@include use-print('body') {
  --font-ui-smaller: 13px;
  --font-ui-small: 14px;
  --font-ui-medium: 16px;
  --line-height-normal: 1.8;
  --background-modifier-border: var(--accent-inactive);
  --background-modifier-border-focus: var(--accent-inactive);
  --background-modifier-error: rgba(var(--color-red-rgb), 0.8);
  --background-modifier-cover: hsla(var(--background-secondary-hsl), 0.6);
  --interactive-accent: var(--accent-active);

  --animation: var(--setting-animation-time, 200ms) var(--anim-motion-smooth);
  --animation-slow: calc(var(--setting-animation-time, 200ms) * 2)
    var(--anim-motion-smooth);
  --animation-delay: calc(4 * var(--setting-animation-time, 150ms));
  --bg-opacity: 1;
  --block-outline-width: 2px;
  --editor-bg: var(--setting-editor-bg, var(--background-primary-hsl));

  // tree item color
  --nav-item-background-hover: var(--background-modifier-hover);
  --nav-item-background-active: var(--accent-active);
  --nav-item-background-selected: var(--frame-outline-color);

  --alt-light-accent-active: hsl(
    calc(var(--accent-h) + 60),
    calc(var(--accent-s) - 12%),
    calc(var(--accent-l) + 4%)
  );
  --alt-light-accent-inactive: hsl(
    calc(var(--accent-h) + 60),
    calc(var(--accent-s) - 12%),
    calc(var(--accent-l) + 20%)
  );
  --alt-dark-accent-active: hsl(
    calc(var(--accent-h) + 60),
    calc(var(--accent-s) - 12%),
    calc(var(--accent-l) - 12%)
  );
  --alt-dark-accent-inactive: hsl(
    calc(var(--accent-h) + 60),
    calc(var(--accent-s) - 12%),
    calc(var(--accent-l) - 28%)
  );
}

@include use-print('body.obsidian-app') {
  --accent-s: 32% !important;
  --accent-l: 58% !important;
}

@mixin setup-hsl($theme, $h, $s, $l) {
  @include use-print(
    'body.color-use-custom.theme-#{$theme}.css-settings-manager'
  ) {
    --accent-h: var(--setting-accent-h-#{$theme}, #{$h}) !important;
    --accent-s: var(--setting-accent-s-#{$theme}, #{$s}) !important;
    --accent-l: var(--setting-accent-l-#{$theme}, #{$l}) !important;
  }
}

@include setup-hsl('light', 35, 32%, 58%);
@include setup-hsl('dark', 207, 32%, 58%);

@include use-print('.theme-light') {
  @include var-color('red', hsl(0, 45%, 53%));
  @include var-color('orange', hsl(31, 70%, 45%));
  @include var-color('yellow', hsl(48, 80%, 38%));
  @include var-color('green', hsl(95, 75%, 32%));
  @include var-color('cyan', hsl(156, 75%, 28%));
  @include var-color('blue', hsl(193, 94%, 34%));
  @include var-color('purple', hsl(260, 20%, 48%));

  --background-primary-hsl: var(--accent-h), calc(var(--accent-s) - 12%), 97%;
  --background-primary: hsl(var(--background-primary-hsl));
  --background-secondary-hsl: calc(var(--accent-h) - 18),
    calc(var(--accent-s) - 4%), calc(100% - (100% - var(--accent-l)) / 8);
  --background-secondary: hsl(var(--background-secondary-hsl));
  --background-modifier-hover: hsl(
    var(--accent-h),
    calc(var(--accent-s) * 1.5),
    min(var(--accent-l) * 2, 60%),
    20%
  );
  --accent-active: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 4%)
  );
  --accent-inactive: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 4%),
    calc(var(--accent-l) + 24%)
  );
  --text-on-accent: #fafafa !important;
  --frame-background-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 32%)
  );
  --frame-outline-color: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 23.5%)
  );
  --frame-muted-color: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 20%),
    calc(var(--accent-l) - 10%)
  );
  --md-container-bg: var(
    --setting-md-container-bg,
    hsla(
      calc(var(--accent-h) + 8),
      calc(var(--accent-s) / 1.2),
      calc(100% - (100% - var(--accent-l)) / 6),
      70%
    )
  );
  --color-opacity: 1;
}

@include use-print('.theme-dark') {
  @include var-color('red', hsl(0, 64%, 80%));
  @include var-color('orange', hsl(20, 60%, 75%));
  @include var-color('yellow', hsl(36, 70%, 78%));
  @include var-color('green', hsl(130, 48%, 76%));
  @include var-color('cyan', hsl(178, 60%, 77%));
  @include var-color('blue', hsl(210, 100%, 78%));
  @include var-color('purple', hsl(247, 96%, 88%));

  --background-primary: hsl(var(--background-primary-hsl));
  --background-primary-hsl: var(--accent-h), 5%, 5%;
  --background-secondary: hsl(var(--background-secondary-hsl));
  --background-secondary-hsl: calc(var(--accent-h) + 8),
    calc(var(--accent-s) / 6), calc(var(--accent-l) / 5);
  --background-modifier-hover: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) / 2),
    20%
  );
  --accent-active: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) - 16%)
  );
  --accent-inactive: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 4%),
    calc(var(--accent-l) - 40%)
  );
  --frame-background-color: hsl(var(--accent-h), 12%, 16%);
  --frame-outline-color: hsl(
    calc(var(--accent-h) - 24),
    calc(var(--accent-s) + 6%),
    24%
  );
  --frame-muted-color: hsl(
    var(--accent-h),
    calc(var(--accent-s) - 20%),
    calc(var(--accent-l) + 10%)
  );
  --text-normal: hsla(var(--accent-h), 50%, 94%, 75%);
  --text-on-accent: #eaeaea !important;
  --md-container-bg: var(
    --setting-md-container-bg,
    hsl(calc(var(--accent-h) - 4), 18%, 9%)
  );
  --color-opacity: 0.85;
}

@include use-print('.theme-light.color-use-custom.color-active-alt-light') {
  --accent-active: var(--alt-light-accent-active);
  --accent-inactive: var(--alt-light-accent-inactive);
}
@include use-print('.theme-light.color-use-custom.color-active-custom-light') {
  --accent-active: var(
    --setting-color-active-custom-light,
    var(--alt-light-accent-active)
  );
  --accent-inactive: var(
    --setting-color-inactive-custom-light,
    var(--alt-light-accent-inactive)
  );
}
@include use-print('.theme-dark.color-use-custom.color-active-alt-dark') {
  --accent-active: var(--alt-dark-accent-active);
  --accent-inactive: var(--alt-dark-accent-inactive);
}
@include use-print('.theme-dark.color-use-custom.color-active-custom-dark') {
  --accent-active: var(
    --setting-color-active-custom-dark,
    var(--alt-dark-accent-active)
  );
  --accent-inactive: var(
    --setting-color-inactive-custom-dark,
    var(--alt-dark-accent-inactive)
  );
}
