@use './utils.scss' as *;

body {
  --base-accent-h: var(--accent-h);
  --theme-accent-h: var(--base-accent-h);
  --accent-active: hsl(
    var(--theme-accent-active-h),
    var(--theme-accent-active-s),
    var(--theme-accent-active-l)
  );
  --accent-active-bg: hsla(
    var(--theme-accent-active-h),
    var(--theme-accent-active-s),
    var(--theme-accent-active-l),
    var(--color-opacity)
  );
  --accent-inactive: hsl(
    var(--theme-accent-inactive-h),
    var(--theme-accent-inactive-s),
    var(--theme-accent-inactive-l)
  );

  --bg-opacity: 1;
  --font-ui-smaller: 13px;
  --font-ui-small: 14px;
  --font-ui-medium: 16px;

  &:not(.color-highlight-only) {
    --background-modifier-border: hsla(
      var(--theme-accent-inactive-h),
      calc(var(--theme-accent-inactive-s) / 2),
      var(--theme-accent-inactive-l),
      75%
    );
    --background-modifier-border-hover: hsla(
      var(--theme-accent-active-h),
      calc(var(--theme-accent-active-s) * 0.7),
      var(--theme-accent-active-l),
      60%
    );

    --background-primary: hsl(var(--background-primary-hsl));
    --background-primary-alt: hsl(var(--background-primary-alt-hsl));
    --background-secondary: hsl(var(--background-secondary-hsl));
    --background-modifier-border-focus: var(--background-modifier-border-hover);
    --background-modifier-error: rgba(var(--color-red-rgb), 1);
    --background-modifier-error-hover: rgba(var(--color-red-rgb), 0.9);
    --background-modifier-cover: hsla(var(--background-secondary-hsl), 0.6);

    --tab-container-background: var(--frame-bg);
    --titlebar-background: var(--frame-bg);
    --titlebar-background-focused: var(--frame-bg);
  }

  --input-radius: var(--size-2-3);
  --input-shadow:
    0 0.125px 0 0.5px var(--color-base-10), inset 0 -0.125px 1px 0px var(--color-base-30),
    0 0.75px 2px 0.5px var(--color-base-50);
  --input-shadow-hover:
    0 0.125px 0 0.5px var(--color-base-20), inset 0 -0.125px 1px 0px var(--color-base-40),
    0 0.75px 2px 0.5px var(--color-base-50);

  --animation-dur: var(--setting-animation-time, 250ms);
  --animation-fast: calc(var(--animation-dur) / 2) var(--anim-motion-smooth);
  --animation: var(--animation-dur) var(--anim-motion-smooth);
  --animation-slow: calc(var(--animation-dur) * 2) var(--anim-motion-smooth);
  --animation-delay: calc(4 * var(--animation-dur));

  --divider-color: var(--setting-divider-color, var(--color-base-30));
  --divider-width-hover: var(--size-4-1);

  // tree item color
  --nav-item-background-active: var(--accent-active-bg);
  --nav-item-background-selected: var(--background-modifier-hover);

  --line-height-normal: var(--setting-line-height, 1.8);
  --line-height-tight: var(--setting-item-line-height, 1.5);

  --menu-padding: 4px;
  --color-opacity: 1;
}

.theme-light {
  @include var-color('red', hsl(0, 45%, 53%));
  @include var-color('orange', hsl(32, 70%, 46%));
  @include var-color('yellow', hsl(45, 74%, 40%));
  @include var-color('green', hsl(95, 75%, 32%));
  @include var-color('cyan', hsl(156, 75%, 28%));
  @include var-color('blue', hsl(193, 94%, 34%));
  @include var-color('purple', hsl(260, 20%, 48%));

  --theme-accent-active-h: var(--theme-accent-h);
  --theme-accent-active-s: calc(20% + var(--accent-s) / 10);
  --theme-accent-active-l: calc(50% + var(--accent-l) / 10);
  --theme-accent-inactive-h: var(--theme-accent-h);
  --theme-accent-inactive-s: calc(15% + var(--accent-s) / 10);
  --theme-accent-inactive-l: calc(75% + var(--accent-l) / 10);

  --color-accent-hsl:
    var(--base-accent-h), var(--theme-accent-active-s), var(--theme-accent-active-l);
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-1: hsl(
    calc(var(--base-accent-h) - 1),
    calc(var(--theme-accent-active-s) * 1.01),
    calc(var(--theme-accent-active-l) * 1.075)
  );
  --color-accent-2: hsl(
    calc(var(--base-accent-h) - 3),
    calc(var(--theme-accent-active-s) * 1.02),
    calc(var(--theme-accent-active-l) * 1.15)
  );

  --text-on-accent: #fafafa !important;

  &:not(.color-highlight-only) {
    --background-primary-hsl: var(--base-accent-h), 12%, 97%;
    --background-primary-alt-hsl: var(--base-accent-h), 10%, 95%;
    --background-secondary-hsl: calc(var(--base-accent-h) - 18), 8%, 93%;
    --background-modifier-hover: hsl(
      var(--base-accent-h),
      var(--theme-accent-inactive-s),
      max(70%, var(--accent-l) * 0.8),
      25%
    );
    --frame-bg: hsl(
      var(--base-accent-h),
      calc(var(--theme-accent-active-s) * 0.6),
      calc(85% + var(--theme-accent-active-l) * 0.1)
    );
  }

  &.color-use-minimal {
    &:not(.color-highlight-only) {
      --base-accent-h: var(--setting-color-active-custom-light-h, 210);
      --background-primary-hsl: var(--base-accent-h), 6%, 97%;
      --background-primary-alt-hsl: var(--base-accent-h), 10%, 95.5%;
      --background-secondary-hsl: calc(var(--base-accent-h) - 18), 4%, 93%;
      --frame-bg: hsl(
        var(--base-accent-h),
        calc(var(--theme-accent-active-s) * 0.2),
        calc(85% + var(--theme-accent-active-l) * 0.1)
      );
    }

    --theme-accent-active-s: var(--setting-color-active-custom-light-s, 6%);
    --theme-accent-active-l: var(--setting-color-active-custom-light-l, 36%);
    --theme-accent-inactive-s: var(--setting-color-inactive-custom-light-s, 8%);
    --theme-accent-inactive-l: var(--setting-color-inactive-custom-light-l, 70%);
  }

  &.color-use-custom {
    --base-accent-h: var(--setting-accent-h-light, 35);
    --theme-accent-active-s: 22%;
    --theme-accent-active-l: 56%;
    --theme-accent-inactive-s: 20%;
    --theme-accent-inactive-l: 78%;

    &.color-active-alt-light {
      --theme-accent-h: calc(var(--base-accent-h) + 60);
    }

    &.color-active-custom-light {
      --theme-accent-active-h: var(--setting-color-active-custom-light-h);
      --theme-accent-active-s: var(--setting-color-active-custom-light-s);
      --theme-accent-active-l: var(--setting-color-active-custom-light-l);
      --theme-accent-inactive-h: var(--setting-color-inactive-custom-light-h);
      --theme-accent-inactive-s: var(--setting-color-inactive-custom-light-s);
      --theme-accent-inactive-l: var(--setting-color-inactive-custom-light-l);
    }

    &.color-modify-bg-light:not(.color-highlight-only) {
      --default-mod-bg-hsl: 0, 0%, 93%;
      --background-primary-hsl: var(--setting-bg-primary-light-hsl, var(--default-mod-bg-hsl));
      --background-primary-alt-hsl: var(
        --setting-bg-primary-alt-light-hsl,
        var(--default-mod-bg-hsl)
      );
      --background-secondary-hsl: var(--setting-bg-secondary-light-hsl, var(--default-mod-bg-hsl));
      --frame-bg: var(--setting-bg-frame-light, hsl(var(--default-mod-bg-hsl)));
    }
  }
}

.theme-dark {
  @include var-color('red', hsl(0, 44%, 68%));
  @include var-color('orange', hsl(20, 40%, 68%));
  @include var-color('yellow', hsl(36, 50%, 68%));
  @include var-color('green', hsl(130, 32%, 68%));
  @include var-color('cyan', hsl(178, 40%, 64%));
  @include var-color('blue', hsl(210, 80%, 72%));
  @include var-color('purple', hsl(247, 65%, 82%));

  &:not(.color-dark-dim-disable) {
    --color-opacity: 0.85;
  }

  --theme-accent-active-h: var(--theme-accent-h);
  --theme-accent-active-s: calc(20% + var(--accent-s) / 10);
  --theme-accent-active-l: calc(40% + var(--accent-l) / 10);
  --theme-accent-inactive-h: var(--theme-accent-h);
  --theme-accent-inactive-s: calc(15% + var(--accent-s) / 10);
  --theme-accent-inactive-l: calc(30% + var(--accent-l) / 10);

  --color-accent-hsl:
    var(--base-accent-h), var(--theme-accent-active-s),
    calc(var(--theme-accent-active-l) * var(--color-opacity));
  --color-accent: hsl(var(--color-accent-hsl));
  --color-accent-1: hsl(
    calc(var(--base-accent-h) - 3),
    calc(var(--theme-accent-active-s) * 1.02),
    calc(var(--theme-accent-active-l) * 1.15 * var(--color-opacity))
  );
  --color-accent-2: hsl(
    calc(var(--base-accent-h) - 5),
    calc(var(--theme-accent-active-s) * 1.05),
    calc(var(--theme-accent-active-l) * 1.29 * var(--color-opacity))
  );
  --text-normal: hsla(var(--base-accent-h), 50%, 94%, 75%);
  --text-on-accent: #eaeaea !important;

  &:not(.color-highlight-only) {
    --background-primary-hsl: var(--base-accent-h), 6%, 11%;
    --background-primary-alt-hsl: var(--base-accent-h), 10%, 13%;
    --background-secondary-hsl: calc(var(--base-accent-h) - 8), 6%, 12%;
    --background-modifier-hover: hsl(
      var(--base-accent-h),
      var(--theme-accent-active-s),
      max(50%, var(--accent-l) * 0.6),
      20%
    );
    --frame-bg: hsl(
      var(--base-accent-h),
      calc(var(--theme-accent-active-s) * 0.5),
      calc(8% + var(--theme-accent-active-l) * 0.1 * var(--color-opacity))
    );
  }

  &.color-use-minimal {
    --text-on-accent: #1e1e1f !important;
    --base-accent-h: var(--setting-color-active-custom-dark-h, 210);

    &:not(.color-highlight-only) {
      --background-primary-hsl: var(--base-accent-h), 4%, 10%;
      --background-primary-alt-hsl: var(--base-accent-h), 8%, 12%;
      --background-secondary-hsl: calc(var(--base-accent-h) - 8), 4%, 12%;
      --frame-bg: hsl(
        var(--base-accent-h),
        calc(var(--theme-accent-active-s) * 0.1),
        calc(8% + var(--theme-accent-active-l) * 0.1 * var(--color-opacity))
      );
    }

    --theme-accent-active-s: var(--setting-color-active-custom-dark-s, 4%);
    --theme-accent-active-l: var(--setting-color-active-custom-dark-l, 72%);
    --theme-accent-inactive-s: var(--setting-color-inactive-custom-dark-s, 12%);
    --theme-accent-inactive-l: var(--setting-color-inactive-custom-dark-l, 42%);
  }

  &.color-use-custom {
    --bg-delta-dark: var(--setting-bg-delta-dark, 0%);
    --background-primary-hsl:
      var(--base-accent-h), calc(5% + var(--bg-delta-dark) / 2), calc(11% + var(--bg-delta-dark));
    --background-primary-alt-hsl:
      var(--base-accent-h), calc(10% + var(--bg-delta-dark) / 2), calc(13% + var(--bg-delta-dark));
    --background-secondary-hsl:
      calc(var(--base-accent-h) - 18), calc(6% + var(--bg-delta-dark) / 2),
      calc(12% + var(--bg-delta-dark));

    --base-accent-h: var(--setting-accent-h-dark, 207);
    --theme-accent-active-s: 24%;
    --theme-accent-active-l: 52%;
    --theme-accent-inactive-s: 12%;
    --theme-accent-inactive-l: 32%;

    &.color-active-alt-dark {
      --theme-accent-h: calc(var(--base-accent-h) + 60);
    }

    &.color-active-custom-dark {
      --theme-accent-active-h: var(--setting-color-active-custom-dark-h);
      --theme-accent-active-s: var(--setting-color-active-custom-dark-s);
      --theme-accent-active-l: var(--setting-color-active-custom-dark-l);
      --theme-accent-inactive-h: var(--setting-color-inactive-custom-dark-h);
      --theme-accent-inactive-s: var(--setting-color-inactive-custom-dark-s);
      --theme-accent-inactive-l: var(--setting-color-inactive-custom-dark-l);
    }

    &.color-modify-bg-dark:not(.color-highlight-only) {
      --default-mod-bg-hsl: 0, 0%, 7%;
      --background-primary-hsl: var(--setting-bg-primary-dark-hsl, var(--default-mod-bg-hsl));
      --background-primary-alt-hsl: var(
        --setting-bg-primary-alt-dark-hsl,
        var(--default-mod-bg-hsl)
      );
      --background-secondary-hsl: var(--setting-bg-secondary-dark-hsl, var(--default-mod-bg-hsl));
      --frame-bg: var(--setting-bg-frame-dark, hsl(var(--default-mod-bg-hsl)));
    }
  }
}
